{%extends 'base.html'%}
{%load static%}
{%block content%}
{%if user.is_authenticated and user.accessmodule.buildings_module%}
<div class="container">
    <h4 class="text-center mb-3">Środki trwałe</h4>
    <h5 class="text-center mb-3">Budynki</h5>
    <div class="row my-3">
        <div class="col-md-3 align-self-start">
             <div>
                <span>Wszystkie budynki: </span>
                <span class="badge text-white info badge-pill">{{buildings_sum_all}}</span>
            </div>
            <div>
                <span>Aktywne budynki: </span>
                <span class="badge text-white info badge-pill">{{buildings_sum}}</span>
            </div>
            <div>
                {%if buildings_search%}
                <span>Wyszukane budynki: </span>
                <span class="badge text-white info badge-pill">{{buildings_search}}</span>
                {%endif%}
            </div>
        </div>
        <div class="col-md-6">
            <div class="w-100 py-4 d-flex justify-content-center align-items-center flex-column text_center">
                <form id="form-search" method="get">
                    <div class="input-group">
                        <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj budynku" aria-label="Search" aria-describedby="search-addon" value="{%if query%}{{q}}{%endif%}">
                            <button id="searchButton" style="{%if query%}display:none;{%endif%}" type="submit" class="btn btn-outline-primary my-btn">Szukaj</button>
                            <button id="cleanButton"  style="{%if not query%}display:none;{%endif%}" type="button" class="btn btn-outline-primary my-btn" onclick="cleanSearch()">Wyczyść</button>
                    </div>
                </form>
            </div>
        </div>
            <div class="col-md-3 py-4 moj-button-right align-self-end">
                <a href="{%url 'fixedasset:add_new_building'%}">
                    <button type="button" class="btn btn-outline-primary my-btn ">
                        <span class="bi bi-plus-circle"> Dodaj budynek</span>
                    </button></a>
            </div>
    </div>
</div>
<div class="container">
    <table class="table table-hover my-table">
        <thead>
        <tr class="my-table-tr text-center">
            <th align="center" valign="middle" width="50" scope="col">L.p.</th>
            <th align="center" valign="middle" width="120" scope="col">Powiat</th>
            <th align="center" valign="middle" width="auto" scope="col">Jednostka</th>
            <th align="center" valign="middle" width="200" scope="col">Typ budynku</th>
            <th align="center" valign="middle" width="180" scope="col">Nazwa budynku</th>
            <th align="center" valign="middle" width="auto" scope="col">Nr.inwentarzowy</th>
            <th align="center" valign="middle" width="auto" scope="col">Status</th>
            <th align="center" valign="middle" width="auto" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {%for building in buildings %}
        <tr class="my-table-tr">
            <td class="text-center" valign="middle" scope="row"></td>
            <td align="center" valign="middle" scope="row"><span>{{building.unit.county.name}}</span></td>
            <td align="left" valign="middle" scope="row"><span data-toggle="info" title="{{building.unit.address}}, {{building.unit.zip_code}} {{building.unit.city}}">{{building.unit.type.type_full}} - {{building.unit.city}}</span></td>
            <td class="text-center" valign="middle" scope="row"><span>{{building.kind}}</span></td>
            <td class="text-center" valign="middle" scope="row"><span>{{building.building_name}}</span></td>
            <td class="text-center" valign="middle" scope="row"><span>{{building.no_inventory}}</span></td>
            {%if building.state == True%}
            <td data-toggle="info" align="center" valign="middle" title="Aktywny">
                <i class="bi bi-circle-fill text-success"></i>
            </td>
            {%else%}
            <td data-toggle="info" align="center" valign="middle" title="Usunięty">
                <i class="bi bi-x-circle-fill text-danger"></i>
            </td>
            {%endif%}
            <td align="right" valign="middle">
                <button data-toggle="info" title="Pokaż" type="button" data-url="{% url 'fixedasset:show_information' building.id %}" class="btn btn-outline-success mx-2" onclick="openModal(this)">
                    <i class="bi bi-info-lg my-1"></i>
                </button>

                {%if user.accessmodule.contractors_module_edit%}
                <a class="mx-2 moj-button-right" href="{%url 'fixedasset:edit_building' building.id%}">
                    <button data-toggle="info" title="Edytuj" type="submit" class="btn btn-outline-primary icon-color my-1">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </a>
                {%endif%}
            </td>
        </tr>
        {%endfor%}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="7">Wydział Inwestycji i Remontów KWP w Poznaniu</th>
        </tr>
        </tfoot>
    </table>

    {%if search%}
    <nav aria-labelledby="Page navigation">
        <ul class="pagination justify-content-center">
            {%if buildings.has_previous%}
            <li class="page-item">
                <a class="page-link" href="?page={{buildings.previous_page_number}}">Poprzednia</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Poprzednia</a>
            </li>
            {%endif%}
            {%for i in buildings.paginator.page_range%}
            {%if buildings.number == i%}
            <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{i}}
                <span class="sr-only"></span>
            </span>
            </li>
            {%else%}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {%endif%}
            {%endfor%}
            {%if buildings.has_next%}
            <li class="page-item">
                <a class="page-link" href="?page={{buildings.next_page_number}}">Następna</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Następna</a>
            </li>
            {%endif%}
        </ul>
    </nav>
    {%endif%}
</div>
<!--Modal-->
<div class="modal fade" id="informationModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-secretariat").classList.remove("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");

    function openModal(button){
        var url = $(button).data("url");
        $("#informationModal .modal-content").load(url);
        $("#informationModal").modal("show");
    }

    function submitForm(){
        $("#submitButton").closest("form").submit();
    }


    $(function () {
        $('[data-toggle="info"]').tooltip()
    })


    function cleanSearch(){
        $("#q").val("");
        $("#form-search").submit();
    }
</script>
{%endif%}
{%endblock%}

