{%load static%}
{%load bootstrap%}
{%load humanize%}
{%block content%}
<div class="container ">
    <form class="m-2 p-4" method="get" action="{% url 'fixedasset:show_information' id %}">
        {%csrf_token%}
        <div class="container">
            <div class="text-center">
                <h5 class="mb-2">Nr. inwentarzowy: {{building.no_inventory}}</h5>
                <small> Utworzono: {{building.creation_date|date:'d.m.Y'}}&nbsp;r. ({{building.creation_date|date:'H.i'}})</small>
            </div>
            <div class="my-2">
                <span class="text-muted">Obiekt: </span>
                <span>{{building.unit.information}}</span>
            </div>
            <div class="my-2">
                <span class="text-muted">Nazwa budynku: </span>
                <span>{{building.building_name}}</span>
            </div>
            <div class="my-2">
                <span class="text-muted">Rodzaj budynku: </span>
                <span>{{building.kind}}</span>
            </div>
            <div class="my-2">
                <span class="text-muted">Adres: </span>
                <span>{{building.unit}}</span>
            </div>
            {%if building.usable_area%}
            <div class="my-2">
                <span class="text-muted">Powierzchnia użytkowa: </span>
                <span>{{building.usable_area|intcomma}} m<sup>2</sup></span>
            </div>
            {%endif%}
            {%if building.volume%}
            <div class="my-2">
                <span class="text-muted">Kubatura: </span>
                <span>{{building.volume|intcomma}} m<sup>3</sup></span>
            </div>
            {%endif%}
            <div class="my-2">
                <span class="text-muted">Status: </span>
                {%if state%}
                <span>Usuniety</span>
                {%else%}
                <span>Aktywny</span>
                {%endif%}
            </div>
            {%if building.information%}
            <div class="my-2">
                <span class="text-muted">Informacje: </span>
                <span>{{building.information}}</span>
            </div>
            {%endif%}
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group">
                            <small class="text-muted">Autor: {{building.author.first_name}}
                                {{building.author.last_name}}</small>
                            <small class="text-muted">Zmiany: {{building.change|date:'d.m.Y'}} ({{building.change|date:'H:i'}})</small>
                        </li>
                    </ul>
                </div>
                {%if user.accessmodule.buildings_module_edit%}
                <div class="col-md-6 moj-button-right">
                    <a href="{%url 'fixedasset:edit_building' building.id %}">
                        <button type="button" class="btn btn-outline-primary my-btn">
                            <span class="bi bi-pencil-square"> Edytuj</span>
                        </button>
                    </a>
                </div>
                {%endif%}
            </div>
        </div>
    </form>
</div>
{%endblock%}

