#ignorowanie folderów
*.log
*.pot
*.pyc
__pycache__
__pycache__/
/__pycache__/
**/.idea
**/venv
**.pyc
local_settings.py
__ pycache __
local_conf.py
ll_theme
.build
.datasource
db.sqlite3
.mypy_cache/