{%load static%}
{%load bootstrap%}
{%load thumbnail%}
{%load static%}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="{%static 'main/bootstrap/css/bootstrap.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/css/style.css'%}" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="{%static 'main/bootstrap/js/bootstrap.bundle.js'%}"></script>
    <!--    jquery-->
    <script src="{%static 'main/bootstrap/jquery/jquery-3.6.0.min.js'%}"></script>
    <!-- icon -->
    <link rel="shortcut icon" href="{%static 'main/media/logo.ico'%}" type="x-icon">
    <!--    ICON SOURCE-->
    <link rel="stylesheet" href="{%static 'main/bootstrap-icons/bootstrap-icons.css'%}">

    <title>Galeria - {{gallery.name}}</title>
</head>
<body>
<div class="body footer mt-5">
    <div class="row">
        <div class="col-10">
            <h4 class="text-center"> {{gallery.project.project_title}} - {{gallery.name}} r. ({{photocount}})</h4>
        </div>
        <div class="col-md-2">
            <a href="{%url 'main:welcome'%}"><button type="button" class="btn btn-outline-success my-btn" data-toggle="info" title="Strona główna">
                    <span class="bi bi-house"></span>
                </button></a>
        </div>
    </div>
    <div class="row">
        <div class="container my-5 col-md-9">
            <div class="photo_gallery">
                {%for photo in gallery.photo.all%}
                {%thumbnail photo.src '400x350' as im%}
                <a href="{{photo.src.url}}"><img class="img-thumbnail m-3" src="{{im.url}}" alt="" title=""></a>
                {%endthumbnail%}
                {%endfor%}
            </div>
        </div>
        <div class="col-md-2 my-5">
            {%if user.accessmodule.gallery_module_edit%}
            <form class="mt-5" method="POST" enctype="multipart/form-data" action=".">
                {%csrf_token%}
                <input type="file" accept="image/png, image/jpeg" name="images" multiple>
                <input class="btn btn-outline-primary my-btn my-4" type="submit" value="Dodaj zdjęcie">
            </form>
            {%endif%}
        </div>
    </div>
</div>
<section class="fixed-bottom">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            {%if user.is_authenticated%}
            <section class="">
                <span class="d-flex justify-content-center align-items-center"><a
                        class="text-decoration-none link-light" href="{%url 'main:telephone_list'%}"
                        target="_blank"><span>Spis telefonów</span></a></span>
            </section>
            {%endif%}
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
            <span>© 2021 Wydział inwestycji i Remontów KWP w Poznaniu</span>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>
<script>
     $(function () {
        $('[data-toggle="info"]').tooltip()
    })
</script>
</body>
</html>