{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%load thumbnail%}
{%load static%}
{%block content%}
<div class="row">
    <div class="col-md-2">
        <a href="{%url 'gallery:gallery_list'%}">
            <button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span>
            </button>
        </a>
    </div>
        <div class="col-8">
            <h4 class="text-center"> {{gallery.project.project_title}} - {{gallery.name}} r. ({{photocount}})</h4>
        </div>
    </div>
    <div class="row">
        <div class="container my-5 col-md-9">
            <div class="photo_gallery">
                {%for photo in gallery.photo.all%}
                {%thumbnail photo.src '400x350' as im%}
                <a href="{{photo.src.url}}"><img class="img-thumbnail m-3" src="{{im.url}}" alt="" title=""></a>
                {%endthumbnail%}
                {%endfor%}
            </div>
        </div>
        <div class="col-md-2 my-5">
            {%if user.accessmodule.gallery_module_edit%}
            <form class="mt-5" method="POST" enctype="multipart/form-data" action=".">
                {%csrf_token%}
                <input type="file" name="images" multiple>
                <input class="btn btn-outline-primary my-btn my-4" type="submit" value="Dodaj zdjęcie">
            </form>
            {%endif%}
        </div>
    </div>
{%endblock%}