{% extends 'base.html' %}
{% load static %}
{% block title %} Przeglądy {% endblock %}
{% block content %}
<h4 class="text-center mb-3">Przeglądy</h4>
<ul class="nav nav-pills justify-content-around">
    <li class="nav-item my-2">
        <button id="button-first" class="btn btn-outline-primary my-btn" data-url="{% url 'constructioninspections:buildings_inspections_choice' %}" onclick="openModal(this)">
            <span class="bi bi-chevron-double-right"> Przeglądy budynków</span>
        </button>
    </li>
    <li class="nav-item my-2">
        <a href="{% url 'constructioninspections:create_chimney_inspection_list' %}">
            <button class="btn btn-outline-primary my-btn">
                <span class="bi bi-chevron-double-right"> Przeglądy kominowe</span>
            </button>
        </a>
    </li>
    <li class="nav-item my-2">
        <button class="btn btn-outline-primary my-btn" data-url="{% url 'constructioninspections:electrical_inspections_choice' %}" onclick="openModal(this)">
            <span class="bi bi-chevron-double-right"> Przeglądy elektryczne</span>
        </button>
    </li>
    <li class="nav-item my-2">
        <a href="{% url 'constructioninspections:create_heating_boilers_inspection_list' %}">
            <button class="btn btn-outline-primary my-btn">
                <span class="bi bi-chevron-double-right"> Przeglądy kotłów grzeczwych</span>
            </button>
        </a>
    </li>
    <li class="nav-item my-2">
        <a href="{% url 'constructioninspections:create_air_conditioners_inspection_list' %}">
        <button class="btn btn-outline-primary my-btn">
            <span class="bi bi-chevron-double-right"> Przeglądy klimatyzatorów</span>
        </button></a>
    </li>
    <li class="nav-item my-2">
        <a href="{% url 'constructioninspections:create_fire_inspection_list' %}">
            <button class="btn btn-outline-primary my-btn">
                <span class="bi bi-chevron-double-right"> Przeglądy przeciw pożarowe</span>
            </button>
        </a>
    </li>
</ul>
<hr>
{% block inspections %}
{% endblock %}
<!-- Modal -->
<div class="modal fade" id="informationModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-secretariat").classList.remove("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");

    function openModal(button){
        var url = $(button).data("url");
        $("#informationModal .modal-content").load(url);
        $("#informationModal").modal("show");
    }

    function submitForm(){
        $("#submitButton").closest("#button-first").submit();
    }
</script>
{% endblock %}

