{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%} Darowizny {{year}}{%endblock%}
{%block content%}
<div class="kontrahenci-title justify-content-center align-items-center text-center">
    <h4>Darowizny {{year}} r.</h4>
    {% if last_date %}
    <small>Ostatnia aktualizacja: {{last_date.change|date:"d.m.Y (H:i)"}}</small>
    {%endif%}
</div>
<div>
    <div class="row my-3">
        <div class="col-md-3 align-self-end">
            <span>Liczba wniosków: </span><span class="badge text-white info badge-pill">{{application_len}}</span>
        </div>
        <div class="col-md-6">
            <section class="w-100 d-flex justify-content-center align-items-center flex-column text_center">
                <form method="get">
                    <div class="input-group">
                        <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj wniosku"
                               aria-label="Search" aria-describedby="search-addon" value="{%if query%}{{q}}{%endif%}">
                        <button type="submit" class="btn btn-outline-primary my-btn">{{query}}{{search}}</button>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-3 moj-button-right align-self-end">
            <div class="mb-2">
                <a href="">
                    <button class="btn btn-outline-danger">Archiwum</button>
                </a>
            </div>
            <div class="mt-2">
                <a href="{%url 'donations:add_donation'%}">
                    <button type="button" class="btn btn-outline-primary my-btn">
                        <span class="bi bi-plus-circle"> Dodaj wniosek</span>
                </button>
                </a>
            </div>
        </div>

    </div>
</div>
<div class="mx-2">
    <table class="table table-sm my-table">
        <thead>
        <tr class="my-table-tr text-center">
            <th align="center" valign="middle" width="50" scope="col">L.p.</th>
            <th align="center" valign="middle" width="auto" scope="col">L.dz. WIiR</th>
            <th align="center" valign="middle" width="auto" scope="col">Data</th>
            <th align="center" valign="middle" width="auto" scope="col">Data zwrotu</th>
            <th align="center" valign="middle" width="auto" scope="col">Nr. wniosku</th>
            <th align="center" valign="middle" width="auto" scope="col">Kwota</th>
            <th align="center" valign="middle" width="auto" scope="col">Nr. porozumienia</th>
            <th align="center" valign="middle" width="auto" scope="col">Data porozumienia</th>
            <th align="center" valign="middle" width="auto" scope="col">Darczyńca</th>
            <th align="center" valign="middle" width="auto" scope="col">Powiat</th>
        </tr>
        </thead>
        <tbody>
        {%for application in applications %}
        <tr class="my-table-tr">
            <td class="text-center" valign="middle" scope="row" data-toggle="donations_info" title="Ostatnie zmiany: ({{user.first_name}} {{user.last_name}})"></td>
            <td align="center" valign="middle" scope="row" ><small>{{application.character}}</small></td>
            <td align="center" valign="middle" scope="row" data-toggle="donations_info" title="Data wpływu do WIiR">{%if application.date_receipt%}<span>{{application.date_receipt}}&nbsp.r</span>{%else%}<span>---</span>{%endif%}</td>
            <td align="center" valign="middle" data-toggle="donations_info" title="Data zwrotu od WF">{%if application.date_return%}<span>{{application.date_return}}&nbsp.r</span>{%else%}<span>---</span>{%endif%}</td>
            <td class="text-center" valign="middle" data-toggle="donations_info" title="Rodzaj darowizny: {{application.donation_type}}">{%if application.no_application%}<span>{{application.no_application}}</span>{%else%}<span>---</span>{%endif%}</td>
            <td class="text-center" valign="middle" data-toggle="donations_info" title="Rodzaj środków: {{application.financial_type}}">{%if application.sum%}<span>{{application.sum}}&nbspzł.</span>{%else%}<span>---</span>{%endif%}</td>
            <td class="text-center" valign="middle" data-toggle="donations_info" title="">{%if application.no_agreement%}<span>{{application.no_agreement}}</span>{%else%}<span>---</span>{%endif%}</td>
            <td class="text-center" valign="middle">{%if application.date_agreement%}<span>{{application.date_agreement}}&nbsp.r</span>{%else%}<span>---</span>{%endif%}</td>
            <td class="text-center" valign="middle"><span>{{application.presenter.name}}</span></td>
            <td class="text-center" valign="middle" data-toggle="donations_info" title="{{application.unit.type.type_short}} {{application.unit.city}}"><span>{{application.unit.county.name}}</span></td>
            <td align="right" valign="middle">
                <button data-toggle="donations_info" title="Pokaż" type="button" class="btn btn-outline-success mx-2" onclick="openModal(this)"><i
                        class="bi bi-info-lg my-1"></i>
                </button>

                <a class="mx-2 moj-button-right" href="{%url 'donations:edit_donation' application.id%}">
                    <button data-toggle="donations_info" title="Edytuj" type="button" class="btn btn-outline-primary icon-color my-1"><i class="bi bi-pencil-square"></i>
                    </button>
                </a>

            </td>
        </tr>
        {%endfor%}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="7">Wydział Inwestycji i Remontów KWP w Poznaniu</th>
        </tr>
        </tfoot>
    </table>
    {%if search%}
    <nav aria-labelledby="Page navigation">
        <ul class="pagination justify-content-center">
            {%if contractors.has_previous%}
            <li class="page-item">
                <a class="page-link" href="?page={{applications.previous_page_number}}">Poprzednia</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Poprzednia</a>
            </li>
            {%endif%}
            {%for i in applications.paginator.page_range%}
            {%if contractors.number == i%}
            <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{i}}
                <span class="sr-only"></span>
            </span>
            </li>
            {%else%}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {%endif%}
            {%endfor%}
            {%if applications.has.next%}
            <li class="page-item">
                <a class="page-link" href="?page={{applications.next_page_number}}">Następna</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Następna</a>
            </li>
            {%endif%}
        </ul>
    </nav>
    {%endif%}
</div>
<!-- Modal -->
<div class="modal fade" id="informationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-secretariat").classList.remove("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");
    function openModal(button){
        var url = $(button).data("url");
        $("#informationModal .modal-content").load(url);
        $("#informationModal").modal("show");
    }

    function submitForm(){
        $("#submitButton").closest("form").submit();
    }

    $(function() {
        $('[data-toggle="donations_info"]').tooltip()
    })
</script>
{%endblock%}

