{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%} Kontrahenci {%endblock%}
{%block content%}
{%if user.is_authenticated and user.accessmodule.contractors_module%}
<div class="kontrahenci-title justify-content-center align-items-center text-center">
    <h4>Kontrahenci WIiR</h4>
    {% if last_date %}
    <small>Ostatnia aktualizacja: {{last_date.change|date:"d.m.Y (H:i)"}}</small>
    {%endif%}
</div>
<div class="container">
    <div class="row my-3">
        <div class="col-md-3 align-self-end">
            <span>Kontrahenci: </span>
            <span class="badge text-white info badge-pill">{{consellsum}}</span>
        </div>
        <div class="col-md-6">
            <section class="w-100 d-flex justify-content-center align-items-center flex-column text_center">
                <form method="get">
                    <div class="input-group">
                        <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj kontrahenta" aria-label="Search" aria-describedby="search-addon" value="{%if query%}{{q}}{%endif%}">
                        <button id="searchButton" style="{%if query%}display:none;{%endif%}" type="submit" class="btn btn-outline-primary my-btn">Szukaj</button>
                        <button id="cleanButton"  style="{%if not query%}display:none;{%endif%}" type="button" class="btn btn-outline-primary my-btn" onclick="cleanSearch()">Wyczyść</button>
                    </div>
                </form>
            </section>
        </div>
        {%if user.accessmodule.contractors_module_edit%}
            <div class="col-md-3 moj-button-right align-self-end">
                <a href="{%url 'contractors:new_contractor'%}">
                    <button type="button" class="btn btn-outline-primary my-btn">
                        <span class="bi bi-plus-circle"> Dodaj kontrahenta</span>
                    </button>
                </a>
            </div>
            {%endif%}
    </div>
</div>
<div class="container">
    <table class="table table-hover my-table">
        <thead>
        <tr class="my-table-tr text-center">
            <th align="center" valign="middle" width="50" scope="col">L.p.</th>
            <th align="center" valign="middle" width="5%" scope="col">Nr. kontrahenta</th>
            <th align="center" valign="middle" scope="col">Nazwa</th>
            <th align="center" valign="middle" width="180" scope="col">NIP</th>
            <th align="center" valign="middle" width="260" scope="col">Adres</th>
            <th align="center" valign="middle" width="100" scope="col">Kod pocztowy</th>
            <th align="center" valign="middle" width="auto" scope="col">Miasto</th>
            <th align="center" valign="middle" width="auto" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {%for contractor in contractors %}
        <tr class="my-table-tr">
            <td class="text-center" valign="middle" scope="row"></td>
            {%if contractor.no_contractor%}
            <td align="center" valign="middle" scope="row">{{contractor.no_contractor}}</td>
            {%else%}
            <td align="center" valign="middle" scope="row">---</td>
            {%endif%}
            <td valign="middle"><span>{{contractor.name}}</span></td>
            {%if contractor.nip%}
            <td class="text-center" valign="middle"><span>{{contractor.nip|default_if_none:''}}</span></td>
            {%else%}
            <td class="text-center" valign="middle"><span>---</span></td>
            {%endif%}
            <td valign="middle"><span>{{contractor.address}}</span></td>
            <td class="text-center" valign="middle"><span>{{contractor.zip_code}}</span></td>
            <td class="text-center" valign="middle"><span>{{contractor.city}}</span></td>
            <td align="right" valign="middle">
                {%if contractor.information%}
                <button data-toggle="info" title="Pokaż" type="button" data-url="{% url 'contractors:show_information' contractor.id %}" class="btn btn-outline-success mx-2" onclick="openModal(this)">
                    <i class="bi bi-info-lg my-1"></i>
                </button>
                {%endif%}
                {%if user.accessmodule.contractors_module_edit%}
                <a class="mx-2 moj-button-right" href="{%url 'contractors:edit_contractor' contractor.id%}">
                    <button data-toggle="info" title="Edytuj" type="submit" class="btn btn-outline-primary icon-color my-1">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </a>
                {%endif%}
            </td>
        </tr>
        {%endfor%}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="7">Wydział Inwestycji i Remontów KWP w Poznaniu</th>
        </tr>
        </tfoot>
    </table>
    {%if search%}
    <nav aria-labelledby="Page navigation">
        <ul class="pagination justify-content-center">
            {%if contractors.has_previous%}
            <li class="page-item">
                <a class="page-link" href="?page={{contractors.previous_page_number}}">Poprzednia</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Poprzednia</a>
            </li>
            {%endif%}
            {%for i in contractors.paginator.page_range%}
            {%if contractors.number == i%}
            <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{i}}
                <span class="sr-only"></span>
            </span>
            </li>
            {%else%}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {%endif%}
            {%endfor%}
            {%if contractors.has.next%}
            <li class="page-item">
                <a class="page-link" href="?page={{contractors.next_page_number}}">Następna</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Następna</a>
            </li>
            {%endif%}
        </ul>
    </nav>
    {%endif%}
</div>
<!-- Modal -->
<div class="modal fade" id="informationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");

    function openModal(button){
        var url = $(button).data("url");
        $("#informationModal .modal-content").load(url);
        $("#informationModal").modal("show");
    }

    function submitForm(){
        $("#submitButton").closest("form").submit();
    }

    $(function () {
        $('[data-toggle="info"]').tooltip()
    })

    function cleanSearch(){
        $("#q").val("");
        //$("#cleanButton").hide();
        //$("#searchButton").show();
        $("form").submit();
    }
</script>
{%endif%}
{%endblock%}

