{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%}{%if new%}Nowy kontrahent{%else%}Edycja kontrahenta{%endif%}{%endblock%}
{%block content%}
<div class="row">
    <div class="col-md-3">
        <a href="{%url 'contractors:contractorssell_list'%}"><button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span></button></a>
    </div>
    <div class="col-md-6">
        <h4 class="text-center">{%if new%}Nowy kontrahent{%else%}Edycja kontrahenta{%endif%}</h4>
    </div>
</div>
<div class="container px-5 pb-5 col-md-8">
    <form method="post">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-7 p-2">{{contractor_form.name|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contractor_form.no_contractor|bootstrap}}</div>
            <div class="col-md-7 p-2">{{contractor_form.address|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contractor_form.nip|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contractor_form.zip_code|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contractor_form.city|bootstrap}}</div>
            <div class="col-md-11 p-2">{{contractor_form.information|bootstrap}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 moj-button-right">
                <button type="submit" class="btn btn-outline-primary my-btn">Zapisz zmiany</button>
            </div>
        </div>
    </form>
</div>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.add("active");

</script>
{%endblock%}