{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%}{%if new%}Nowy kontrahent{%else%}Edycja kontrahenta{%endif%}{%endblock%}

{%block content%}

<h4 class="text-center">{%if new%}Nowy kontrahent{%else%}Edycja kontrahenta{%endif%}</h4>
<div class="col-md-6 moj-button-left"><a href="{%url 'contractors:contractorssell_list'%}">
    <button class="btn btn-outline-primary"><span class="bi bi-chevron-compact-left">Cofnij</span></button>
</a></div>
<div class="container">
    <form method="post">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-7 m-2">{{contractor_form.nazwa|bootstrap}}</div>
            <div class="col-md-4 m-2">{{contractor_form.nocuntractor|bootstrap}}</div>
            <div class="col-md-7 m-2">{{contractor_form.adres|bootstrap}}</div>
            <div class="col-md-4 m-2">{{contractor_form.nip|bootstrap}}</div>
            <div class="col-md-4 m-2">{{contractor_form.kod_pocztowy|bootstrap}}</div>
            <div class="col-md-4 m-2">{{contractor_form.miasto|bootstrap}}</div>
            <div class="col-md-12 m-2">{{contractor_form.informacje|bootstrap}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 moj-button-right">
                <button type="submit" class="btn btn-outline-primary">Zapisz zmiany</button>
            </div>
        </div>
    </form>
</div>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.add("active");

</script>
{%endblock%}