{%load static%}
{%load bootstrap%}
{%block content%}
<div class="container ">
<form class="m-2 p-4" method="get" action="{% url 'contractors:show_information' id %}">
    {%csrf_token%}
    <div class="container">
        <div>{{contractor.name}}</div>
        <div class="my-4"><span class="text-muted">NIP: </span>{{contractor.nip|default_if_none:'---'}}</div>
        <div><span class="text-muted">Informacje: </span><p>{{contractor.information}}</p></div>

    </div>
</form>
</div>
{%endblock%}

