{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<section class="w-100 p-4 pb-4 d-flex justify-content-center align-items-center flex-column">
    <div>
        <form method="get">
            <div class="input-group">
                <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj umowy" aria-label="Search" aria-describedby="search-addon">
                <button type="submit" class="btn btn-outline-primary">{{query}}{{search}}</button>
            </div>
        </form>
    </div>
</section>
<div class="row">
    <div class="col-md-12 moj-button-right"><a href="{%url 'contracts:new_contractsimmovables'%}"><button class="btn btn-outline-primary button-choise-contracts">Nowa umowa</button></a></div>
</div>
<div class="kontrahenci-title">
    <h4>Umowy czynszowe</h4>
    <p class="m-0"><span>Liczba umów aktualnych: {{contrsum}}</span></p>
    <p class="m-0"><span>Liczba umów zarchiwizowanych: </span></p>
</div>
<table class="table table-hover my-table mt-2">
    <thead>
    <tr class="my-table-tr">
        <th align="center" valign="middle" width="40" scope="col" class="text-center">L.p.</th>
        <th align="center" valign="middle" width="150" scope="col" class="text-center">Data umowy</th>
        <th align="center" valign="middle" width="180" scope="col" class="text-center">Nr. umowy</th>
        <th align="center" valign="middle" width="250" scope="col" class="text-center" >Kontrahent</th>
        <th align="center" valign="middle" width="150" scope="col" class="text-center">Okres obowiązywania</th>
        <th align="center" valign="middle" width="80" scope="col" class="text-center">Powierzchnia użyczona [m<sup>2</sup>]</th>
        <th align="center" valign="middle" scope="col" class="text-center">Rodzaj umowy</th>
        <th align="center" valign="middle" scope="col" class="text-center">Jednostka</th>
        <th align="center" valign="middle" scope="col" class="text-center">Stan umowy</th>

    </tr>
    </thead>
    <tbody>
    {%for contract in contracts %}
    <tr class="my-table-tr">
        <td align="center" valign="middle" class="text-center" scope="row"></td>
        <td align="center" valign="middle" class="text-center">{{contract.data_umowy|date:"d.m.Y"}}</td>
        <td align="center" valign="middle" class="text-center">{{contract.nrumowy|default_if_none:'---'}}</td>
        <td valign="middle">{{contract.kontrahent}}</td>
        <td align="center" valign="middle" class="text-center">{{contract.okres_obowiazywania|default_if_none:'---'|date:"d.m.Y"}}</td>
        <td align="center" valign="middle" class="text-center">{{contract.pow_uzyczona|default_if_none:'---'|intcomma}}</td>
        <td align="center" valign="middle" class="text-center">{{contract.rodzaj}}</td>
        <td>{{contract.unit}}</td>
        <td align="center" valign="middle">{{contract.stan}}</td>
        <td align="center" valign="middle">
            <a href="{% url 'contracts:show_contractsimmovables' contract.id%}"><button type="submit" class="btn btn-outline-primary">Podgląd</button></a>
        </td>
        <td align="center" valign="middle">
            <a href="{%url 'contracts:edit_contractsimmovables' contract.id %}"><button type="button" class="btn btn-outline-primary">Edytuj</button></a>
        </td>
    </tr>
    {%endfor%}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="5">Wydział Inwestycji i Remontów KWP w Poznaniu</th>

    </tr>
    </tfoot>
</table>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.add("active");
     document.getElementById("button-contractors").classList.remove("active");
</script>
{%endblock%}
