{%extends 'base.html'%}
{%load bootstrap%}
{%load static%}
{%block content%}
<h4 class="text-center">Nowa Umowa</h4>
<div class="col-md-6 moj-button-left"><a href="{%url 'contracts:menu_contractsimmovables'%}">
            <button class="btn btn-outline-primary">Cofni</button>
        </a></div>
<div class="container">
<form method="post">
    {%csrf_token%}
{{contract_form|bootstrap}}

</form>
<div class="row mt-4">
        <div class="col-md-6 moj-button-right">
            <button type="submit" class="btn btn-outline-primary">Zapisz zmiany</button>
        </div>
    </div>

{%endblock%}
</div>
<script>
     document.getElementById("button-kontrahenci").classList.remove("active");
     document.getElementById("button-nowa-umowa").classList.add("active");
</script>