{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}{%if new%}Dodaj nową umowe{%else%}Edycja umowy{%endif%}{%endblock%}
{% block content %}
<h4 class="text-center">{%if new%}Nowa umowa{%else%}Edycja umowy{%endif%}</h4>
<div class="col-md-6 moj-button-left"><a href="{%url 'contracts:menu_contractsimmovables'%}">
    <button class="btn btn-outline-primary"><span class="bi bi-chevron-compact-left">Cofnij</span></button>
</a></div>
<div class="container px-5 pb-5 col-md-8">
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-4 p-2 ">{{contract_form.data_umowy|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contract_form.nrumowy|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contract_form.rodzaj|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contract_form.podstawa|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contract_form.okres_obowiazywania|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contract_form.pow_uzyczona|bootstrap}}</div>
            <div class="col-md-12 p-2">{{contract_form.kontrahent|bootstrap}}</div>
            <div class="col-md-12 p-2">
                <div class="form-grup">
                    <label class="control-label" for="id_unit">Jednostka</label>
                    <div class="">
                        <select name="unit" class="form-control" required id="id_unit">
                            {% regroup units by powiat as powiat_list %}
                            <option>---------</option>
                            {% for powiat in powiat_list %}
                            <optgroup label="{{powiat.grouper}}">
                                {% for unit in powiat.list %}
                                {% if contract_form.unit.value == unit.id %}
                                <option value="{{unit.id}}" selected>{{unit}}</option>
                                {% else %}
                                <option value="{{unit.id}}">{{unit}}</option>
                                {% endif %}
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12 my-5">
                <fieldset class="my-cost">
                    <legend class="p-2" title="Koszy ponoszone przez WIiR">Koszty</legend>
                    <div class="row m-3">
                        <div class="col-md-6 ">
                            <ul class="list-group">
                                <li class="list-group-item">{{contract_form.koszt_czynsz|bootstrap}}</li>
                                <li class="list-group-item">{{contract_form.koszt_prad|bootstrap}}</li>
                                <li class="list-group-item">{{contract_form.koszt_gaz|bootstrap}}</li>
                                <li class="list-group-item">{{contract_form.koszt_woda|bootstrap}}</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">{{contract_form.koszt_co|bootstrap}}</li>
                                <li class="list-group-item">{{contract_form.koszt_smieci|bootstrap}}</li>
                                <li class="list-group-item">{{contract_form.koszt_podsmiec|bootstrap}}</li>
                                <li class="list-group-item"> {{contract_form.koszt_podnier|bootstrap}}</li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <div class="col-md-9">{{contract_form.comments|bootstrap}}</div>
                <div class="col-md-3">{{contract_form.skan|bootstrap}}</div>
            </div>
        </div>
        {%if new == False%}
        <div class="my-5">
            <fieldset class="col-md-9 p-2 my-cost">
                <legend>Aneks</legend>
                <div class="row m-3 col-md-8">
                    <div class="col-md-5 ">{{aneks_form.data_aneksu|bootstrap}}</div>
                    <div class="col-md-4 ">{{aneks_form.skan_aneksu|bootstrap}}</div>
                </div>
            </fieldset>
        </div>
        {%endif%}
        <div class="row mt-5">
            {%if new == False%}

            <div class="col-md-12 moj-button-right">
                <button type="submit" class="btn btn-outline-primary">Zapisz zmiany</button>
            </div>
        </div>
        {%else%}
        <div class="col-md-12 moj-button-right">
            <button type="submit" class="btn btn-outline-primary">Dodaj</button>
        </div>
        {%endif%}

    </form>
    <script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.add("active");
     document.getElementById("button-contractors").classList.remove("active");





    </script>
    {% endblock %}