{%extends 'base.html'%}
{%load bootstrap%}
{%load static%}
{%block content%}
<h4 class="text-center">{%if new%}Nowa umowa{%else%}Edycja umowy{%endif%}</h4>
<div class="col-md-6 moj-button-left"><a href="{%url 'contracts:menu_contractsimmovables'%}">
    <button class="btn btn-outline-primary">Cofni</button>
</a></div>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{contract_form|bootstrap}}
        <div class="row mt-4">
            <div class="col-md-12 moj-button-right">
                <button type="submit" class="btn btn-outline-primary">Zapisz zmiany</button>
            </div>
        </div>
    </form>
    <script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.add("active");
     document.getElementById("button-contractors").classList.remove("active");
    </script>
    {%endblock%}