{%extends 'basic_contracts.html'%}
{%load static%}
{%block contracts%}
<section class="w-100 p-4 pb-4 d-flex justify-content-center align-items-center flex-column">
    <div>
        <form method="get">
            <div class="input-group">
                <input name="" id="" type="text" class="form-control rounded" placeholder="szukaj umowy" aria-label="Search" aria-describedby="search-addon">
                <button type="submit" class="btn btn-outline-primary">Szukaj</button>
            </div>
        </form>
    </div>
</section>
<div class="row">
    <div class="col-md-12 moj-button-right"><a href="{%url 'contractors:new_contractorsell'%}"><button type="button" class="btn btn-outline-primary">Nowa umowa</button></a></div>
</div>
<div class="kontrahenci-title">
    <h4>Umowy czynszowe</h4>
    <p><span>Liczba umów: {{contrsum}}</span></p>
</div>
<table class="table table-hover my-table">
    <thead>
    <tr class="my-table-tr">
        <th scope="col">L.p</th>
        <th scope="col">Umowa</th>
        <th scope="col">Kontrachent</th>
        <th scope="col">NIP</th>
        <th scope="col">Jednostka</th>
        <th scope="col">Kod pocztowy</th>
        <th scope="col">Rodzaj umowy</th>
        <th scope="col">Stan umowy</th>

    </tr>
    </thead>
    <tbody>
    {%for contractor in contractors %}
    <tr class="my-table-tr">
        <td scope="row"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a href="{%url 'contractors:edit_contractorsell' contractor.id%}"><button type="submit" class="btn btn-outline-primary">Edytuj</button></a>
        </td>
    </tr>
    {%endfor%}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="7">Wydział Inwestycji i Remontów KWP w Poznaniu</th>

    </tr>
    </tfoot>
</table>
{%endblock%}

<script>
     document.getElementById("button-kontrahenci").classList.add("active");
     document.getElementById("button-nowa-umowa").classList.remove("active");
</script>

