{% extends 'base.html' %}
{% load bootstrap %}
{% load humanize %}
{% load static %}
{% block title %}Dodaj Umowę {%endblock%}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <a href="{%url 'contracts:menu_contracts_auction'%}">
            <button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span>
            </button>
        </a>
    </div>
    <div class="col-md-6">
        <h4 class="text-center">{%if new%}Nowa umowa ZZP{%else%}Edycja umowy {{contract.no_contract}}{%endif%}</h4>
    </div>
</div>
<div class="container mt-4 pb-5 col-md-8">
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-3 my-2">{{contract_auction_form.date|bootstrap}}</div>
            <div class="col-md-5 my-2">{{contract_auction_form.no_contract|bootstrap}}</div>
            <div class="col-md-4 my-2">{{contract_auction_form.price|bootstrap}}</div>
            <div class="col-md-8 my-2">{{contract_auction_form.contractor|bootstrap}}</div>
            <div class="col-md-4 my-2">{{contract_auction_form.legal_basic|bootstrap}}</div>
            <div class="col-md-8 my-2">
                <div class="form-group">
                    <label class="control-label" for="id_unit">Jednostka</label>
                    <div class="">
                        <select name="unit" class="form-control" required id="id_unit">
                            {% regroup units by county as county_list %}
                            <option>---------</option>
                            {% for county in county_list %}
                            <optgroup label="{{county.grouper}}">
                                {% for unit in county.list %}
                                {% if contract_auction_form.unit.value == unit.id %}
                                <option value="{{unit.id}}" selected>{{unit}}</option>
                                {% else %}
                                <option value="{{unit.id}}">{{unit}}</option>
                                {% endif %}
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">{{contract_auction_form.end_date|bootstrap}}</div>
            <div class="col-md-12 my-2">{{contract_auction_form.work_scope|bootstrap}}</div>
            <div class="col-md-4 my-2">{{contract_auction_form.guarantee|bootstrap}}</div>
            <div class="col-md-4 my-2">{{contract_auction_form.guarantee_period|bootstrap}}</div>
            <div class="col-md-4 my-2">{{contract_auction_form.warranty_period|bootstrap}}</div>
            <div class="col-md-3 my-2">{{contract_auction_form.security_percent|bootstrap}}</div>
            <div class="col-md-3 my-2">{{contract_auction_form.last_report_date|bootstrap}}</div>
            <div class="col-md-6 my-2">{{contract_auction_form.worker|bootstrap}}</div>
            {%if new == False%}
            <div class="col-md-6 my-2">{{contract_auction_form.information|bootstrap}}</div>
            <div class="col-md-6 my-2">{{contract_auction_form.report|bootstrap}}</div>
            {% else %}
            <div class="col-md-12 my-2">{{contract_auction_form.information|bootstrap}}</div>
            {%endif%}
        </div>
        <div class="row">
            <div class="col-md-6 my-2">{{contract_auction_form.scan|bootstrap}}</div>
            <div class="col-md-6 my-2">
                {%if new == False%}
                {%if contract.scan%}
                <div class="row">
                    <div class="col-md-6 moj-button-left">
                        <button type="button" class="btn btn-outline-primary my-btn" onclick="openModal()">Dodaj aneks
                        </button>
                    </div>
                    <div class="col-md-6 moj-button-right">
                        <button type="submit" class="btn btn-outline-primary my-btn"><span class="bi bi-save2"> Zapisz zmiany</span>
                        </button>
                    </div>
                </div>
                {%else%}
                 <div class="col-md-12 moj-button-right">
                        <button type="submit" class="btn btn-outline-primary my-btn"><span class="bi bi-save2"> Zapisz zmiany</span>
                        </button>
                    </div>
                </div>
                {%endif%}
                {%else%}
                <div class="col-md-12 py-4 moj-button-right">
                    <button type="submit" class="btn btn-outline-primary my-btn"><span
                            class="bi bi-save2"> Dodaj umowę</span>
                    </button>
                </div>
                {%endif%}
            </div>
        </div>
    </form>
</div>
{%if new == False%}
<!-- Modal -->
<div class="modal fade" id="annexModal" data-url="{% url 'contracts:add_annex_contract_auction' contract.id %}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
{%endif%}
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.remove("active");
     document.getElementById("button-investments").classList.add("active");

    // definicja funkcji otwierającej modal
    // będzie uruchamiana na event "onclick"
    function openModal(){
        var url = $("#annexModal").data("url");
        $("#annexModal .modal-content").load(url);
        $("#annexModal").modal("show");
    }

    function submitForm(){
        $("#submitButton").closest("form").submit();
    }
</script>
{% endblock %}