{% extends 'base.html' %}
{% load bootstrap %}
{% load humanize %}
{% load static %}
{% block title %}Dodaj Umowę {%endblock%}
{% block content %}
{%if user.is_authenticated and user.accessmodule.contracts_auction_module_edit%}
<div class="container col-md-8 mb-3">
    <div class="row">
        <div class="col-md-3">
            <a href="{%url 'contracts:menu_contracts_auction'%}">
                <button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        <div class="col-md-6">
            <h4 class="text-center">{%if new%}Nowa umowa ZZP{%else%}Edycja umowy {{contract.no_contract}}{%endif%}</h4>
        </div>
    </div>
</div>
<div class="container col-md-8">
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="row my-2">
            <div class="col-md-3 ">{{contract_auction_form.date|bootstrap}}</div>
            <div class="col-md-5">{{contract_auction_form.no_contract|bootstrap}}</div>
            <div class="col-md-4">{{contract_auction_form.price|bootstrap}}</div>
        </div>
        <div class="row my-2">
            <div class="col-md-8">{{contract_auction_form.contractor|bootstrap}}</div>
            <div class="col-md-4">{{contract_auction_form.legal_basic|bootstrap}}</div>
        </div>
        <div class="row my-2">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label" for="id_unit">Jednostka</label>
                    <div class="">
                        <select name="unit" class="form-control" required id="id_unit">
                            {% regroup units by county as county_list %}
                            <option>---------</option>
                            {% for county in county_list %}
                            <optgroup label="{{county.grouper}}">
                                {% for unit in county.list %}
                                {% if unit_edit.id == unit.id %}
                                <option value="{{unit.id}}" selected>{{unit}}</option>
                                {% else %}
                                <option value="{{unit.id}}">{{unit}}</option>
                                {% endif %}
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">{{contract_auction_form.end_date|bootstrap}}</div>
        </div>
        <div class="row my-2">
            <div class="col-md-12 my-2">{{contract_auction_form.work_scope|bootstrap}}</div>
        </div>
        <div class="row my-2">
            <div class="col-md-4">{{contract_auction_form.guarantee|bootstrap}}</div>
            <div class="col-md-4">{{contract_auction_form.guarantee_period|bootstrap}}</div>
            <div class="col-md-4">{{contract_auction_form.warranty_period|bootstrap}}</div>
        </div>
        <div class="row my-2">
            <div class="col-md-3">{{contract_auction_form.security_percent|bootstrap}}</div>
            <div class="col-md-3">{%if new == False%}{{contract_auction_form.last_report_date|bootstrap}}{%endif%}</div>
            <div class="col-md-6">{{contract_auction_form.worker|bootstrap}}</div>
        </div>
        <div class="row my-2">
            {%if new == False%}
            <div class="col-md-6">{{contract_auction_form.information|bootstrap}}</div>
            <div class="col-md-6">{{contract_auction_form.report|bootstrap}}</div>
            {% else %}
            <div class="col-md-12">{{contract_auction_form.information|bootstrap}}</div>
            {%endif%}
        </div>
        <div class="row my-2 mb-5">
            <div class="col-md-6">{{contract_auction_form.scan|bootstrap}}</div>
            <div class="col-md-6">
                {%if new == False%}
                {%if contract.scan%}
                    <div class="row my-2">
                        <div class="col-md-6 mt-3 d-flex justify-content-center">
                            <div class="d-flex align-items-end">
                                <button type="button" class="btn btn-outline-primary my-btn" onclick="openModal()">
                                    Dodaj
                                    aneks
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 d-flex justify-content-center">
                            <div class="d-flex align-items-end">
                                <button type="submit" class="btn btn-outline-primary my-btn">
                                    <span class="bi bi-save2"> Zapisz zmiany</span>
                                </button>
                            </div>
                        </div>
                    </div>
                {%else%}
                <div class="col-md-12 mt-3 d-flex justify-content-end">
                    <div class="d-flex align-items-end">
                        <button type="submit" class="btn btn-outline-primary my-btn">
                            <span class="bi bi-save2"> Zapisz zmiany</span>
                        </button>
                    </div>
                </div>
            </div>
            {%endif%}
            {%else%}
            <div class="col-md-12 mt-3 d-flex justify-content-end">
                <div class="d-flex align-items-end">
                    <button type="submit" class="btn btn-outline-primary my-btn">
                        <span class="bi bi-save2"> Dodaj umowę</span>
                    </button>
                </div>
            </div>
            {%endif%}
        </div>
    </form>
</div>
{%if new == False%}
<!-- Modal -->
<div class="modal fade" id="annexModal" data-url="{% url 'contracts:add_annex_contract_auction' contract.id %}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{%endif%}
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.remove("active");
    document.getElementById("button-investments").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");

    function openModal(){
        var url = $("#annexModal").data("url");
        $("#annexModal .modal-content").load(url);
        $("#annexModal").modal("show");
    }

    function submitForm(){
        $("#submitButton").closest("form").submit();
    }

    $(document).ready(function(){
        $("#id_worker").select2({placeholder:'Dodaj pracownika'});
    })

    $(document).ready(function(){
        $("#id_contractor").select2({placeholder:'Wybierz kontrachenta'});
    })
</script>
{%endif%}
{% endblock %}