{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}{%if new%}Dodaj nową umowe{%else%}Edycja umowy{%endif%}{%endblock%}
{% block content %}
<div class="row">
    <div class="col-md-3"><a href="{%url 'contracts:menu_contractsimmovables'%}">
        <button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span></button>
    </a></div>
    <div class="col-md-6">
        <h4 class="text-center">{%if new%}Nowa umowa{%else%}Edycja umowy{%endif%}</h4>
    </div>
</div>
{%if new == False%}
{%if contract.scan%}
<div class="col-md-12 moj-button-right">
    <button type="button" class="btn btn-outline-primary my-btn" onclick="openModal()">Dodaj aneks</button>
</div>
{%endif%}
{%endif%}
<div class="container px-5 pb-5 col-md-8">
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-4 p-2 ">{{contract_form.date|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contract_form.no_contract|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contract_form.type_of_contract|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contract_form.legal_basic|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contract_form.period_of_validity|bootstrap}}</div>
            <div class="col-md-4 p-2">{{contract_form.usable_area|bootstrap}}</div>
            <div class="col-md-12 p-2">{{contract_form.contractor|bootstrap}}</div>
            <div class="col-md-12 p-2">
                <div class="form-group">
                    <label class="control-label" for="id_unit">Jednostka</label>
                    <div class="">
                        <select name="unit" class="form-control" required id="id_unit">
                            {% regroup units by county as county_list %}
                            <option>---------</option>
                            {% for county in county_list %}
                            <optgroup label="{{county.grouper}}">
                                {% for unit in county.list %}
                                {% if unit_edit.id == unit.id %}
                                <option value="{{unit.id}}" selected>{{unit}}</option>
                                {% else %}
                                <option value="{{unit.id}}">{{unit}}</option>
                                {% endif %}
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12 my-5">
                <fieldset class="my-cost">
                    <legend class="p-2 text-center">Koszty</legend>
                    <div class="row p-2">
                        <div class="col-md-6 ">
                            <ul class="list-group p-3">
                                <li class="list-group-item">{{contract_form.rent_cost|bootstrap}}</li>
                                <li class="list-group-item">{{contract_form.electric_cost|bootstrap}}</li>
                                <li class="list-group-item">{{contract_form.gas_cost|bootstrap}}</li>
                                <li class="list-group-item">{{contract_form.water_cost|bootstrap}}</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group p-3">
                                <li class="list-group-item">{{contract_form.central_heating_cost|bootstrap}}</li>
                                <li class="list-group-item">{{contract_form.garbage_cost|bootstrap}}</li>
                                <li class="list-group-item">{{contract_form.garbage_tax_cost|bootstrap}}</li>
                                <li class="list-group-item">{{contract_form.property_cost|bootstrap}}</li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="d-flex justify-content-between">
                <div class="col-md-9">{{contract_form.information|bootstrap}}</div>
                <div class="col-md-2">
                    <label for="id_state">Stan umowy</label>
                    <div class="form-control" id="id_state">{{contract_form.state|bootstrap}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 my-3">
                <div class="col-md-3">{{contract_form.scan|bootstrap}}</div>
            </div>
            <div class="col-md-4 my-3 py-3">
                {%if new == False%}
                <div class="moj-button-right">
                    <button type="submit" class="btn btn-outline-primary my-btn"><span class="bi bi-save2"> Zapisz zmiany</span></button>
                </div>
                {%else%}
                <div class="moj-button-right">
                    <button type="submit" class="btn btn-outline-primary my-btn"><span class="bi bi-save2"> Dodaj umowę</span></button>
                </div>
                {%endif%}
            </div>
        </div>
    </form>
</div>
{% if new == False%}
<!-- Modal -->
<div class="modal fade" id="annexModal" data-url="{% url 'contracts:add_annex_immovables' contract.id %}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
{%endif%}
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");

    // definicja funkcji otwierającej modal
    // będzie uruchamiana na event "onclick"
    function openModal(){
        var url = $("#annexModal").data("url");
        $("#annexModal .modal-content").load(url);
        $("#annexModal").modal("show");
    }
    function submitForm(){
        $("#submitButton").closest("form").submit();
    }
</script>
{% endblock %}