{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}Umowy najmu - WIiR{%endblock%}
{% block content %}
<section class="w-100 p-4 pb-4 d-flex justify-content-center align-items-center flex-column">
    <div>
        <form method="get">
            <div class="input-group">
                <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj umowy" aria-label="Search" aria-describedby="search-addon">
                <button type="submit" class="btn btn-outline-primary">{{query}}{{search}}</button>
            </div>
        </form>
    </div>
</section>
<div class="row">
    <div class="col-md-12 moj-button-right my-1"><a href="{%url 'contracts:new_contractsimmovables'%}">
        <button class="btn btn-outline-primary button-choise-contracts">Nowa umowa</button></a></div>
</div>
<div class="kontrahenci-title">
    <h4>Umowy najmu</h4>
    <p class="m-0"><span>Liczba umów aktualnych: {{contrsum}}</span></p>
    <p class="m-0"><span>Liczba umów zarchiwizowanych: </span></p>
</div>

<table class="table table-hover my-table mt-2">
    <thead>
    <tr class="my-table-tr">
        <th align="center" valign="middle" width="40" scope="col" class="text-center">L.p.</th>
        <th align="center" valign="middle" width="160" scope="col" class="text-center">Data umowy</th>
        <th align="center" valign="middle" width="200" scope="col" class="text-center">Nr. umowy</th>
        <th align="center" valign="middle" width="300" scope="col" class="text-center">Kontrahent</th>
        <th align="center" valign="middle" width="180" scope="col" class="text-center">Okres obowiązywania</th>
        <th align="center" valign="middle" width="150" scope="col" class="text-center">Powierzchnia użyczona</th>
        <th align="center" valign="middle" width="120" scope="col" class="text-center">Rodzaj umowy</th>
        <th align="center" valign="middle" width="400" scope="col" class="text-center">Jednostka</th>
        <th align="center" valign="middle" width="100" scope="col" class="text-center">Stan umowy</th>

    </tr>
    </thead>
    <tbody>
    {%for contract in contracts %}
    <tr class="my-table-tr">
        <td align="center" valign="middle" class="text-center" scope="row"></td>
        <td align="center" valign="middle" class="text-center">{{contract.date|date:"d.m.Y"}}</td>
        <td align="center" valign="middle" class="text-center">{{contract.no_contract|default_if_none:'---'}}</td>
        <td valign="middle">{{contract.contractor}}</td>
        <td align="center" valign="middle" class="text-center">{{contract.period_of_validity|default_if_none:'---'|date:"d.m.Y"}}</td>
        <td align="center" valign="middle" class="text-center">{%if contract.usable_area%} {{contract.usable_area|intcomma}} m<sup>2 {%else%} --- {%endif%}</sup></td>
        <td align="center" valign="middle" class="text-center">{{contract.type_of_contract}}</td>
        <td valign="middle">{{contract.unit}}</td>
        <td align="center" valign="middle">{{contract.state}}</td>
        <td align="center" valign="middle">
           <a href="{% url 'contracts:show_contractsimmovables' contract.id %}"><button type="button" class="btn btn-outline-primary icon-color mx-2 my-1"><i class="bi bi-eye"></i></button></a>
           <a href="{% url 'contracts:edit_contractsimmovables' contract.id %}"><button type="button" class="btn btn-outline-primary icon-color mx-2 my-1"><i class="bi bi-pencil-square"></i></button></a>
        </td>
    </tr>
    {%endfor%}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="5">Wydział Inwestycji i Remontów KWP w Poznaniu</th>

    </tr>
    </tfoot>
</table>
<!--Pagination-->
 {%if query == Flase%}
    <nav aria-labelledby="Page navigation">
        <ul class="pagination justify-content-center">
            {%if contracts.has_previous%}
            <li class="page-item">
                <a class="page-link" href="?page={{contracts.previous_page_number}}">Poprzednia</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Poprzednia</a>
            </li>
            {%endif%}
            {%for i in contracts.paginator.page_range%}
            {%if contracts.number == i%}
            <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{i}}
                <span class="sr-only"></span>
            </span>
            </li>
            {%else%}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {%endif%}
            {%endfor%}
            {%if contracts.has.next%}
            <li class="page-item">
                <a class="page-link" href="?page={{contracts.next_page_number}}">Następna</a>
            </li>
            {%else%}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Następna</a>
            </li>
            {%endif%}
        </ul>
    </nav>
{%endif%}
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.add("active");
     document.getElementById("button-contractors").classList.remove("active");
</script>
{%endblock%}
