{% extends 'base.html' %}
{% load bootstrap %}
{% load humanize %}
{% load static %}
{% block title %}Dodaj Umowę {%endblock%}
{% block content %}
<h4 class="text-center">{%if new%}Nowa umowa ZZP{%else%}Edycja umowy {{contract.no_contract}}{%endif%}</h4>
<div class="col-md-6 moj-button-left"><a href="{%url 'contracts:menu_contracts_auction'%}">
    <button class="btn btn-outline-primary"><span class="bi bi-chevron-compact-left">Cofnij</span></button></a></div>
<div class="container col-md-8">
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{contract_auction_form|bootstrap}}

        {%if new == False%}
        <fieldset class="mt-5">
            <legend>Dodaj aneks</legend>

        </fieldset>
        {%endif%}
        <div class="row mt-5">
            {%if new == False%}

            <div class="col-md-12 moj-button-right">
                <button type="submit" class="btn btn-outline-primary">Zapisz zmiany</button>
            </div>
        </div>
        {%else%}
        <div class="col-md-12 moj-button-right">
            <button type="submit" class="btn btn-outline-primary">Dodaj</button>
        </div>
        {%endif%}

    </form>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.remove("active");
     document.getElementById("button-investments").classList.add("active");
</script>
{% endblock %}