{%load static%}
{%load bootstrap%}
{%load humanize%}
{%block content%}
<div class="container ">
<form class="m-2 p-4" method="POST" action="{% url 'contracts:edit_settlement' id %}">
    {%csrf_token%}
    <div class="container">
        <h6 class="text-center"><b>Umowa {{settlement_model.contract.no_contract}} z dnia {{settlement_model.contract.date|date:"d.m.Y"}}&nbsp;r.</b></h6>
        <div>
            <span class="text-muted">Kontrahent: </span><span>{{settlement_model.contract.contractor.name}} - {{settlement_model.contract.contractor.city}} (NIP: {{settlement_model.contract.contractor.nip}})</span>
        </div>
        <div>
            <span class="text-muted">Przedmiot umowy: </span><span>{{settlement_model.contract.work_scope}}</span>
        </div>
        <div>
            <span class="text-muted">Wartość umowy: </span><span>{{settlement_model.contract.price|intcomma}}&nbsp;zł.</span>
        </div>
        <div>
            <span class="text-muted">Data końcowego protokołu: </span><span>{{settlement_model.contract.end_date|date:"m.d.Y"}}&nbsp;r.</span>
        </div>
        <div>
            <span class="text-muted">Data zwrotu gwarancji: </span><span class="color-info-warning">{{settlement_model.deadline_settlement|date:"m.d.Y"}}&nbsp;r.</span>
        </div>
        <div>
            <span class="text-muted">Rodzaj gwarancji: </span><span>{{settlement_model.contract.guarantee}}</span>
        </div>
        <div>
            <span class="text-muted">Data rozliczenia gwarancji: </span><span>{{settlement_model.deadline_settlement}}&nbspr.</span>
        </div>
        <div hidden>{{settlement_form.deadline_settlement}}</div>
        <div hidden>{{settlement_form.settlement_sum}}</div>
        <div class="col-md-6 my-3">{{settlement_form.script|bootstrap}}</div>
        <div class="row">
            <div class="col-md-6 pt-2">
                <div class="col-md-6">
                    <div class="form-control">
                        {{settlement_form.affirmation_settlement|bootstrap}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-primary my-btn">Rozlicz kaucję</button>
            </div>
        </div>
    </div>
</form>
</div>
{%endblock%}

