{%load static%}
{%load bootstrap%}
{%load humanize%}
{%block content%}
<div class="container ">
    <form class="m-2 p-4" method="POST" action="{% url 'contracts:edit_settlement' id %}">
        {%csrf_token%}
        <div class="container">
            <h6 class="text-center"><b>Umowa {{settlement_model.contract.no_contract}} z dnia {{settlement_model.contract.date|date:"d.m.Y"}}&nbsp;r.</b></h6>
            <div>
                <span class="text-muted">Kontrahent: </span>
                <span>{{settlement_model.contract.contractor.name}} - {{settlement_model.contract.contractor.city}} {%if settlement_model.contract.contractor.nip%} (NIP: {{settlement_model.contract.contractor.nip}}) {%endif%}</span>
            </div>
            <div>
                <span class="text-muted">Przedmiot umowy: </span>
                <span>{{settlement_model.contract.work_scope}}</span>
            </div>
            <div>
                <span class="text-muted">Wartość umowy: </span>
                <span>{{settlement_model.contract.price|intcomma}}&nbsp;zł.</span>
            </div>
            <div>
                <span class="text-muted">Data końcowego protokołu: </span>
                <span>{{settlement_model.contract.end_date|date:"m.d.Y"}}&nbsp;r.</span>
            </div>
            <div>
                <span class="text-muted">Data zwrotu gwarancji: </span>
                <span class="color-info-warning">{{settlement_model.deadline_settlement|date:"m.d.Y"}}&nbsp;r.</span>
            </div>
            <div>
                <span class="text-muted">Rodzaj gwarancji: </span>
                <span>{{settlement_model.contract.guarantee}}</span>
            </div>
            <div>
                <label class="text-muted" for="id_settlement_sum">Kwota: </label>
                <input type="number" name="settlement_sum" value="{{settlement_model.settlement_sum}}" step="0.01" id="id_settlement_sum" readonly>
            </div>

            <div class="form-group my-3">
                <label class="control-label" for="id_script">Nr. pisma zwracanego zabezpieczenia</label>
                <input type="text" name="script" maxlength="50" class="form-control" id="id_script">
            </div>

            {{settlement_form.deadline_settlement|bootstrap}}
            {{settlement_form.settlement_sum|bootstrap}}
            {{settlement_form.script|bootstrap}}
            <div class="row">
                <div class="col-md-6">
                    {{settlement_form.affirmation_settlement|bootstrap}}
                </div>
                <div class="col-md-6 moj-button-right align-self-end">
                    <button type="submit" class="btn btn-outline-primary my-btn" onclick="openModal()"> Dodaj pismo i rozlicz gwarancje</button>
                </div>
            </div>
        </div>
    </form>
</div>
{%endblock%}

