{%extends 'base.html'%}
{%load bootstrap%}
{%load static%}
{%block content%}
<div class="row">
    {%if actual%}
    <div class="col-md-2 moj-button-left"><a href="{%url 'contracts:menu_contractsimmovables'%}">
    <button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span></button>
</a>
</div>
    {%else%}
    <div class="col-md-2 moj-button-left"><a href="{%url 'contracts:menu_contractsimmovables_archive'%}">
    <button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span></button>
</a>
</div>
    {%endif%}

<div class="col-md-8">
<h4 class="text-center" title="Ostatnie zmiany na umowie: {{contract.change|date:'d.m.Y - (H:i)'}}">Umowa {%if contract.no_contract%} nr {{contract.no_contract}} {%endif%} z dnia
    {{contract.date|date:"d.m.Y"}}</h4>
    </div>

</div>
<div class="container px-5 pb-5 col-md-10">
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="text-muted">Data umowy: </span><span>{{contract.date|date:"d.m.Y"}}</span></li>
                {%if contract.no_contract%}
                <li class="list-group-item"><span class="text-muted">Nr. umowy: </span><span>{{contract.no_contract}}</span></li>
                {%endif%}
                <li class="list-group-item"><span class="text-muted">Kontrahent: </span><span>{{contract.contractor}}</span></li>
                <li class="list-group-item"><span class="text-muted">Podstawa prawna: </span><span>{{contract.legal_basic}}</span></li>
                <li class="list-group-item"><span class="text-muted">Rodzaj umowy: </span><span>{{contract.type_of_contract}}</span></li>
                {%if contract.usable_area%}
                <li class="list-group-item"><span class="text-muted">Powierzchnia użyczona: </span><span>{{contract.usable_area}} m<sup>2</sup></span></li>
                {%endif%}
                <li class="list-group-item"><span class="text-muted">Okres obowiązywania: </span><span>{{contract.period_of_validity|date:"d.m.Y"}}</span></li>
                <li class="list-group-item"><span class="text-muted">Koszty: </span>
                    {% if contract.rent_cost %} <span class="color-maroon">Czynsz</span>{%endif%}
                    {% if contract.electric_cost %} <span class="color-indygo">Prąd</span> {%endif%}
                    {% if contract.gas_cost %} <span class="color-gold">Gaz</span> {%endif%}
                    {% if contract.water_cost %} <span class="color-sky">Woda</span> {%endif%}
                    {% if contract.central_heating_cost %} <span class="color-cinamon">C.O.</span> {%endif%}
                    {% if contract.garbage_cost %} <span class="color-dirty">Śmieci</span> {%endif%}
                    {% if contract.garbage_tax_cost %} <span class="color-slategrey">Podatek śmieciowy</span> {%endif%}
                    {% if contract.property_cost %} <span class="color-teal">Podatek od nieruchomości</span> {%endif%}
                </li><li class="list-group-item"><span class="text-muted">Jednostka: </span><span> {{contract.unit}}</span></li>
                <li class="list-group-item"><span class="text-muted">Stan umowy: </span>{%if contract.state %}<span class="text-success">Aktualna</span>{%else%}<span class="text-danger">Rozwiązana</span> {%endif%}
                </li>
                {%if contract.information%}
                <li class="list-group-item"><span class="text-muted">Informacje: </span>{{contract.information}}</li>
                {%endif%}
                <li class="list-group-item"><small class="text-muted">Data dodania umowy: {{contract.creation_date|date:"d.m.Y"}}</small></li>
                <li class="list-group-item"><small class="text-muted">Użytkownik: {{contract.author}}</small></li>
            </ul>

        </div>
        <div class="col-md-4">
            {%if contract.scan%}
            <div class="text-center">
                <a href="/media/{{contract.scan}}" role="button" target="_blank"><button class="btn btn-outline-primary button-chose-invoices my-btn" type="button">Podgląd umowy</button></a>
            </div>
            {%endif%}

            {%if annexes%}
            {%for annex in annexes%}
            <div class="text-center my-3">
                <div ><a href="/media/{{annex.scan_annex}}" target="_blank"><button class="btn btn-outline-primary button-chose-invoices my-btn"><i class="bi bi-arrow-return-right"> Aneks z dnia {{annex.date_annex|date:"d.m.Y"}} r.</i></button>
                </a></div>
            </div>
            {%endfor%}
            {%endif%}
        </div>
    </div>
</div>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.add("active");
     document.getElementById("button-contractors").classList.remove("active");

</script>
{%endblock%}