{%extends 'base.html'%}
{%load bootstrap%}
{%load static%}
{%block content%}
<h4 class="text-center">Umowa z dnia {{contract.data_umowy|date:"d.m.Y"}}</h4>
<div class="col-md-6 moj-button-left"><a href="{%url 'contracts:menu_contractsimmovables'%}">
            <button class="btn btn-outline-primary">Cofni</button>
        </a></div>
<div class="container">
{{contract.nrumowy}}
{{contract.kontrahent}}
{{contract.podstawa}}
{{contract.okres_obowiazywania}}
{{contract.rodzaj}}
{{contract.pow_uzyczona}}
{{contract.koszt_czynsz}}
{{contract.koszt_prad}}
{{contract.koszt_gaz}}
{{contract.koszt_woda}}
{{contract.koszt_co}}
{{contract.koszt_smieci}}
{{contract.koszt_podsmiec}}
{{contract.koszt_podnier}}
{{contract.unit}}
{{contract.stan}}
{{contract.comments}}
{{contract.stan}}
    </div>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.add("active");
     document.getElementById("button-contractors").classList.remove("active");
</script>
{%endblock%}