{%extends 'base.html'%}
{%load bootstrap%}
{%load humanize%}
{%load static%}
{% block title %}Umowa z dnia {{contract.date|date:"d.m.Y"}} r. {%endblock%}
{%block content%}
{%if user.is_authenticated and user.accessmodule.contracts_auction_module%}
<div class="container mb-3">
    <div class="row">
        <div class="col-md-2 moj-button-left">
            <a href="{% url 'contracts:menu_contracts_auction' %}">
                <button class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        <div class="col-md-8 text-center">
            <h4>Umowa {%if contract.no_contract%} nr {{contract.no_contract}} {%endif%}z dnia
                {{contract.date|date:"d.m.Y"}}&nbsp;r.</h4>
            <small class="text-muted">Data dodania: {{contract.creation_date|date:'d.m.Y'}}
                ({{contract.creation_date|date:'H:m'}})</small>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="text-muted">Wykonawca: </span>
                    <span>{{contract.contractor.name}},
                        {{contract.contractor.address}},
                        {{contract.contractor.zip_code}}
                        {{contract.contractor.city}}
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="text-muted">Wartość umowy: </span>
                    <span>{{contract.price|intcomma}} zł.</span>
                </li>
                <li class="list-group-item">
                    <span class="text-muted">Zakres umowy: </span>
                    <span>{{contract.work_scope}}</span>
                </li>
                <li class="list-group-item">
                    <span class="text-muted">Tryb zamówienia: </span>
                    <span data-toggle="info"
                          title="{{contract.legal_basic.act}} - {{contract.legal_basic.legal_basic_text}}">{{contract.legal_basic}}</span>
                </li>
                <li class="list-group-item">
                    <span class="text-muted">Termin realizacji: </span>
                    <span>{{contract.end_date}} r.</span>
                </li>
                <li class="list-group-item">
                    <span class="text-muted">Jednostka: </span>
                    <span>{{contract.unit}}</span>
                </li>
                <li class="list-group-item">
                    <span class="text-muted">Gwarancja: </span>
                    <span>{{contract.guarantee}}</span>
                </li>
                {%if contract.last_report_date%}
                <li class="list-group-item">
                    <span class="text-muted">Data ostatniego protokołu: </span>
                    <span>{{contract.last_report_date}} r.</span>
                </li>
                {%endif%}
                {%if contract.guarantee_period > 0%}
                <li class="list-group-item">
                    <span class="text-muted">Okres gwarancji: </span>
                    <span>{{contract.guarantee_period}} mc</span>
                </li>
                {%endif%}
                {%if contract.warranty_period > 0%}
                <li class="list-group-item">
                    <span class="text-muted">Okres rękojmi : </span>
                    <span>{{contract.warranty_period}} mc</span>
                </li>
                {%endif%}
                {%if contract.security_percent%}
                <li class="list-group-item">
                    <span class="text-muted">Procent zabezpieczenia: </span>
                    <span>{{contract.security_percent}}%</span>
                </li>
                {%endif%}
                {%if contract.security_sum%}
                <li class="list-group-item">
                    <span class="text-muted">Kwota zabezpieczenia: </span>
                    <span>{{contract.security_sum|intcomma}}&nbsp;zł.</span>
                </li>
                {%endif%}
                <li class="list-group-item">
                    <span class="text-muted">Branżysta: </span>
                    <ul>
                        {%for worker in contract.worker.all%}
                        <li>
                            <span>{{worker}} - {{worker.industry}}</span>
                        </li>
                        {%endfor%}
                    </ul>
                </li>
                {%if contract.report%}
                <li class="list-group-item">
                    <span class="text-muted">Raportowanie do Zaspołu Zamówień Publicznych: </span>
                    <span>{{contract.report}}</span>
                </li>
                {%endif%}
                {%if contract.information%}
                <li class="list-group-item">
                    <span class="text-muted">Informacje: </span>
                    <span>{{contract.information}}</span>
                </li>
                {%endif%}
                <li class="list-group-item">
                    <span class="text-muted">Rozliczenie gwarancji:</span>
                    {%for settlement in contract.guarantee_settlement.all%}
                    {%if settlement.affirmation_settlement%}
                    <button class="btn btn-outline-primary my-btn mx-3" onclick="openSettlementModal(this)"
                            data-url="{% url 'contracts:show_information_settlement' settlement.id%}">
                        {{settlement.script}}
                    </button>
                    {%endif%}
                    {%endfor%}
                </li>
                <li class="list-group-item">
                    <div>
                        <small class="text-muted">Zmiany: {{contract.change|date:'d.m.Y'}}&nbsp;r.
                            ({{contract.change|date:'H:i'}})</small><br>
                        <small class="text-muted">Autor: {{contract.author.first_name}}
                            {{contract.author.last_name}}</small>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-5 text-center">
            <ul class="list-group">
                {%if contract.scan%}
                <li class="list-group my-1 mx-5">
                    <a class="list-group-item list-group-item-action w-100" href="/media/{{contract.scan}}"
                       target="_blank">
                        <span class="bi bi-file-text"> Podgląd umowy</span>
                    </a>
                </li>
                {%if annexes%}
                {%for annex in annexes%}
                <li class="list-group my-1 mx-5">
                    <a class="list-group-item list-group-item-action w-100" href="/media/{{annex.scan}}" target="_blank">
                        <i class="bi bi-arrow-return-right"> Aneks z dnia {{annex.date|date:"d.m.Y"}}&nbsp;r.</i>
                    </a>
                </li>
                {%endfor%}
                {%endif%}
                {%endif%}
            </ul>
        </div>
    </div>
</div>
<!--Modal-->
<div class="modal fade" id="informationModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.remove("active");
    document.getElementById("button-investments").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");

    function openSettlementModal(button){
        var url = $(button).data("url");
        $("#informationModal .modal-content").load(url);
        $("#informationModal").modal("show");
    }

    function submitForm(){
        $("#submitButton").closest("form").submit();
    }






</script>
{%endif%}
{%endblock%}