{%extends 'base.html'%}
{%load bootstrap%}
{%load static%}
{% block title %}Umowa z dnia {{contract.date|date:"d.m.Y"}} r. {%endblock%}
{%block content%}
{%if user.is_authenticated and user.accessmodule.contract_media%}
<div class="container mb-3">
    <div class="row">
        {%if contract.state%}
        <div class="col-md-2 moj-button-left">
            <a href="{%url 'contracts:create_contract_media_list'%}">
                <button class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        {%else%}
        <div class="col-md-2 moj-button-left">
            <a href="{%url 'contracts:contract_media_list_archive'%}">
                <button class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        {%endif%}
        <div class="col-md-6 text-center">
            <h4 title="Ostatnie zmiany na umowie: {{contract.change|date:'d.m.Y - (H:i)'}}">Umowa {%if contract.no_contract%} nr {{contract.no_contract}} {%endif%} z dnia {{contract.date|date:"d.m.Y"}}
                r.</h4>
            <small class="text-muted">Data utworzenia: {{contract.creation_date|date:'d.m.Y'}}&nbsp;r.
                ({{contract.creation_date|date:'H:i'}})</small>
        </div>
        <div class="col-md-3 moj-button-left">
            <a href="{%url 'contracts:financial_document_list' contract.id%}">
                <button class="btn btn-outline-primary my-btn">
                    <span class="bi bi-files"> Dokumenty księgowe</span>
                </button>
            </a>
        </div>
        <div class="col-md-1 moj-button-right">
            {%if user.accessmodule.contract_media_edit%}
            <a href="{% url 'contracts:edit_contract_media' id %}">
                <button data-toggle="info" title="Edytuj" type="submit" class="btn btn-outline-primary my-btn ">
                    <i class="bi bi-pencil-square"></i>
                </button>
            </a>
            {%endif%}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-9">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="text-muted">Kontrahent: </span>
                    <span>{{contract.contractor}}</span></li>
                <li class="list-group-item">
                    <span class="text-muted">Zakres umowy: </span>
                    <span>{{contract.content}}</span></li>
                <li class="list-group-item">
                    <span class="text-muted">Tryb zamówienia: </span>
                    <span data-toggle="info"
                          title="{{contract.legal_basic.legal_basic_text}}">{{contract.legal_basic}}</span>
                </li>
                <li class="list-group-item">
                    <span class="text-muted">Rodzaj umowy: </span>
                    <span>{{contract.type}}</span>
                </li>
                <li class="list-group-item">
                    <span class="text-muted">Okres obowiązywania: </span>
                    {%if contract.period_of_validity%}
                    {% now 'Y-m-d' as today_date%}
                    {%if contract.period_of_validity|date:'Y-m-d' <= today_date%}
                    <span class="text-center color-info-warning">{{contract.period_of_validity|date:"d.m.Y"}}&nbsp;r.</span>
                    {%else%}
                    <span class="text-center">{{contract.period_of_validity|default_if_none:'---'|date:"d.m.Y"}}&nbsp;r.</span>
                    {%endif%}
                    {%else%}
                    <span class="text-center">bezterminowa</span>
                    {%endif%}
                </li>
                <li class="list-group-item">
                    <span class="text-muted">Jednostka: </span>
                    {% regroup units by county as unit_list %}
                    <ul class="mt-2">
                        {% for county in unit_list %}
                        <li>{{ county.grouper }}
                            <ul>
                                {% for unit in county.list %}
                                <li>{{ unit }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="list-group-item">
                    <span class="text-muted">Stan umowy: </span>
                    {%if contract.state %}
                    <span class="text-success">Aktualna</span>
                    {%else%}
                    <span class="text-danger">Rozwiązana</span>
                    {%endif%}
                </li>
                {%if contract.information%}
                <li class="list-group-item">
                    <span class="text-muted">Informacje: </span>
                    <p>{{contract.information}}</p>
                </li>
                {%endif%}
                <li class="list-group-item">
                    <span class="text-muted">Branżysta: {{contract.employer}}</span></li>
                <li class="list-group-item">
                    <small class="text-muted">Autor: {{contract.author.first_name}}
                        {{contract.author.last_name}}</small><br>
                    <small class="text-muted">Zmiany: {{contract.change|date:'d.m.Y'}}
                        ({{contract.change|date:'H:i'}})</small>
                </li>
            </ul>
        </div>
        <div class="col-md-3 ">
            <ul class="list-group">
                {%if contract.scan%}
                <li class="list-group m-1">
                    <a class="btn list-group-item" href="/media/{{contract.scan}}" role="button" target="_blank">
                        <span class="bi bi-file-text"> Podgląd umowy</span>
                    </a>
                </li>
                {%endif%}

                {%if annexes%}
                {%for annex in annexes%}
                <li class="list-group m-1">
                    <a class="btn list-group-item" href="/media/{{annex.scan}}" target="_blank">
                        <i class="bi bi-arrow-return-right"> Aneks z dnia {{annex.date|date:"d.m.Y"}}&nbsp;r.</i>
                    </a>
                </li>
                {%endfor%}
                {%endif%}
            </ul>
        </div>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");




</script>
{%endif%}
{%endblock%}