{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%} Zespół Eksploatacji {%endblock%}
{%block content%}
{%if user.is_authenticated and user.accessmodule.records_letters%}
<div class="mx-2">
    <div class="row mt-3">
        <div class="col-md-3">
            <div class="row mt-2">
                <div class="col-md-12 mb-3">
                    {%if archive == False%}
                    <span>W realizacji: </span>
                    <span class="badge text-white info badge-pill">{{objectslen}}</span>
                    {%else%}
                    <span>Zrealizowane: </span>
                    <span class="badge text-white info badge-pill">{{objectslen}}</span>
                    {%endif%}
                </div>
                <div class="col-md-6 moj-button-left">
                    {%if archive == False%}
                    <a href="{% url 'operationalneedsrecords:list_needs_letter_archive' year %}">
                        <button type="button" class="btn btn-outline-primary my-btn">
                            <span class="bi bi-journal-check"> Zrealizowane</span>
                        </button></a>
                    {%else%}
                    <a href="{% url 'operationalneedsrecords:list_needs_letter' year %}">
                        <button type="button" class="btn btn-outline-danger">
                            <span class="bi bi-journal"> W realizacji</span>
                        </button></a>
                    {%endif%}
                </div>
                <div class="col-md-6 moj-button-light">
                    <a href="{%url 'operationalneedsrecords:show_statistic' year%}">
                        <button type="button" class="btn btn-outline-primary my-btn">
                            <span class="bi bi-bar-chart-line"> Statystyki</span>
                        </button></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="kontrahenci-title justify-content-center align-items-center text-center">
                <h4>Ewidencja pism ZE <b>{{year}}</b></h4>
                {% if last_date %}
                <small>Ostatnia aktualizacja: {{last_date.change|date:"d.m.Y "}}&nbsp;r.
                    ({{last_date.change|date:"H:i"}})</small>
                {%endif%}
            </div>
            <section class="w-100 d-flex justify-content-center align-items-center flex-column text_center mt-3">
                <form id="form-search" method="get">
                    <div class="input-group">
                        <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj sprawy"
                               aria-label="Search" aria-describedby="search-addon" value="{%if query%}{{q}}{%endif%}">
                        <button id="searchButton" style="{%if query%}display:none;{%endif%}" type="submit"
                                class="btn btn-outline-primary my-btn">Szukaj
                        </button>
                        <button id="cleanButton" style="{%if not query%}display:none;{%endif%}" type="button"
                                class="btn btn-outline-primary my-btn" onclick="cleanSearch()">Wyczyść
                        </button>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 moj-button-right mb-2 ">
                    <button class="btn btn-outline-danger"
                            data-url="{% url 'operationalneedsrecords:show_archive_year_list'%}"
                            onclick="showYearListModal(this)">Archiwum
                    </button>
                </div>
                {%if user.accessmodule.records_letters_edit%}
                <div class="col-md-12 moj-button-right mt-2">
                    <a href="{%url 'operationalneedsrecords:new_needs_latter' year%}">
                        <button type="button" class="btn btn-outline-primary my-btn">
                            <span class="bi bi-journal-plus"> Dodaj sprawę</span>
                        </button></a>
                </div>
                {%endif%}
            </div>
        </div>
    </div>
</div>
<div class="mt-2">
    <table class="table table-hover my-table">
        <thead>
        <tr class="my-table-tr text-center">
            <th align="center" valign="middle" width="50" scope="col">L.p.</th>
            <th align="center" valign="middle" width="60" scope="col">Data wpływu</th>
            <th align="center" valign="middle" width="50" scope="col">Nr. z dziennika</th>
            <th align="center" valign="middle" width="auto" scope="col">Znak pisama</th>
            <th align="center" valign="middle" width="auto" scope="col">Jednostka</th>
            <th align="center" valign="middle" width="auto" scope="col">Rodzaj sprawy</th>
            <th align="center" valign="middle" width="auto" scope="col">Rodzaj zgłoszenia</th>
            <th align="center" valign="middle" width="auto" scope="col">Branżysta</th>
            <th align="center" valign="middle" width="auto" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {%for object in objects %}
        <tr class="my-table-tr">
            <td class="text-center" valign="middle" scope="row"></td>
            <td align="center" valign="middle" scope="row">{{object.receipt_date|date:"d.m.Y"}}&nbsp;r.</td>
            <td align="center" valign="middle">{{object.no_secretariats_diary}}</td>
            <td valign="middle">{{object.case_sign}}</td>
            <td valign="middle"><span>{{object.unit.type}} {{object.unit.city}}</span>
                <span>({{object.unit.county}})</span><br><small>{{object.unit.address}},
                    {{object.unit.zip_code}}</small></td>
            <td class="text-center" valign="middle">{{object.case_type}}</td>
            <td class="text-center" valign="middle">{{object.registration_type}}</td>
            <td class="text-center" valign="middle">{{object.employer}}</td>
            <td align="right" valign="middle">
                <a href="{%url 'operationalneedsrecords:needs_letter_show' year object.id%}">
                    <button data-toggle="info" title="Status" type="button" class="btn btn-outline-success mx-2">
                        <i class="bi bi-eye-fill my-1"></i>
                    </button></a>
                {%if user.accessmodule.records_letters_edit and archive == False%}
                <a class="mx-2 moj-button-right"
                   href="{%url 'operationalneedsrecords:edit_needs_letter' year object.id%}">
                    <button data-toggle="info" title="Zmień status" type="submit"
                            class="btn btn-outline-primary icon-color my-1">
                        <i class="bi bi-pencil-square"></i>
                    </button></a>
                {%endif%}
            </td>
        </tr>
        {%endfor%}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="7">Wydział Inwestycji i Remontów KWP w Poznaniu</th>
        </tr>
        </tfoot>
    </table>
    {%if search%}
    <nav aria-labelledby="Page navigation">
        <ul class="pagination justify-content-center">
            {%if objects.has_previous%}
            <li class="page-item">
                <a class="page-link" href="?page={{objects.previous_page_number}}">Poprzednia</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Poprzednia</a>
            </li>
            {%endif%}
            {%for i in objects.paginator.page_range%}
            {%if objects.number == i%}
            <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{i}}
                <span class="sr-only"></span>
            </span>
            </li>
            {%else%}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {%endif%}
            {%endfor%}
            {%if objects.has_next%}
            <li class="page-item">
                <a class="page-link" href="?page={{objects.next_page_number}}">Następna</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Następna</a>
            </li>
            {%endif%}
        </ul>
    </nav>
    {%endif%}
</div>
<!-- Modal -->
<div class="modal fade" id="infoArchiveListModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");

function showYearListModal(button){
        var url = $(button).data("url");
        $("#infoArchiveListModal .modal-content").load(url);
        $("#infoArchiveListModal").modal("show");
        }

    function openInfoModal(button){
        var url = $(button).data("url");
        $("#informationModal .modal-content").load(url);
        $("#informationModal").modal("show");
        }

    function submitForm(){
        $("#submitButton").closest("form").submit();
        }


    $(function () {
        $('[data-toggle="info"]').tooltip()
    })

    function cleanSearch(){
        $("#q").val("");
        $("#form-search").submit();
    }


</script>
{%endif%}
{%endblock%}

