{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%}{%if new%}Nowa sprawa{%else%}Edycja kontrahenta{%endif%}{%endblock%}
{%block content%}
{%if user.is_authenticated and user.accessmodule.records_letters_edit%}
<div class="container px-5 mb-3 col-md-8">
    <div class="row">
        <div class="col-md-3">
            <a href="{%url 'operationalneedsrecords:list_needs_letter'%}">
                <button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        <div class="col-md-6">
            <h4 class="text-center">{%if new%}Nowa sprawa{%else%}Edycja sprawy{%endif%}</h4>
        </div>
    </div>
</div>
<div class="container px-5 pb-5 col-md-8">
    <form method="post">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-8 my-2">{{object_form.receipt_date|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.no_secretariats_diary|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.case_sign|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.receipt_date_to_team|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.unit|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.case_description|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.case_type|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.registration_type|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.case_sign_team|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.case_sign_team|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.cost|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.employer|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.employer|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.execution_date|bootstrap}}</div>
            <div class="col-md-8 my-2">{{object_form.information|bootstrap}}</div>

            <div class="col-md-12 moj-button-right my-4">
                <button type="submit" class="btn btn-outline-primary my-btn">{%if new%}<span class="bi bi-save2"> Dodaj kontrachenta</span>{%else%}<span
                        class="bi bi-save2"> Zapisz zmiany</span>{%endif%}
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-investments").classList.remove("active");
    document.getElementById("button-secretariat").classList.remove("active");
</script>
{%endif%}
{%endblock%}