{%extends 'base.html'%}
{%load static%}
{%load humanize%}
{%block title%}Statystyki - {{year}}{%endblock%}
{%block content%}
{%if user.is_authenticated and user.accessmodule.records_letters%}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 moj-button-left">
            <a href="{%url 'operationalneedsrecords:list_needs_letter' year%}">
                <button class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        <div class="col-md-6 text-center">
            <h4>Statystyki roku {{year}}</h4>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 pr-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Liczba zarejestrowanych pism:
                    <span class="badge text-white info badge-pill">{{docs.all|length}}</span>
                </li>
                <li class="list-group-item">Całkowity koszt za cały rok:
                    <span class="badge text-white info badge-pill">{{count_all|intcomma}}&nbsp;zł</span>
                </li>
            </ul>
            <div class="mt-3">
                <span><b>Realizacja:</b></span>
                <ul class="list-group list-group-flush">
                    {%for registrationType in registrationTypeList%}
                    {%if registrationType.countType|length > 0%}
                    <li class="list-group-item">
                        {{registrationType.type}}:
                        <span class="badge text-white info badge-pill">{{registrationType.countType|length}}</span>
                        {%if registrationType.sumType > 0 %}
                        na kwotę:
                        <span class="badge text-white info badge-pill">
                        {{registrationType.sumType|intcomma}} zł
                    </span>
                        {%endif%}
                    </li>
                    {%endif%}
                    {%endfor%}
                </ul>
            </div>
            <div class="mt-3">
                <span><b>Branżyści:</b></span>
                <ul class="list-group list-group-flush">
                    {%for emp in county_emplo_list%}
                    <li class="list-group-item">
                        {{emp.employer}} - realizowanych spraw:
                        <span class="badge text-white info badge-pill">{{emp.caseCount}}</span>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="list-group">
                <div class="list-group-item">
                    sdsd
                </div>
            </div>
        </div>
    </div>
</div>
{%endif%}
{%endblock%}