{% extends 'base.html' %}
{%load bootstrap%}
{% load humanize %}
{% load static %}
{% block title %}Ewidencja - Mieszkania Służbowe{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3"><a href="{% url 'businessflats:make_flats_list'%}">
        <button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span>
        </button>
    </a></div>
    <div class="col-md-6">
        <h4 class="text-center">{%if new%}Nowe mieszkanie{%else%}Edycja mieszkania{%endif%}</h4>
    </div>
</div>
<div class="container col-md-5">
    <form method="post">
        {%csrf_token%}
        <div class="mb-3">
            {{flat_form.address|bootstrap}}
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                {{flat_form.area|bootstrap}}
            </div>
            <div class="col-md-4">
                {{flat_form.room_numbers|bootstrap}}
            </div>
            <div class="col-md-4">
                {{flat_form.flor|bootstrap}}
            </div>
        </div>
        <div class="">
            {{flat_form.information|bootstrap}}
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="list-group">
                    <label class="" for="id_state">Stan lokalu</label>
                    <div class="list-group-item" id="id_state">{{flat_form.state|bootstrap}}</div>
                </div>
            </div>
            <div class="col-md-9 moj-button-right">
                <button type="submit" class="btn btn-outline-primary my-btn">{%if new%}<span class="bi bi-save2"> Dodaj lokal</span>{%else%}Zapisz
                    zmiany{%endif%}
                </button>

            </div>
        </div>
    </form>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");
</script>
{%endblock%}