{% extends 'base.html' %}
{%load bootstrap%}
{% load humanize %}
{% load static %}
{% block title %}Ewidencja - Lokale Służbowe{% endblock %}
{% block content %}
{%if user.is_authenticated and user.accessmodule.official_flat_edit%}
<div class="row">
    <div class="col-md-3"><a href="{% url 'businessflats:make_flats_list'%}">
        <button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span>
        </button>
    </a></div>
    <div class="col-md-6">
        <h4 class="text-center">{%if new%}Nowy lokal {%else%}Edycja lokalu{%endif%}</h4>
    </div>
</div>
<div class="container col-md-7">
    <form method="post">
        {%csrf_token%}
        <div class="row mb-3">
            <div class="col-md">{{flat_form.address|bootstrap}}</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{flat_form.zip_code|bootstrap}}
            </div>
            <div class="col-md-6">
                {{flat_form.city|bootstrap}}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                {{flat_form.area|bootstrap}}
            </div>
            <div class="col-md-3">
                {{flat_form.room_numbers|bootstrap}}
            </div>
            <div class="col-md-3">
                {{flat_form.flor|bootstrap}}
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="" for="id_state">Stan lokalu</label>
                    <div class="form-control" id="id_state">{{flat_form.state|bootstrap}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            {{flat_form.information|bootstrap}}
        </div>
        <div class="col-md-12 moj-button-right mt-3">
            <button type="submit" class="btn btn-outline-primary my-btn">
                {%if new%}
                <span class="bi bi-save2"> Dodaj lokal</span>
                {%else%}
                <span class="bi bi-save2"> Zapisz zmiany</span>
                {%endif%}
            </button>

        </div>
    </form>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");
</script>
{%endif%}
{%endblock%}