{%extends 'base.html'%}
{% load humanize %}
{% load static%}
{% block title%} Archiwum zleceń WIiR {%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-3 moj-button-left">
         <a href="{%url 'cpvdict:type_expense_list'%}">
            <button type="button" class="btn btn-outline-primary my-btn">
                <span class="bi bi-chevron-compact-left">Cofnij</span>
            </button>
         </a>
     </div>
        <div class="col-md-6">
            <h5 class="text-center">Archiwum zleceń</h5>
        </div>
    </div>
    <div class="container mt-3">
        <section class=" my-div-style py-5">
            <div class="d-flex justify-content-center">
                {%for year in year_order_list%}
                <a href="{%url 'cpvdict:create_order_archive' year%}"><button type="button" class="btn btn-outline-dark m-2">Rok: {{year}}</button></a>
                {%endfor%}
            </div>
        </section>
    </div>

</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.remove("active");
    document.getElementById("button-secretariat").classList.remove("active");
    document.getElementById("button-cpv").classList.add("active");
    document.getElementById("button-investments").classList.remove("active");
</script>
{%endblock%}