{% extends 'base.html' %}
{% load static %}

{%block title%} Słownik kodów CPV {%endblock%}
{%block content%}
<section class="w-100 p-4 pb-4 d-flex justify-content-center align-items-center flex-column">
    <div>
        <form method="get">
            <div class="input-group">
                <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj kodu lub nazwy"
                       aria-label="Search" aria-describedby="search-addon">

                <button type="submit" class="btn btn-outline-primary">{{query}}{{search}}</button>
            </div>

        </form>
    </div>
</section>
<div class="kontrahenci-title">
    <h4>Słownik kodów PCV</h4>
    <p><span>Liczba kodów CPV: {{sumcpv}} </span></p>
    {%if query%}
    <p><span>Znaleziono {{qsum}} kodów CPV</span></p>
    {%endif%}
</div>
<div class="container">
    {%if query%}
    <table class="table table-hover my-table">
        <thead>
        <tr class="my-table-tr text-center">
            <th valign="middle" width="50" scope="col">L.p.</th>
            <th valign="middle" width="150" scope="col">Kod CPV</th>
            <th valign="middle" width="500" scope="col">Nazwa</th>
        </tr>
        </thead>
        <tbody>
        {%for cpv in cpvs %}
        {%if cpv.nocpv|slice:":2" == "45" %}
        <tr class="my-table-tr table-secondary">
            <td class="text-center" scope="row" valign="middle" align="center"></td>
            <td scope="row" valign="middle" align="center">{{cpv.nocpv}}</td>
            <td><span>{{cpv.name}}</span></td>
        </tr>
        {%else%}
        <tr class="my-table-tr">
            <td class="text-center" valign="middle" scope="row"></td>
            <td scope="row" valign="middle" align="center">{{cpv.nocpv}}</td>
            <td valign="middle"><span>{{cpv.name}}</span></td>
        </tr>
        {%endif%}
        {%empty%}
        <h5 class="text-center text-danger">Nie znaleziono w bazie</h5>
        {%endfor%}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="3">Wydział Inwestycji i Remontów KWP w Poznaniu</th>
        </tr>
        </tfoot>
    </table>
    {%endif%}
</div>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.remove("active");
     document.getElementById("button-cpv").classList.add("active");

</script>
{%endblock%}

