{% extends 'base.html'%}
{% load humanize %}
{% load static %}
{% block title %} Rodzajowość wydatków WIiR - Roboty budowlane {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 moj-button-left"><a href="{%url 'cpvdict:type_expense_list'%}">
        <button type="button" class="btn btn-outline-primary"><span class="bi bi-chevron-compact-left">Cofnij</span>
        </button>
    </a></div>
</div>
<div class="my-1 text-center">
    <h4 class="">Klasyfikacja rodzajowa WIiR</h4>
    <h5 class="">Roboty budowlane</h5>
    <span class="m-2">({{year}} rok)</span>
    {%if limit != 0 %}
    <p><span class="text-center">Limit zmówień: {{limit|intcomma}} zł (netto)</span><br>
        <span class="text-center">Limit zmówień: {{item|intcomma}} zł (brutto)</span></p>
    {%endif%}
</div>
<div class="container">
    <table class="table table-hover my-table mt-2">
        <thead>
        <tr class="my-table-tr text-center">
            <th align="center" valign="middle" width="50" scope="col">l.p.</th>
            <th align="center" valign="middle" width="250" scope="col">Jednostka</th>
            <th align="center" valign="middle" width="120" scope="col">Wykorzystano</th>
            <th align="center" valign="middle" width="120" scope="col">Pozostało</th>
        </tr>
        </thead>
        <tbody>
        {% for unit in units %}
        {% for key, value in sum_rb.items %}
        {% if key == unit and value > 0 %}
        <tr class="my-table-tr">
            <td align="center" valign="middle" scope="row"></td>
            <td valign="middle">{{unit}}</td>
            <td valign="middle" title="{% for u in unit.order.all %}{{u|intcomma}}{%endfor%}" class="text-center">{{value|intcomma}}</td>
            <td valign="middle" class="text-center"></td>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="5">Wydział Inwestycji i Remontów KWP w Poznaniu</th>
        </tr>
        </tfoot>
    </table>
</div>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.remove("active");
     document.getElementById("button-cpv").classList.add("active");
</script>
{% endblock%}