{% extends 'base.html'%}
{% load humanize %}
{% load static%}
{% block title%} Rodzajowość wydatków WIiR {%endblock%}
{% block content%}
<div class="row">
    <div class="col-md-1 moj-button-left my-1"><a href="{%url 'cpvdict:order_list'%}"><button class="btn btn-outline-primary button-choise-contracts">Lista zleceń</button></a></div>
    <div class="col-md-2 moj-button-left my-1"><a href="{%url 'cpvdict:type_work_list'%}"><button class="btn btn-outline-primary button-choise-contracts">Roboty budowlane</button></a></div>
    <div class="col-md-9 moj-button-right my-1"><a href="{%url 'cpvdict:cpvlist'%}"><button class="btn btn-outline-primary button-choise-contracts">Słownik CPV</button></a></div>
</div>

<div class="my-1 text-center">
    <h4 class="">Klasyfikacja rodzajowa WIiR</h4>
    <span class="m-2">({{year}} rok)</span>
    {%if limit != 0 %}
    <p><span class="text-center">Limit zmówień: {{limit|intcomma}} zł (netto)</span><br>
    <span class="text-center">Limit zmówień: {{item|intcomma}} zł (brutto)</span></p>
    {%endif%}
</div>
<div class="container">
<table class="table table-hover my-table">
    <thead>
    <tr class="my-table-tr text-center">
        <th align="center" valign="middle" width="50" scope="col">L.p.</th>
        <th align="center" valign="middle" width="80" scope="col">ID</th>
        <th align="center" valign="middle" width="450" scope="col">Ogólna nazwa przedmiotu zamówienia w ujęciu rodzajowym</th>
        <th align="center" valign="middle" width="450" scope="col">Kod CPV obejmuje ten sam rodzaj zamówienia</th>
        <th align="center" valign="middle" width="120" scope="col">Wykorzystano</th>
        <th align="center" valign="middle" width="120" scope="col">Pozostało</th>


    </tr>
    </thead>
    <tbody>

    {%for object in objects %}
    <tr class="my-table-tr">
        <td class="text-center" valign="middle" scope="row"></td>
        <td align="center" valign="middle" scope="row">{{object.name_id}}</td>
        <td valign="middle"><span>{{object.name}}</span></td>
        <td valign="middle">{% for cpv in object.cpv.all%}<span class="tag-cpv m-1" title="{{cpv.name}}"> {{cpv}} </span>{%endfor%}</td>
        <td valign="middle"><span></span></td>
        <td class="text-center" valign="middle"><span></span></td>
    </tr>
    {%endfor%}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="7">Wydział Inwestycji i Remontów KWP w Poznaniu</th>
    </tr>
    </tfoot>
</table>
</div>


<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.remove("active");
     document.getElementById("button-cpv").classList.add("active");
</script>
{%endblock%}