{%load static%}
{%load humanize%}
{%load bootstrap%}
{%block content%}
<div class="container ">
<form class="m-2 p-4" method="get" action="{% url 'cpvdict:show_information_work_object' id year %}">
    {%csrf_token%}
    <div class="container">
        <h5 class="text-center">{{work_object}}</h5>
        {% if orders %}
        <h6 class="mt-4"><b>Zlecenia z {{year}} roku.</b></h6>
        {% else %}
        <h6 class="mt-4"><b>Brak zleceń</b></h6>
        {%endif%}
        <ol>
        {% for order in orders.all %}
            <li><span>{{order.no_order}} z dnia {{order.date}} r. Wartość zlecenia: <b>{{order.sum_netto|intcomma}} zł. netto</b> - Branżysta: {{order.worker}}</span></li>
        {%endfor%}
        </ol>
    </div>
</form>
</div>
{%endblock%}

