{%load static%}
{%load humanize%}
{%load bootstrap%}
{%block content%}
<div class="container ">
<form class="m-2 p-4" method="get" action="{% url 'cpvdict:show_information_work_object' id %}">
    {%csrf_token%}
    <div class="container">
        <h5 class="text-center">{{work_object}}</h5>
        <h6 class="mt-4"><b>Zlecenia z {{year}} roku.</b></h6>
        <ol>
        {%for order in orders%}
            <li>{{order.no_order}} z dnia {{order.date}} r. Wartość zlecenia: <b>{{order.sum_netto|intcomma}} zł.</b> - Branżysta: {{order.worker}} </li>
        {%endfor%}
        </ol>
    </div>
</form>
</div>
{%endblock%}

