{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %} Ewidencja zleceń na rok {{year}} {% endblock %}
{% block content %}
<div class="row">
     <div class="col-md-3 moj-button-left">
         <a href="{%url 'cpvdict:type_expense_list'%}">
            <button type="button" class="btn btn-outline-primary my-btn">
                <span class="bi bi-chevron-compact-left">Cofnij</span>
            </button>
         </a>
     </div>
    <div class="col-md-6 text-center">
        <h4>Zlecenia za {{year}} rok</h4>
    </div>
</div>
<div class="mt-3">
    <div class="row">
        <div class="col-md-3 align-self-end">
            <p class=""><span>Liczba zleceń: </span><span class="badge text-white info badge-pill">{{ordersum}}</span></p>
        </div>
        <div class="col-md-6">
            <section class="w-100 pb-4 d-flex justify-content-center align-items-center flex-column">
                    <form method="get">
                        <div class="row">
                        <div class="col-md-3">
                            <div class="">
                                <label class="control-label" for="cleanFrom">Data zlecenia od</label>
                                <div class=" ">
                            {%if search%}<input type="date" style="{%if query%}display:none;{%endif%}" name="from" class="form-control" id="searchFrom">{%endif%}
                            {%if query%}<input type="date" style="{%if not query%}display:none;{%endif%}" name="from" class="form-control" id="cleanFrom" value="{{date_from}}">{%endif%}
                                </div>
                            </div>
                        </div>
                    <div class="col-md-3">
                        <div class="">
                            <label class="control-label" for="cleanTo">Data zlecenia do</label>
                            <div class=" ">
                                {%if search%}<input type="date" style="{%if query%}display:none;{%endif%}" name="to" class="form-control" id="searchTo">{%endif%}
                                {%if query%}<input type="date" style="{%if not query%}display:none;{%endif%}" name="to" class="form-control" id="cleanTo" value="{{date_to}}">{%endif%}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex align-items-end">
                        <div class="input-group">
                            <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj zlecenia" aria-label="Search" aria-describedby="search-addon" value="{%if query%}{{q}}{%endif%}">
                        <button id="searchButton" style="{%if query%}display:none;{%endif%}" type="submit" class="btn btn-outline-primary my-btn">Szukaj</button>
                        <button id="cleanButton"  style="{%if not query%}display:none;{%endif%}" type="button" class="btn btn-outline-primary my-btn" onclick="cleanSearch()">Wyczyść</button>
                        </div>
                    </div>
                    </div>
                    </form>
            </section>
        </div>
        {%if user.accessmodule.cpvdict_module_edit%}
            <div class="col-md-3 moj-button-right my-1 align-self-end">
                <a href="{%url 'cpvdict:new_order'%}"><button class="btn btn-outline-primary my-btn">Nowe zlecenie</button></a>
            </div>
            {%endif%}
    </div>
</div>
<table class="table table-hover my-table mt-2">
    <thead>
    <tr class="my-table-tr">
        <th align="center" valign="middle" width="40" scope="col" class="text-center">L.p.</th>
        <th align="center" valign="middle" width="150" scope="col" class="text-center">Data</th>
        <th align="center" valign="middle" width="150" scope="col" class="text-center">Nr. dokumentu</th>
        <th align="center" valign="middle" width="320" scope="col" class="text-center">Wykonawca</th>
        <th align="center" valign="middle" width="200" scope="col" class="text-center">Kwota brutto</th>
        <th align="center" valign="middle" width="200" scope="col" class="text-center">ID rodzajowości</th>
        <th align="center" valign="middle" width="100" scope="col" class="text-center">Awaria</th>
        <th align="center" valign="middle" width="450" scope="col" class="text-center">Jednostka</th>
    </tr>
    </thead>
    <tbody>
    {%for order in orders %}
    <tr class="my-table-tr">
        <td align="center" valign="middle" scope="row"></td>
        <td align="center" valign="middle">{{order.date|date:"d.m.Y"}} r.</td>
        <td align="left" valign="middle" title="{{order.worker}}">{{order.no_order|default_if_none:'---'}}</td>
        <td align="left" valign="middle"><span>{{order.contractor.name}}</span><br><small>{{order.contractor.address}}, {{order.contractor.zip_code}} {{order.contractor.city}}</small></td>
        <td align="right" valign="middle"><span data-toggle="info" title="Kwota netto: {{order.sum_netto|intcomma}}&nbsp;zł.&#010;(vat: {{order.vat}})">{{order.sum_brutto|intcomma}}&nbspzł.</span></td>
        <td align="center" valign="middle"><span data-toggle="info" title="{{order.typeorder}}">{{order.genre.name_id}}</span></td>
        <td align="center" valign="middle">{% if order.brakedown  %} <i class="bi bi-check2-circle text-success icon-check"></i> {%else%} --- {%endif%}</td>
        <td valign="middle"><span>{{order.unit.type.type_full}} - {{order.unit.city}}<br><small>{{order.unit.address}}, {{order.unit.zip_code}} {{order.unit.city}}</small></span></td>
        <td align="right" valign="middle">
        {%if order.content%}
            <button data-toggle="info" title="Pokaż" type="button" data-url="{%url 'cpvdict:show_order_info_popup' order.id%}" class="btn btn-outline-success mx-2" onclick="openModal(this)"><i
                    class="bi bi-info-lg"></i>
            </button>
            {%endif%}
        {%if user.accessmodule.cpvdict_module_edit%}
           <a href="{% url 'cpvdict:edit_order' order.id %}"><button data-toggle="info" title="Edytuj" type="button" class="btn btn-outline-primary icon-color mx-2 my-1"><i class="bi bi-pencil-square"></i></button></a>
        {%endif%}
        </td>
    </tr>
    {%endfor%}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="5">Wydział Inwestycji i Remontów KWP w Poznaniu</th>
    </tr>
    </tfoot>
</table>
<!--Pagination-->
{%if search%}
<nav aria-labelledby="Page navigation">
    <ul class="pagination justify-content-center">
        {%if orders.has_previous%}
        <li class="page-item">
            <a class="page-link" href="?page={{orders.previous_page_number}}">Poprzednia</a>
        </li>
        {%else%}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Poprzednia</a>
        </li>
        {%endif%}
        {%for i in orders.paginator.page_range%}
        {%if orders.number == i%}
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{i}}
                <span class="sr-only"></span>
            </span>
        </li>
        {%else%}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {%endif%}
        {%endfor%}
        {%if orders.has.next%}
        <li class="page-item">
            <a class="page-link" href="?page={{orders.next_page_number}}">Następna</a>
        </li>
        {%else%}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Następna</a>
        </li>
        {%endif%}
    </ul>
</nav>
{%endif%}
<!-- Modal -->
<div class="modal fade" id="orderInformationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-record").classList.remove("active");
     document.getElementById("button-secretariat").classList.remove("active");
     document.getElementById("button-cpv").classList.add("active");
     document.getElementById("button-investments").classList.remove("active");
     function openModal(button){
        var url = $(button).data("url");
        $("#orderInformationModal .modal-content").load(url);
        $("#orderInformationModal").modal("show");
    }
    function submitForm(){
        $("#submitButton").closest("form").submit();
    }
    $(function () {
        $('[data-toggle="info"]').tooltip()
    })

    function cleanSearch(){
        $("#q").val("");
        //$("#cleanButton").hide();
        //$("#searchButton").show();
        $("form").submit();
        }
</script>
{% endblock %}