{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %} Ewidencja zleceń na rok {{year}} {% endblock %}
{% block content %}
<div class="row">
     <div class="col-md-6 moj-button-left"><a href="{%url 'cpvdict:type_expense_list'%}">
        <button type="button" class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span></button></a></div>
</div>
<section class="w-100 pb-4 d-flex justify-content-center align-items-center flex-column">
    <div>
        <form method="get">
            <div class="input-group">
                <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj zlecenia" aria-label="Search" aria-describedby="search-addon">
                <button type="submit" class="btn btn-outline-primary my-btn">{{query}}{{search}}</button>
            </div>
        </form>
    </div>
</section>
<div class="kontrahenci-title">
    <h4>Zlecenia za {{year}} rok</h4>
    <div class="row">
        <div class="col-md-3">
            <p class="m-0"><span>Liczba zleceń: {{ordersum}}</span></p>
        </div>
        <div class="col-md-9 moj-button-right my-1">
            <a href="{%url 'cpvdict:new_order'%}"><button class="btn btn-outline-primary button-choise-contracts my-btn">Nowe zlecenie</button></a>
        </div>
    </div>
</div>

<table class="table table-hover my-table mt-2">
    <thead>
    <tr class="my-table-tr">
        <th align="center" valign="middle" width="40" scope="col" class="text-center">L.p.</th>
        <th align="center" valign="middle" width="80" scope="col" class="text-center">Data</th>
        <th align="center" valign="middle" width="100" scope="col" class="text-center">Nr. zlecenia</th>
        <th align="center" valign="middle" width="150" scope="col" class="text-center">Szacowana kwota</th>
        <th align="center" valign="middle" width="150" scope="col" class="text-center">Rodzaj usługi</th>
        <th align="center" valign="middle" width="80" scope="col" class="text-center">ID rodzajowości</th>
        <th align="center" valign="middle" width="120" scope="col" class="text-center">Awaria</th>
        <th align="center" valign="middle" width="400" scope="col" class="text-center">Jednostka</th>
        <th align="center" valign="middle" width="600" scope="col" class="text-center">Zakres prac</th>

    </tr>
    </thead>
    <tbody>
    {%for order in orders %}
    <tr class="my-table-tr">
        <td align="center" valign="middle" class="text-center" scope="row"></td>
        <td align="center" valign="middle" class="text-center">{{order.date|date:"d.m.Y"}}</td>
        <td align="center" valign="middle" class="text-center">{{order.no_order|default_if_none:'---'}}</td>
        <td align="center" valign="middle">{{order.sum|intcomma}} zł</td>
        <td align="center" valign="middle" class="text-center">{{order.typeorder}}</td>
        <td align="center" valign="middle" class="text-center">{{order.genre.name_id}}</td>
        <td align="center" valign="middle" class="text-center">{% if order.brakedown  %} <i class="bi bi-check2-circle text-success icon-check"></i> {%else%} --- {%endif%}</td>
        <td valign="middle">{{order.unit}}</td>
        <td valign="middle">{{order.content}}</td>
        <td align="center" valign="middle">
           <a href="{% url 'cpvdict:edit_order' order.id %}"><button type="button" class="btn btn-outline-primary icon-color mx-2 my-1"><i class="bi bi-pencil-square"></i></button></a>
        </td>
    </tr>
    {%endfor%}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="5">Wydział Inwestycji i Remontów KWP w Poznaniu</th>
    </tr>
    </tfoot>
</table>
<!--Pagination-->
{%if search%}
<nav aria-labelledby="Page navigation">
    <ul class="pagination justify-content-center">
        {%if orders.has_previous%}
        <li class="page-item">
            <a class="page-link" href="?page={{orders.previous_page_number}}">Poprzednia</a>
        </li>
        {%else%}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Poprzednia</a>
        </li>
        {%endif%}
        {%for i in orders.paginator.page_range%}
        {%if orders.number == i%}
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{i}}
                <span class="sr-only"></span>
            </span>
        </li>
        {%else%}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {%endif%}
        {%endfor%}
        {%if orders.has.next%}
        <li class="page-item">
            <a class="page-link" href="?page={{orders.next_page_number}}">Następna</a>
        </li>
        {%else%}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Następna</a>
        </li>
        {%endif%}
    </ul>
</nav>
{%endif%}
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.remove("active");
     document.getElementById("button-cpv").classList.add("active");
     document.getElementById("button-cpvnotaut").classList.add("active");
</script>
{% endblock %}