{% extends 'base.html'%}
{% load static %}
{% block title %} Ewidencja zleceń na rok ... {% endblock %}
{% block content%}

<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.remove("active");
     document.getElementById("button-cpv").classList.add("active");
     document.getElementById("button-cpvnotaut").classList.add("active");
</script>
{% endblock %}