{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%}{%if new%}Nowa Nota księgowa{%else%}Edycja Noty księgowej{%endif%}{%endblock%}

{%block content%}
<div class="row">
    <div class="col-md-3"><a href="{%url 'invoices:corrective_note_list_archive' year%}">
        <button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span></button>
    </a></div>
    <div class="col-md-6"><h4 class="text-center">{%if new%}Nowa Nota księgowa{%else%}Edycja Noty księgowej{%endif%}</h4></div>
</div>

<div class="container px-5 pb-5 col-md-7">
    <form method="post">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-4 p-2">{{note_form.date|bootstrap}}</div>
            <div class="col-md-4 p-2">{{note_form.no_note|bootstrap}}</div>
            <div class="col-md-4 p-2">{{note_form.corrective_invoice|bootstrap}}</div>
            <div class="col-md-12 p-2">{{note_form.contractor|bootstrap}}</div>
            <div class="col-md-12 p-2">{{note_form.information|bootstrap}}</div>
            <div class="col-md-12 p-2 mt-2 moj-button-right">
                <button type="submit" class="btn btn-outline-primary my-btn">
                    <span class="bi bi-save2"> Zapisz zmiany</span>
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function(){
        $("#id_contractor").select2({placeholder:'Wybierz kontrahenta'});
    })
</script>
{%endblock%}