{% load static %}
{% load bootstrap %}
{% load humanize %}
{% block content %}
<div class="container ">
    <form class="m-2 p-4" method="get" action="{% url 'invoices:show_info_note' id %}">
        {%csrf_token%}
        <div class="container">
            <div class="mb-4 text-center">
                <span class="text-muted">Nota nr: </span>
                <span>{{note.no_note}} z dnia {{note.date|date:'d.n.Y'}} r.</span><br>
                <small class="text-muted">Data utworzenia: {{note.creation_date|date:"d.m.Y"}}&nbsp;r.</small>
            </div>
            <div class="my-1">
                <span class="text-muted">Korygowana faktura </span>
                <span>{{note.corrective_invoice}}</span>
            </div>
            <div class="my-1">
                <span class="text-muted">Kontrahent: </span>
                <span>{{note.contractor}}</span>
            </div>
            <div class="my-1">
                <span class="text-muted">Korygowana treść: </span>
                <p>{{note.information}}</p>
            </div>
            <div>
                <small class="text-muted">Autor: </small><small>{{note.author.first_name}} {{note.author.last_name}}</small>
            </div>
        </div>
    </form>
</div>
{%endblock%}

