{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%}{%if new%}Nowa faktura{%else%}Edycja faktury{%endif%}{%endblock%}
{%block content%}
<div class="container col-md-7 mb-3">
    <div class="row">
        <div class="col-md-3">
            <a href="{%url 'invoices:buy_invoices_list'%}">
                <button class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        <div class="col-md-6">
            <h4 class="text-center">{%if new%}Nowa faktura{%else%}Edycja faktury{%endif%}</h4>
        </div>
    </div>
</div>
<div class="container col-md-7">
    <form class="" method="post">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-3 my-2">{{invoice.date_receipt|bootstrap}}</div>
            <div class="col-md-3 my-2">{{invoice.date_issue|bootstrap}}</div>
            <div class="col-md-3 my-2">{{invoice.no_invoice|bootstrap}}</div>
            <div class="col-md-3 my-2">{{invoice.doc_types|bootstrap}}</div>
            <div class="col-md-6 my-2">{{invoice.contractor|bootstrap}}</div>
            <div class="col-md-3 my-2">{{invoice.date_of_payment|bootstrap}}</div>
            <div class="col-md-3 my-2">
                <div class="form-group">
                    <label class="control-label" for="id_sum">Kwota brutto [zł]</label>
                    <div>
                        <input type="number" name="sum" step="0.01" class="form-control" id="id_sum" readonly>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="col-md-12 ">{{invoice.information|bootstrap}}</div>
            </div>
        </div>
        <div class="row mt-4">
            <div>{{invoice.id}}</div>
            {%if new%}
            <div class="col-md-12 moj-button-right">
                <button type="submit" class="btn btn-outline-primary my-btn">
                    <span class="bi bi-plus-circle"> Dodaj Elementy</span>
                </button>
            </div>
            {%else%}
            <div class="col-md-6 moj-button-left">
                <a href="{%url 'invoices:delete_invoice_buy' invoice_id.id%}">
                    <button type="button" class="btn btn-outline-danger mx-1" data-toggle="info" title="Usuń fakturę">
                        <i class="bi bi-trash"></i>
                    </button>
                </a>
            </div>

            <div class="col-md-6 moj-button-right">
                <button type="submit" class="btn btn-outline-primary my-btn">
                    <span class="bi bi-plus-circle"> Dodaj Elementy</span>
                </button>
            </div>
            {%endif%}
        </div>
    </form>
</div>
<script>
   $(function () {
        $('[data-toggle="info"]').tooltip()
    })





</script>
{%endblock%}