{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%}{%if new%}Nowa faktura{%else%}Edycja faktury{%endif%}{%endblock%}
{%block content%}
<div class="container col-md-7 mb-3">
    <div class="row ">
        <div class="col-md-3">
            <a href="{%url 'invoices:sell_invoices_list'%}">
                <button class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        <div class="col-md-6">
            <h4 class="text-center">{%if new%}Nowa faktura{%else%}Edycja faktury{%endif%}</h4>
        </div>
    </div>
</div>
<div class="container col-md-7">
    <form method="post">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-3 my-2">{{form.date|bootstrap}}</div>
            <div class="col-md-3 my-2">{{form.no_invoice|bootstrap}}</div>
            <div class="col-md-3 my-2">{{form.sum|bootstrap}}</div>
            <div class="col-md-3 my-2">
                {%if new%}
                <div class="form-group">
                    <label class="control-label  " for="id_doc_types">Rodzaj dokumentu</label>
                    <div class=" ">
                        <select name="doc_types" class=" form-control" required="" id="id_doc_types">
                            {%for doc in doc_types%}
                            <option value="{{doc.id}}">{{doc}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                {%else%}
                {{form.doc_types|bootstrap}}
                {%endif%}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 my-2">{{form.contractor|bootstrap}}</div>
            <div class="col-md-4 my-2">{{form.date_of_payment|bootstrap}}</div>
        </div>
        <div class="row my-2">
            <div class=" col-md-6">
                <div class="row">
                    <div class="col-md-6">{{form.period_from|bootstrap}}</div>
                    <div class="col-md-6">{{form.period_to|bootstrap}}</div>
                </div>
                <div class="row my-2">
                    <div class="col-md-6">{{form.county|bootstrap}}</div>
                    <div class="col-md-6">{{form.creator|bootstrap}}</div>
                </div>
            </div>
            <div class="col-md-6">{{form.information|bootstrap}}</div>
        </div>
        <div class="row mt-2">
            {%if new%}
            <div class="col-md-12 moj-button-right">
                <button type="submit" class="btn btn-outline-primary my-btn"><span class="bi bi-save2"> Zapisz</span>
                </button>
            </div>
            {%else%}
            <div class="col-md-12 moj-button-right">
                <button type="submit" class="btn btn-outline-primary my-btn"><span
                        class="bi bi-save2"> Zapisz zmiany </span></button>
            </div>
            {%endif%}
        </div>
    </form>
</div>
<script>
    $(function () {
        $('[data-toggle="info"]').tooltip()
    })
</script>
{%endblock%}