{% load static %}
{% load bootstrap %}
{% load humanize %}
{% block content %}
<div class="container ">
<form class="m-2 p-4" method="POST" action="{% url 'invoices:add_invoice_items' %}">
    {%csrf_token%}
    <div >
        {{invoice_item.account|bootstrap}}
        {{invoice_item.county|bootstrap}}
        {{invoice_item.sum|bootstrap}}
    </div>
    <div class="col-md-12 moj-button-right mt-4">
        <button type="submit" class="btn btn-outline-primary my-btn">
            <span class="bi bi-save2"> Dodaj</span>
        </button>
    </div>
</form>
</div>
{%endblock%}

