{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}Ewidencja faktur - sprzedaż{%endblock%}
{% block content %}
{%if user.is_authenticated and user.accessmodule.invoices_module%}
<div class="row">
    <div class="col-md-3 moj-button-left">
        <a href="{%url 'invoices:menu_invoices'%}">
            <button type="button" class="btn btn-outline-primary my-btn">
                <span class="bi bi-chevron-compact-left">Cofnij</span>
            </button>
        </a>
    </div>
    <div class="col-md-6 text-center">
        <h4>Ewidencja faktur sprzedażowych za <b>{{year}}</b> rok</h4>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-3 align-self-end">
        <span class="d-block mb-1">
            <span>Liczba faktur: </span>
            <span class="badge text-white info badge-pill">{{invoices_sell_len}}</span>
        </span>
        <span class="d-block mt-1">
            <span>Kwota faktur: </span>
            <span class="badge text-white info badge-pill">{{invoices_sell_sum|intcomma}} zł.</span>
        </span>
        </div>
    <div class="col-md-6">
        <section class="w-100 d-flex justify-content-center align-items-center flex-column">
            <form method="get">
                 <div class="row">
                    <div class="col-md-3">
                        <div class="">
                            <label class="control-label" for="date_from">Data faktury od</label>
                            <div class=" ">
                                <input type="date" name="from" class="form-control" id="date_from" value="{{date_from}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="control-label" for="date_to">Data faktury do</label>
                            <div class=" ">
                                <input type="date" name="to" class="form-control" id="date_to" value="{{date_to}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex align-items-end">
                        <div class="input-group">
                            <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj dokumentu" aria-label="Search" aria-describedby="search-addon" value="{{q}}">
                            <button id="searchButton" style="{%if query%}display:none;{%endif%}" type="submit" class="btn btn-outline-primary my-btn">Szukaj</button>
                            <button id="cleanButton"  style="{%if not query%}display:none;{%endif%}" type="button" class="btn btn-outline-primary my-btn" onclick="cleanSearch()">Wyczyść</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-3 align-self-end moj-button-right">
        <span class="d-block">
            <button onclick="generatePdf(this)" data-url="{%url 'invoices:make_pdf_from_invoices_sell' year%}" data-toggle="info" title="Zapis do PDF" name="q" id="t" class="btn btn-outline-primary my-btn mb-1">
                <span class="bi bi-file-earmark-pdf h5"></span>
            </button>
        </span>
    </div>
</div>
<div>
    <table class="table table-hover my-table">
        <thead>
        <tr class="my-table-tr text-center">
            <th align="center" valign="middle" width="40" scope="col">L.p.</th>
            <th align="center" valign="middle" width="40" scope="col">Data wystawienia</th>
            <th align="center" valign="middle" width="120" scope="col">Nr. dokumentu</th>
            <th align="center" valign="middle" width="50" scope="col">Typ dokumentu</th>
            <th align="center" valign="middle" width="120" scope="col">Kwota</th>
            <th align="center" valign="middle" width="40" scope="col">Data płatności</th>
            <th align="center" valign="middle" width="150" scope="col">Okres</th>
            <th align="center" valign="middle" width="300" scope="col">Kontrahent</th>
            <th align="center" valign="middle" width="150" scope="col">Powiat</th>
            <th align="center" valign="middle" width="150" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
        <tr class="my-table-tr">
            <td align="center" valign="middle" scope="row" data-toggle="info" title="Zapisujący: {{invoice.author.first_name}} {{invoice.author.last_name}}"><span class="text-center"></span></td>
            <td align="center" valign="middle"><span>{{invoice.date|date:"d.m.Y"}}&nbspr.</span></td>
            <td align="center" valign="middle"><span title="{{invoice.creator}}">{{invoice.no_invoice|default_if_none:''}}</span></td>
            <td align="center" valign="middle"><span>{{invoice.doc_types}}</span></td>
            <td align="center" valign="middle"><span>{{invoice.sum|intcomma}}&nbspzł</span></td>
            <td align="center" valign="middle"><span>{{invoice.date_of_payment|date:"d.m.Y"}}&nbspr.</span></td>
            <td align="center" valign="middle"><span>{{invoice.period_from|date:"m.Y"}}&nbspr. - {{invoice.period_to|date:"m.Y"}}&nbspr.</span>
            </td>
            <td valign="middle"><span title="SWOP ID: {{invoice.contractor.no_contractor}}">{{invoice.contractor.name}}. <br><small>Adres: {{invoice.contractor.address}}, {{invoice.contractor.zip_code}} {{invoice.contractor.city}}</small></span></td>
            <td align="center" valign="middle">{{invoice.county}}</td>
            <td align="right" width="120">
                <button type="button" data-url="{% url 'invoices:show_info_sell' invoice.id %}" class="btn btn-outline-success mx-2" onclick="openModal(this)">
                    <i class="bi bi-info-lg"></i>
                </button>
            </td>
        </tr>
        {%endfor%}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="5">Wydział Inwestycji i Remontów KWP w Poznaniu</th>
        </tr>
        </tfoot>
    </table>
</div>
<!--Paginator-->
{%if search%}
<nav aria-labelledby="Page navigation">
    <ul class="pagination justify-content-center">
        {%if invoices.has_previous%}
        <li class="page-item">
            <a class="page-link" href="?page={{invoices.previous_page_number}}">Poprzednia</a>
        </li>
        {%else%}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Poprzednia</a>
        </li>
        {%endif%}
        {%for i in invoices.paginator.page_range%}
        {%if invoices.number == i%}
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{i}}
                <span class="sr-only"></span>
            </span>
        </li>
        {%else%}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {%endif%}
        {%endfor%}
        {%if invoices.has_next%}
        <li class="page-item">
            <a class="page-link" href="?page={{invoices.next_page_number}}">Następna</a>
        </li>
        {%else%}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Następna</a>
        </li>
        {%endif%}
    </ul>
</nav>
{%endif%}
<!-- Modal -->
<div class="modal fade" id="info_sell_Modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-invoices").classList.add("active");
    document.getElementById("button-contracts").classList.remove("active");
    document.getElementById("button-contractors").classList.remove("active");

    function openModal(button){
        var url = $(button).data("url");
        $("#info_sell_Modal .modal-content").load(url);
        $("#info_sell_Modal").modal("show");
        }

    function submitForm(){
        $("#submitButton").closest("form").submit();
        }

    $(function () {
        $('[data-toggle="info"]').tooltip()
        })

    function cleanSearch(){
        $("#q").val("");
        $("#date_from").val("");
        $("#date_to").val("");
        $("form").submit();
        }

     function generatePdf(button){
        var url = $(button).data("url");
        var date_from = $("#date_from").val();
        var date_to = $("#date_to").val();
        var q = $("#q").val();
        var urlParams = "?q=" + q + "&from=" + date_from + "&to=" + date_to;
        window.open(url + urlParams, '_blank').focus();
        }
</script>
{%endif%}
{%endblock%}