{%extends 'base.html'%}
{%load static%}
{%block title%}Ewidencja faktur gr.6 - zobowiązania{%endblock%}
{%block content%}
<div class="moj-button-left"><a href="{%url 'invoices:menu_invoices'%}"><button type="button" class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span></button></a></div>
<section class="w-100 pb-4 d-flex justify-content-center align-items-center flex-column">
    <div>
        <form method="get">
            <div class="input-group">
                <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj faktury"
                       aria-label="Search" aria-describedby="search-addon">
                <button type="submit" class="btn btn-outline-primary my-btn">Szukaj/Wyczyśc</button>
            </div>
        </form>
    </div>
</section>
<h4 class="text-center">Ewidencja faktur gr.6 - zobowiązania</h4>
<div class="row">
    <div class="col-md-12 moj-button-right"><a id="button-nowa-umowa" href=""><button class="btn btn-outline-primary button-choise-contracts my-btn">Nowa faktura</button></a></div>
</div>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.add("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.remove("active");
</script>
{%endblock%}