{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%}{%if new%}Nowa faktura{%else%}Edycja faktury{%endif%}{%endblock%}

{%block content%}
<div class="row">
    <div class="col-md-3"><a href="{%url 'invoices:buy_invoices_list'%}">
            <button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span></button>
        </a></div>
    <div class="col-md-6"><h4 class="text-center">{%if new%}Nowa faktura{%else%}Edycja faktury{%endif%}</h4></div>
</div>

<div class="container px-5 pb-5 col-md-8">
<form class="container" method="post">
    {%csrf_token%}
     <div class="row">
            <div class="col-md-6 p-2">{{invoice.date_receipt|bootstrap}}</div>
            <div class="col-md-6 p-2">{{invoice.date_issue|bootstrap}}</div>
             <div class="col-md-6 p-2">{{invoice.no_invoice|bootstrap}}</div>
            <div class="col-md-6 p-2">{{invoice.sum|bootstrap}}</div>
            <div class="col-md-6 p-2">{{invoice.date_of_payment|bootstrap}}</div>
            <div class="col-md-6 p-2">{{invoice.contractor|bootstrap}}</div>
            <div class="col-md-6 p-2">{{invoice.period_from|bootstrap}}</div>
            <div class="col-md-6 p-2">{{invoice.period_to|bootstrap}}</div>
            <div class="col-md-12 p-2">{{invoice.information|bootstrap}}</div>
        </div>
<div class="row mt-3">
    <div class="col-md-6 moj-button-left">
        <a><button class="btn btn-outline-primary my-btn"><span class="bi bi-plus-circle"> Elementy</span></button></a>
    </div>
        <div class="col-md-6 moj-button-right">
            <button type="submit" class="btn btn-outline-primary my-btn"><span class="bi bi-save2"> Zapisz zmiany</span></button>
        </div>
    </div>
</form>
    </div>
{%endblock%}