{%extends 'base.html'%}
{% load humanize %}
{%load static%}
{%block title%}Ewidencja faktur gr.6 - zobowiązania{%endblock%}
{%block content%}
{%if user.is_authenticated and user.accessmodule.invoices_module%}
<section class="row">
    <div class="col-md-1">
        <div class="moj-button-left py-3"><a href="{%url 'invoices:buy_invoices_list'%}">
            <button type="button" class="btn btn-outline-primary my-btn"><span
                    class="bi bi-chevron-compact-left">Cofnij</span>
            </button>
        </a>
        </div>
    </div>
    <div class="col-md-10">
        <div class="col-md-12 moj-button-right">
            <h4 class="text-center ">TREZOR</h4>
            <h5 class="text-center ">Weryfikacja - {{year}} r.</h5>
        </div>
    </div>
</section>
<div class="row my-4">
    <div class="col-md-4">
        <p class="my-4 py-2"><span>Liczba faktur: </span><span class="badge text-white info badge-pill">{%if query%}{{invoices_buy_sum}}{%else%}{{invoices_buy_sum}}{%endif%}</span>
        </p>
    </div>
    <form class="row col-md-4">
        <div class="col-md-5">
            <div>
                <label class="control-label" for="date_from">Data płatności od</label>
                <div>
                    <input type="date" name="from" class="form-control" id="date_from" value="{{date_from}}">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div>
                <label class="control-label" for="date_to">Data płatności do</label>
                <div>
                    <input type="date" name="to" class="form-control" id="date_to" value="{{date_to}}">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button id="searchButton" style="{%if query%}display:none;{%endif%}" type="submit"
                    class="btn btn-outline-primary my-btn mt-4">szukaj
            </button>
            <button id="cleanButton" style="{%if not query%}display:none;{%endif%}" type="submit"
                    class="btn btn-outline-primary my-btn mt-4" onclick="cleanSearch()">Wyczyść
            </button>
        </div>
    </form>
    {{suma}}
    <div class="row my-5">
        {%if query%}
        <div class="container col-5">
            {%if date_from_obj and date_to_obj%}
            <h4 class="mb-4 text-center">Zakres weryfikacji: {{date_from_obj|date:'d.m.Y'}} r. -
                {{date_to_obj|date:'d.m.Y'}} r.</h4>
            {%endif%}
            <h5>Suma zapotrzebowania: <span>{{verification_all|intcomma}} zł.</span></h5>

            <div>
                {% regroup invoices by date_of_payment as list_payment %}

                {% for lista in list_payment %}
                {% for key, value in day_sum.items %}
                {% if key == lista.grouper and value > 0 %}
                <div class="col-12 mt-4 mb-1 d-flex justify-content-between">
                    <strong class="">Płatności na {{lista.grouper}}&nbsp;r.{%if lista.list.sum%} ({{lista.list.sum}}&nbsp;zł.)
                        {%else%} ({{value|intcomma}}&nbsp;zł.){%endif%}</strong>
                    <div>
                        <span class="badge text-white info badge-pill my-badge-pill">{{lista.list|length}}</span>
                    </div>
                </div>
                {%endif%}
                {%endfor%}
                <ul class="list-group">
                    {% for invoice in lista.list %}
                    <li class="list-group-item list-group-item-action list-group-item-light">{{invoice.no_invoice}} z
                        dnia {{invoice.date_issue}} - (Kwota: {%if invoice.sum%}{{invoice.sum|intcomma}}
                        zł.{%else%}{{invoice.sum|default_if_none:'0 zł.'}}{%endif%}) - {{invoice.contractor.name}}

                        {%for financing in invoice.invoice_items.all%}
                        {{financing.account.source.source}}
                        {%endfor%}

                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
            {%endif%}
        </div>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-invoices").classList.add("active");
    document.getElementById("button-contracts").classList.remove("active");
    document.getElementById("button-contractors").classList.remove("active");

    function cleanSearch(){
        $("#q").val("");
        $("#date_from").val("");
        $("#date_to").val("");
        $("form").submit();
    }
</script>
{%endif%}
{%endblock%}