{%extends 'base.html'%}
{% load humanize %}
{%load static%}
{%block title%}Ewidencja faktur gr.6 - zobowiązania{%endblock%}
{%block content%}
<section class="row">
    <div class="col-md-1">
        <div class="moj-button-left"><a href="{%url 'invoices:buy_invoices_list'%}">
            <button type="button" class="btn btn-outline-primary my-btn"><span
                    class="bi bi-chevron-compact-left">Cofnij</span>
            </button>
        </a>
        </div>
    </div>
    <div class="col-md-10">
        <div class="col-md-12 moj-button-right">
            <h4 class="text-center ">TREZOR - Weryfikacja</h4>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</section>
<div class="row my-5">
    <div class="row">
        <div class="col-md-6">
            <p><span>Liczba faktur: </span><span class="badge text-white info badge-pill">{{invoices_buy_sum}}</span>
            </p>
        </div>
    </div>
</div>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.add("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.remove("active");








</script>
{%endblock%}