{%extends 'base.html'%}
{%load static%}
{%block content%}
<h4 class="text-center mb-3">Przeglądy</h4>
<ul class="nav nav-pills justify-content-around">
    <li class="nav-item my-2">
        <a href="{%url 'constructioninspections:create_buildings_inspections_choise'%}">
            <button class="btn btn-outline-primary my-btn ">
                <span class="bi bi-chevron-double-right"> Przeglądy budynków</span>
            </button>
        </a>
    </li>
    <li class="nav-item my-2">
        <a href="{%url 'constructioninspections:create_chimney_inspection_list'%}">
            <button class="btn btn-outline-primary my-btn">
                <span class="bi bi-chevron-double-right"> Przeglądy kominowe</span>
            </button>
        </a>
    </li>
    <li class="nav-item my-2">
        <a href="{%url 'constructioninspections:create_electrical_inspection_list'%}">
            <button class="btn btn-outline-primary my-btn">
                <span class="bi bi-chevron-double-right"> Przeglądy elektryczne</span>
            </button>
        </a>
    </li>
    <li class="nav-item my-2">
        <a href="{%url 'constructioninspections:create_heating_boilers_inspection_list'%}">
            <button class="btn btn-outline-primary my-btn">
                <span class="bi bi-chevron-double-right"> Przeglądy kotłów grzeczwych</span>
            </button>
        </a>
    </li>
    <li class="nav-item my-2">
        <a href="{%url 'constructioninspections:create_air_conditioners_inspection_list'%}">
        <button class="btn btn-outline-primary my-btn">
            <span class="bi bi-chevron-double-right"> Przeglądy klimatyzatorów</span>
        </button></a>
    </li>
    <li class="nav-item my-2">
        <a href="{%url 'constructioninspections:create_fire_inspection_list'%}">
            <button class="btn btn-outline-primary my-btn">
                <span class="bi bi-chevron-double-right"> Przeglądy przeciw pożarowe</span>
            </button>
        </a>
    </li>
</ul>
<hr>
{%for objects_all in objects%}
<div class="list-group">
    {%for object in objects_all%}
    <h6>{{object.inspection_name}}</h6>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Przegląd</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">{{object}}</p>
        <small class="text-muted">TEKST</small>
    </a>
    {%endfor%}
</div>
{%endfor%}
<div class="container list-group col-md-3 my-4">
    <a href="#" class="list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center">Zbliżające przeglądy budynków 1 roczne <span class="badge text-white info badge-pill">1</span></a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center">Zbliżające przeglądy budynków 5 letnie<span class="badge text-white info badge-pill">1</span></a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center">Zbliżające przeglądy kominowe <span class="badge text-white info badge-pill">1</span></a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center">Zbliżające przeglądy przeciw pożarowe <span class="badge text-white info badge-pill">1</span></a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center">Zbliżające przeglądy kotłów grzewczych<span class="badge text-white info badge-pill">1</span></a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center">Zbliżające przeglądy elektryczne<span class="badge text-white info badge-pill">1</span></a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center">Zbliżające przeglądy klimatyzacyjne<span class="badge text-white info badge-pill">1</span></a>
</div>

<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-secretariat").classList.remove("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");
</script>
{%endblock%}

