{%extends 'base.html'%}
{%load static%}

{%block title%}{%endblock%}
{%block content%}
<div class="container">
    {%if user.is_authenticated and user.accessmodule.zok_team or user.accessmodule.zriwt_team or user.accessmodule.zm_team or user.accessmodule.zn_team or user.accessmodule.ze_team%}
    <div class="row d-flex justify-content-between">
        <div class="col-md-7">
            <table class="table">
                <thead data-toggle="info" title="Dostep do modułów" class="table-dark">
                <tr class="my-table-tr text-center">
                    <th align="center" valign="middle" width="auto" scope="col">Zespół</th>
                    <th align="center" valign="middle" width="auto" scope="col">Dostęp</th>
                    <th align="center" valign="middle" width="auto" scope="col">Moduł</th>
                    <th align="center" valign="middle" width="auto" scope="col">Podglad</th>
                    <th align="center" valign="middle" width="auto" scope="col">Edycja</th>
                </tr>
                </thead>
                <tbody>
                {%if user.accessmodule.zok_team%}
                <tr>
                    <td rowspan="4" valign="middle">Zespół Obsługi Kancelaryjnej</td>
                    <td rowspan="4" align="center" valign="middle">{%if user.accessmodule.zok_team%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                    <td>Moduł Zespoły</td>
                    <td align="center" valign="middle">{%if user.accessmodule.teams%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%}<i class="bi bi-x-circle-fill text-danger"></i></td>
                    {%endif%}
                    <td align="center" valign="middle">{%if user.accessmodule.teams%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%}<i class="bi bi-x-circle-fill text-danger"></i></td>
                    {%endif%}
                </tr>
                <tr>
                    <td>Moduł Pracownicy</td>
                    <td align="center" valign="middle">{%if user.accessmodule.employers%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%}<i class="bi bi-x-circle-fill text-danger"></i></td>
                    {%endif%}
                    <td align="center" valign="middle">{%if user.accessmodule.employers%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%}<i class="bi bi-x-circle-fill text-danger"></i></td>
                    {%endif%}
                </tr>
                <tr>
                    <td>Moduł Polecenia</td>
                    <td align="center" valign="middle">{%if user.accessmodule.commands%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%}<i class="bi bi-x-circle-fill text-danger"></i></td>
                    {%endif%}
                    <td align="center" valign="middle">{%if user.accessmodule.commands%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%}<i class="bi bi-x-circle-fill text-danger"></i></td>
                    {%endif%}
                </tr>
                <tr>
                    <td>Moduł Rezerwacja auta</td>
                    <td align="center" valign="middle">{%if user.accessmodule.cars%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%}<i class="bi bi-x-circle-fill text-danger"></i></td>
                    {%endif%}
                    <td align="center" valign="middle">{%if user.accessmodule.cars%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%}<i class="bi bi-x-circle-fill text-danger"></i></td>
                    {%endif%}
                </tr>
                {%endif%}
                {%if user.accessmodule.zriwt_team%}
                <tr>
                    <td rowspan="9" valign="middle">Zespół Rozliczeń i Wsparcia Technicznego</td>
                    <td rowspan="9" align="center" valign="middle"><i class="bi bi-check-circle-fill text-success"></i>
                    </td>
                    <td>Moduł Kontrahenci</td>
                    <td align="center" valign="middle">{%if user.accessmodule.contractors_module%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                    <td align="center" valign="middle">{%if user.accessmodule.contractors_module_edit%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                </tr>
                <tr>
                    <td valign="middle">Moduł Faktury</td>
                    <td align="center" valign="middle">{%if user.accessmodule.invoices_module%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                    <td align="center" valign="middle">{%if user.accessmodule.invoices_module_edit%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                </tr>
                <tr>
                    <td valign="middle">Moduł Darowizny</td>
                    <td align="center" valign="middle">{%if user.accessmodule.donations_module%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                    <td align="center" valign="middle">{%if user.accessmodule.donations_module_edit%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                </tr>
                <tr>
                    <td valign="middle">Moduł Środki trwałe</td>
                    <td align="center" valign="middle">{%if user.accessmodule.buildings_module%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                    <td align="center" valign="middle">{%if user.accessmodule.buildings_module_edit%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                </tr>
                <tr>
                    <td valign="middle">Moduł Przeglądy</td>
                    <td align="center" valign="middle">{%if user.accessmodule.inspections_module%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                    <td align="center" valign="middle">{%if user.accessmodule.inspections_module_edit%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                </tr>
                <tr>
                    <td valign="middle">Moduł Umowy ZZP</td>
                    <td align="center" valign="middle">{%if user.accessmodule.contracts_auction_module%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                    <td align="center" valign="middle">{%if user.accessmodule.contracts_auction_module_edit%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                </tr>
                <tr>
                    <td valign="middle">Moduł Inwestycje</td>
                    <td align="center" valign="middle">{%if user.accessmodule.investments_module%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                    <td align="center" valign="middle">{%if user.accessmodule.investments_module_edit%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                </tr>
                <tr>
                    <td valign="middle">Moduł Rodzajowość</td>
                    <td align="center" valign="middle">{%if user.accessmodule.cpvdict_module%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                    <td align="center" valign="middle">{%if user.accessmodule.cpvdict_module_edit%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                </tr>
                <tr>
                    <td valign="middle">Moduł Galeria</td>
                    <td align="center" valign="middle">{%if user.accessmodule.gallery_module%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i>
                        {%endif%}
                    </td>
                    <td align="center" valign="middle">{%if user.accessmodule.gallery_module_edit%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                </tr>
                {%endif%}
                {%if user.accessmodule.zm_team%}
                <tr>
                    <td valign="middle">Zespół Mieszkaniowy</td>
                    <td align="center" valign="middle"><i class="bi bi-check-circle-fill text-success"></i></td>
                    <td>Moduł Lokale służbowe</td>
                    <td align="center" valign="middle">{%if user.accessmodule.official_flat%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                    <td align="center" valign="middle">{%if user.accessmodule.official_flat_edit%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                </tr>
                {%endif%}
                {%if user.accessmodule.zn_team%}
                <tr>
                    <td rowspan="2" valign="middle">Zespół Nieruchomości</td>
                    <td rowspan="2" align="center" valign="middle"><i class="bi bi-check-circle-fill text-success"></i>
                    </td>
                    <td>Moduł Jednostki</td>
                    <td align="center" valign="middle">{%if user.accessmodule.units%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                    <td align="center" valign="middle">{%if user.accessmodule.units_edit%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                </tr>
                <tr>
                    <td>Moduł Umowy</td>
                    <td align="center" valign="middle">{%if user.accessmodule.contract_immovables%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                    <td align="center" valign="middle">{%if user.accessmodule.contract_immovables_edit%}<i
                            class="bi bi-check-circle-fill text-success"></i>
                        {%else%} <i class="bi bi-x-circle-fill text-danger"></i> {%endif%}
                    </td>
                </tr>
                {%endif%}
                {%if user.accessmodule.ze_team%}
                <tr>
                    <td rowspan="2" valign="middle">Zespół Eksploatacji</td>
                    <td rowspan="2" align="center" valign="middle">
                        <i class="bi bi-check-circle-fill text-success"></i>
                    </td>
                    <td>Moduł Ewidencja Pism</td>
                    <td align="center" valign="middle">
                        {%if user.accessmodule.records_letters%}
                        <i class="bi bi-check-circle-fill text-success"></i>
                        {%else%}
                        <i class="bi bi-x-circle-fill text-danger"></i>
                        {%endif%}
                    </td>
                    <td align="center" valign="middle">
                        {%if user.accessmodule.records_letters_edit%}
                        <i class="bi bi-check-circle-fill text-success"></i>
                        {%else%}
                        <i class="bi bi-x-circle-fill text-danger"></i>
                        {%endif%}
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="middle">Moduł Umowy Media</td>
                    <td align="center" valign="middle">
                        {%if user.accessmodule.contract_media%}
                        <i class="bi bi-check-circle-fill text-success"></i>
                        {%else%}
                        <i class="bi bi-x-circle-fill text-danger"></i>
                        {%endif%}
                    </td>
                    <td align="center" valign="middle">
                        {%if user.accessmodule.contract_media_edit%}
                        <i class="bi bi-check-circle-fill text-success"></i>
                        {%else%}
                        <i class="bi bi-x-circle-fill text-danger"></i>
                        {%endif%}
                    </td>
                </tr>
                {%endif%}
                </tbody>
            </table>
        </div>
        {%if commands%}
        <div class="col-md-4 text-center">
            <a href="{%url 'main:show_command_list'%}">
                <input type="button" class="btn btn-outline-primary my-btn" value="Polecenia Naczelnika">
            </a>
        </div>
        {%endif%}
    </div>
    {%elif user.is_authenticated%}
    <ul class="list-group">
        <li class="list-group-item text-center"><span>BRAK UPRAWNIEŃ DO MODUŁÓW</span></li>
    </ul>
    {%else%}
    <ul class="list-group">
        <li class="list-group-item text-center"><span>UŻYTKOWNIK ANONIMOWY</span></li>
    </ul>
    {%endif%}
</div>
{%endblock%}