{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%}{%endblock%}
{%block content%}
<div class="container">
    <div class="row mb-5">
        <div class="col-md-2">
            {%if user.accessmodule.commands %}
            <a href="{%url 'main:make_secretariat_site'%}"><button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span></button></a>
            {%else%}
            <a href="{%url 'main:give_access_to_modules'%}"><button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span></button></a>
            {%endif%}
        </div>
        <div class="col-md-8"><h5 class="text-center">Polecenia Naczelnika</h5></div>
        <button class="btn bi bi-file-earmark-plus h3"></button>
    </div>
    <div class="container list-group col-md-5">
            {%for command in commands%}
                <div class="list-group-item list-group-item-action d-flex justify-content-between">
                    <span class="bi bi-calendar-plus pt-2" data-toggle="info" title="Data dodania: {{command.create_date}} r."></span>
                    <span class="pt-2" data-toggle="info" title="{{command.content}}">{{command}}</span>
                    <div>
                        <a href="/media/{{command.scan}}" target="_blank"><button class="btn bi bi-link-45deg"></button></a>
                        <button class="btn btn-outline" data-url="" onclick="openModalEditCommand(this)">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </div>
                </div>
            {%endfor%}
    </div>
</div>
<!-- Modal -->
<div class="modal fade modal-style" id="openModalAddCommand"  data-url="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<div class="modal fade modal-style" id="openModalEditCommand"  data-url="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
<!--    function openModalEmployerAdd(){-->
<!--        var url = $("#addEmployerModal").data("url");-->
<!--        $("#addEmployerModal .modal-content").load(url);-->
<!--        $("#addEmployerModal").modal("show");-->
<!--    }-->

<!--    function $(button){-->
<!--        var url = $(button).data("url");-->
<!--        $("#editEmployerModal .modal-content").load(url);-->
<!--        $("#editEmployerModal").modal("show");-->
<!--    }-->

<!--    function submitForm(){-->
<!--        $("#submitButton").closest("form").submit();-->
<!--    }-->

    $(function () {
        $('[data-toggle="info"]').tooltip()
    })
</script>
{%endblock%}