{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%}{%endblock%}
{%block content%}
<div class="container">
    <div class="row mb-5">
        <div class="col-md-2">
            {%if user.accessmodule.commands %}
            <a href="{%url 'main:make_secretariat_site'%}"><button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span></button></a>
            {%else%}
            <a href="{%url 'main:give_access_to_modules'%}"><button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span></button></a>
            {%endif%}
        </div>
        <div class="col-md-8"><h5 class="text-center">Polecenia Naczelnika</h5></div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="list-group">
            {%for command in commands%}
            <a class="list-group-item list-group-item-action" href="/media/{{command.scan}}" target="_blank"><span data-toggle="info" title="{{command.content}}" class="bi bi-calendar-plus"> Data dodania: {{command.create_date}} r. - {{command}}</span></a>
            {%endfor%}
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="info"]').tooltip()
    })
</script>
{%endblock%}