{%load static%}
{%load bootstrap%}
{%block content%}
{%if user.is_authenticated and user.accessmodule.zok_team%}
<div class="container">
    <form class="col m-2 p-4" method="POST" enctype="multipart/form-data" action="{%if new%} {%url 'main:add_command_popup'%} {%else%}{%url 'main:edit_command_popup' id%} {%endif%}">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-12" data-toggle="info" title="np: Polecenie nr 5 z dnia 01.01.2022 r.">
                {{command_form.title|bootstrap}}
            </div>
            <div class="col-md-12 mt-3">{{command_form.content|bootstrap}}</div>
            <div class="col-md-6 mt-3">{{command_form.scan|bootstrap}}</div>

        </div>
        <div class="mt-4 moj-button-right">
            <button type="submit" class="btn btn-outline-primary my-btn">
                {%if new%}
                <span class="bi bi-save2"> Dodaj</span>
                {%else%}
                <span class="bi bi-save2"> Zapisz zmiany</span>
                {%endif%}
            </button>
        </div>
    </form>
</div>
{%endif%}
{%endblock%}


