{% extends 'base.html' %}
{% load static %}
{% block title %} SEKRETARIAT {% endblock %}
{% block content %}
<div class="container">
    <div class="row pt-5">
        <div class="col-md-2">
            <a href="{%url 'main:make_secretariat_site'%}">
                <button class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        <div class="col-md-8 text-center">
            <h5>Pracownicy Wydziału</h5>
            {%if last_date%}
            <small>Ostatnia aktualizacja: {{last_date.change|date:'m.d.Y (H:i)'}}</small>
            {%endif%}
        </div>
        <div class="col-md-2 moj-button-right">
            {%if secretariat%}
            <button class="btn btn-outline-primary my-btn" type="button" data-toggle="info" onclick="openModalEditSecretariat()" title="Edytuj numery sekretariatu">
                <span class="bi bi-telephone h4"></span>
            </button>
            {%else%}
            <button class="btn btn-outline-primary my-btn" type="button" data-toggle="info" onclick="openModalAddSecretariat()" title="Dodaj numery sekretariatu">
                <span class="bi bi-telephone h4"></span>
            </button>
            {%endif%}
            <button class="btn btn-outline-primary my-btn" type="button" data-toggle="info" onclick="openModalEmployerAdd()" title="Dodaj nowego pracownika">
                <span class="bi bi-person-plus h4"></span>
            </button>
        </div>
        {%if secretariat%}
         <div>
             <span class="text-muted">Nr. kierunkowy:</span>&nbsp;<span>{{secretariat.code}}</span><br>
             <span class="text-muted">Nr. do sekretariatu:</span>&nbsp;<span>{{secretariat.secretariat_number}}</span><br>
             <span class="text-muted">Nr. Fax do WIiR:</span>&nbsp;<span>{{secretariat.fax_number}}</span><br>
             <span class="text-muted" data-toggle="info" title="Informacja ukazująca się w spisie telefonów">Informacja:</span>&nbsp;<span>{{secretariat.information}}</span><br>
        </div>
        {%endif%}
    </div>
    <div class="mt-4">
        <table class="table table-sm">
            <thead class="table-dark">
            <tr class="my-table-tr">
                <th align="center" valign="middle" width="60px" scope="col" class="text-center">L.p.</th>
                <th align="center" valign="middle" width="120" scope="col">Stanowisko</th>
                <th align="center" valign="middle" width="220" scope="col">Imię i nazwisko</th>
                <th align="center" valign="middle" width="220" scope="col" class="text-center">Zespół</th>
                <th align="center" valign="middle" width="250" scope="col" class="text-center">Branża</th>
                <th align="center" valign="middle" width="10" scope="col" class="text-center">Nr.pokoju</th>
                <th align="center" valign="middle" width="100" scope="col" class="text-center">Nr.tel</th>
                <th align="center" valign="middle" width="120" scope="col" class="text-center">Nr.komórkowy</th>
                <th colspan="3" align="center" valign="middle" width="" scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            {%for employer in employers%}
            <tr class="my-table-tr">
                <td align="center" valign="middle" class="text-center" scope="row" width=""></td>
                <td align="left" valign="middle">{{employer.position}}</td>
                <td align="left" valign="middle"><span data-toggle="info" title="{{employer.id_swop}}">{{employer.name}} {{employer.last_name}}</span></td>
                <td align="center" valign="middle">{{employer.team}}</td>
                {%if employer.industry%}
                <td align="center" valign="middle">
                    <span>{{employer.industry}}</span>
                    {%if employer.industry_specialist%}
                    <span data-toggle="info" title="Branżysta merytoryczny" class="bi bi-hammer"></span>
                    {%else%}
                    <span data-toggle="info" title="Branżysta finansowy" class="bi bi-cash-coin"></span>
                    {%endif%}
                </td>
                {%else%}
                <td align="center" valign="middle">---</td>
                {%endif%}
                <td align="center" valign="middle">{{employer.no_room}}</td>
                <td align="center" valign="middle">{{employer.no_tel_room}}</td>
                <td align="center" valign="middle">{{employer.no_tel_private}}</td>
                <td data-toggle="info" align="center" valign="middle" title="Edytuj">
                    <button class="btn btn-outline" data-url="{% url 'main:edit_employer_popup' employer.id %}" onclick="openModalEmployerEdit(this)">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade modal-style" id="addSecretariatModal" data-url="{%url 'main:add_secretariat_number'%}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
{%if secretariat%}
<div class="modal fade modal-style" id="editSecretariatModal" data-url="{%url 'main:edit_secretariat_number' secretariat.id%}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
{%endif%}
<div class="modal fade modal-style" id="addEmployerModal"  data-url="{%url 'main:add_employer_popup'%}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<div class="modal fade" id="editEmployerModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.remove("active");
    document.getElementById("button-secretariat").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");

    function openModalAddSecretariat(){
        var url = $("#addSecretariatModal").data("url");
        $("#addSecretariatModal .modal-content").load(url);
        $("#addSecretariatModal").modal("show");
    }

    function openModalEditSecretariat(){
        var url = $("#editSecretariatModal").data("url");
        $("#editSecretariatModal .modal-content").load(url);
        $("#editSecretariatModal").modal("show");
    }

    function openModalEmployerAdd(){
        var url = $("#addEmployerModal").data("url");
        $("#addEmployerModal .modal-content").load(url);
        $("#addEmployerModal").modal("show");
    }

    function openModalEmployerEdit(button){
        var url = $(button).data("url");
        $("#editEmployerModal .modal-content").load(url);
        $("#editEmployerModal").modal("show");
        }

    function submitForm(){
        $("#submitButton").closest("form").submit();
    }

    $(function () {
        $('[data-toggle="info"]').tooltip()
    })
</script>
{% endblock %}