{% extends 'base.html' %}
{% load static %}
{% block title %} SEKRETARIAT {% endblock %}
{% block content %}
<div class="container">
    <div class="row pt-5">
        <div class="col-md-2">
            <a href="{%url 'main:make_secretariat_site'%}">
                <button class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        <div class="col-md-8">
            <h5 class="text-center">Pracownicy Wydziału</h5>
        </div>
        <div class="col-md-2 moj-button-right">
            <a><h3 class="bi bi-person-plus"></h3></a>
        </div>
    </div>
    <div class="mt-4">
        <table class="table table-sm">
            <thead class="table-dark">
            <tr class="my-table-tr">
                <th align="center" valign="middle" width="60px" scope="col" class="text-center">L.p.</th>
                <th align="center" valign="middle" width="" scope="col">Stanowisko</th>
                <th align="center" valign="middle" width="" scope="col">Imię i nazwisko</th>
                <th align="center" valign="middle" width="" scope="col" class="text-center">Zespół</th>
                <th colspan="2" align="center" valign="middle" width="" scope="col" class="text-center">Branża</th>
                <th align="center" valign="middle" width="" scope="col" class="text-center">Nr.pokoju</th>
                <th align="center" valign="middle" width="" scope="col" class="text-center">Nr.tel</th>
                <th align="center" valign="middle" width="" scope="col" class="text-center">Komórka</th>
                <th colspan="3" align="center" valign="middle" width="" scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            {%for employer in employers%}
            <tr class="my-table-tr">
                <td align="center" valign="middle" class="text-center" scope="row" width=""></td>
                <td align="left" valign="middle">{{employer.position}}</td>
                <td align="left" valign="middle">{{employer.name}} {{employer.last_name}}</td>
                <td align="center" valign="middle">{{employer.team}}</td>
                <td align="center" valign="middle">{{employer.industry}} {{employer.industry_specialist}}</td>
                <td align="center" valign="middle">{{employer.no_room}}</td>
                <td align="center" valign="middle">{{employer.no_tel_room}}</td>
                <td align="center" valign="middle">{{employer.no_tel_private}}</td>
                <td align="center" valign="middle"></td>
                <td data-toggle="info" align="center" valign="middle" title="Informacja"><i class="bi bi-info-circle"></i></td>
                <td data-toggle="info" align="center" valign="middle" title="Edytuj"><i class="bi bi-pencil-square"></i></td>
                <td data-toggle="info" align="center" valign="middle" title="Usuń"><i class="bi bi-trash"></i></td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-record").classList.remove("active");
     document.getElementById("button-secretariat").classList.add("active");
     document.getElementById("button-cpv").classList.remove("active");
     document.getElementById("button-investments").classList.remove("active");
     function openModal(button){
        var url = $(button).data("url");
        $("#orderInformationModal .modal-content").load(url);
        $("#orderInformationModal").modal("show");
    }
    function submitForm(){
        $("#submitButton").closest("form").submit();
    }
    $(function () {
        $('[data-toggle="info"]').tooltip()
    })




</script>
{% endblock %}