{%extends 'base.html'%}
{%load static%}
{%block title%}Strona główna{%endblock%}
{%block content%}
<div class="d-flex justify-content-between">
    <div class="col-md-4 mt-3">
        {%for head_command in commands%}
        <div class="list-group col-md-12 my-2">
            <a href="/media/{{head_command.scan}}" target="_blank"
               class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1"><span>{{head_command.title}}</span></p>
                    <small>Dodano: {{head_command.create_date}}&nbspr.</small>
                </div>
                <small class="text-muted">{{head_command.content}}</small>
            </a>
        </div>
        {%endfor%}
    </div>
    <div class="text-center col-md-4 mt-5 ">
        <div class="mb-5">
            <img src="{%static 'main/media/policja.png'%}" height="90px"/>
            <div class="mt-5"><span class="text-center h5" data-toggle="info" title="{{date|date:'l'}}">Dziś jest: {{date|date:"j E Y"}} roku</span></div>
            <h5 class="text-center mt-1">Dzień w roku: {{date|date:"z"}}</h5>
        </div>
    </div>
    <div class="col-md-4 mt-3">
        <table class="table table-hover caption-top">
            <caption>
                {%if user.is_authenticated and user.accessmodule.cars%}
                <a data-url="{%url 'main:add_rent_car'%}" onclick="openModal(this)">
                    <span class="bi bi-plus-square-dotted"> Rezerwacja samochodu służbowego</span>
                </a>
                {%else%}
                    <span> Rezerwacja samochodu służbowego</span>
                {%endif%}
            </caption>
            <thead>
            <tr class="text-center calendar-text">
                <th align="center" valign="middle" width="30%">Data</th>
                <th align="center" valign="middle" width="20%">Delegat</th>
                <th align="center" valign="middle" width="auto">Cel</th>
            </tr>
            </thead>
            <tbody class="calendar-text">
            {%for car in  rent_cars|slice:"-4:"%}
            <tr>
                <td valign="middle">
                    {%if user.is_authenticated and user.accessmodule.cars%}
                        {%if car.rent_date == date%}
                            <a class="bi bi-calendar4-week btn btn-secondary" data-url="{%url 'main:edit_rent_car' car.id%}" onclick="openModal(this)">
                                <span class="calendar-text">
                                    <b>&nbsp;{{car.rent_date}}&nbsp;r.</b>
                                </span>
                            </a>
                        {%else%}
                            <a class="bi bi-calendar4-week btn btn-outline-secondary" data-url="{%url 'main:edit_rent_car' car.id%}" onclick="openModal(this)">
                                <span class="calendar-text">&nbsp;{{car.rent_date}}&nbsp;r.</span>
                            </a>
                        {%endif%}
                    {%else%}
                        {%if car.rent_date == date%}
                            <span><b>{{car.rent_date}}&nbsp;r.</b></span>
                        {%else%}
                            <span>{{car.rent_date}}&nbsp;r.</span>
                        {%endif%}
                    {%endif%}
                </td>
                <td valign="middle">
                    {%for worker in car.borrower.all%}
                    <span>{{worker.name}} {{worker.last_name.0}}.</span><br>
                    {%endfor%}
                </td>
                <td valign="middle" width="300">
                    <span>{{car.target}}</span>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="rentCarModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="info"]').tooltip()
    })

    function openModal(button){
        var url = $(button).data("url");
        $("#rentCarModal .modal-content").load(url);
        $("#rentCarModal").modal("show");
    }

    function submitForm(){
        $("#submitButton").closest("form").submit();
    }
</script>
{%endblock%}