{% extends 'base.html' %}
{% load static %}
{% block title %} Ewidencje WIiR {% endblock %}
{% block content %}
<div class="container">
</div>
    <h3 class="text-center m-5">Ewidencje WIiR</h3>
    <div class="col d-flex justify-content-between">
       {%if user.accessmodule.ze_team%}
        <div class="col-md-3 text-center">
            <h5 class="mb-5"><span>Zespół Eksploatacji</span></h5>
            <div class="container col d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="list-group">
                        <a class="text-decoration-none" href="#">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Agregaty<span class="badge text-white info badge-pill">10</span>
                            </button>
                        </a>
                        <a class="text-decoration-none" href="#" target="_blank">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Klimatyzatory<span class="badge text-white info badge-pill">1</span>
                            </button>
                        </a>
                        <a class="text-decoration-none" href="#" target="_blank">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Windy<span class="badge text-white info badge-pill">5</span>
                            </button>
                        </a>
                        <a class="text-decoration-none" href="#" target="_blank">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Kotłu grzewcze<span class="badge text-white info badge-pill">10</span>
                            </button>
                        </a>
                        <a class="text-decoration-none" href="#" target="_blank">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Monitoring CCTV<span class="badge text-white info badge-pill">8</span>
                            </button>
                        </a>
                        <a class="text-decoration-none" href="#" target="_blank">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Hydranty<span class="badge text-white info badge-pill">10</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {%if user.accessmodule.zriwt_team%}
        <div class="col-md-3 text-center">
            <h5 class="mb-4"><span>Zespół Rozliczeń i Wspatcia Technicznego</span></h5>
            <div class="col-md-12 d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="list-group">
                        {%if user.accessmodule.contractors_module%}
                        <a class="text-decoration-none" href="{%url 'contractors:contractor_list'%}">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Kontrahenci<span class="badge text-white info badge-pill">{{contractors_len}}</span>
                            </button>
                        </a>
                        {%endif%}
                        {%if user.accessmodule.invoices_module%}
                        <a class="text-decoration-none" href="{%url 'invoices:menu_invoices'%}">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Faktury<span class="badge text-white info badge-pill">0</span>
                            </button>
                        </a>
                        {%endif%}
                        {%if user.accessmodule.donations_module%}
                        <a class="text-decoration-none" href="{%url 'donations:donations_list'%}">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Darowizny<span class="badge text-white info badge-pill">{{application_len}}</span>
                            </button>
                        </a>
                        {%endif%}
                        {%if user.accessmodule.contracts_auction_module%}
                        <a class="text-decoration-none" href="{%url 'contracts:menu_contracts_auction'%}">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Umowy ZZP<span class="badge text-white info badge-pill">{{contracts_auction_len}}</span>
                            </button>
                        </a>
                        {%endif%}
                        {%if user.accessmodule.investments_module%}
                        <a class="text-decoration-none" href="{%url 'investments:investment_projects_list'%}">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Inwestycje<span class="badge text-white info badge-pill">{{projects_len}}</span>
                            </button>
                        </a>
                        {%endif%}
                        {%if user.accessmodule.cpvdict_module%}
                        <a class="text-decoration-none" href="{%url 'cpvdict:type_expense_list'%}">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Rodzajowość<span class="badge text-white info badge-pill">{{genres_len}}</span>
                            </button>
                        </a>
                        {%endif%}
                        {%if user.accessmodule.gallery_module%}
                        <a class="text-decoration-none" href="{%url 'gallery:gallery_list'%}">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Galeria<span class="badge text-white info badge-pill">{{galleries_len}}</span>
                            </button>
                        </a>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {%if user.accessmodule.zn_team%}
        <div class="col-md-3 text-center">
            <h5 class="mb-5"><span>Zespół Nieruchomości</span></h5>
            <div class="col-md-12 d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="list-group">
                        {%if user.accessmodule.contract_immovables%}
                        <a class="text-decoration-none" href="{%url 'contracts:menu_contractsimmovables'%}">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Umowy<span class="badge text-white info badge-pill">{{con_len}}</span>
                            </button>
                        </a>
                        {%endif%}
                          <a class="text-decoration-none" href="">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Trwały zarząd<span class="badge text-white info badge-pill">brak</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {%if user.accessmodule.zm_team%}
        <div class="col-md-3 text-center">
            <h5 class="mb-5"><span>Zespół Mieszkaniowy</span></h5>
            <div class="col-md-12 d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="list-group">
                        <a class="text-decoration-none" href="{% url 'businessflats:make_flats_list'%}">
                            <button class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center mb-1">
                                Mieszkania służbowe<span class="badge text-white info badge-pill">{{count_flats}}</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
    </div>
</div>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-record").classList.add("active");
     document.getElementById("button-secretariat").classList.remove("active");
     document.getElementById("button-cpv").classList.remove("active");
     document.getElementById("button-investments").classList.remove("active");
</script>
{% endblock %}