{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}Niezbędne pliki{%endblock%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 px-5">
            <h5 class="text-center mb-4">Polecenie Naczelnika</h5>
            <div>
                <ul class="list-group">
                    {%for command in commands%}
                    <li class="list-group my-2">
                        <a href=/media/{{command.scan}} target="_blank" class="btn btn-outline-secondary my-btn btn-sm">
                            <span class="bi bi-calendar-plus text-uppercase d-block" data-toggle="info" title="Treść: {{command.content}}">&nbsp;{{command.title}}</span>
                        </a>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        <div class="col-md-6 px-5">
            <h5 class="text-center mb-4">Pliki do pobrania</h5>
            <div class="">
                <ul class="list-group">
                    {%for file in files%}
                    <li class="list-group my-2">
                        <a href=/media/{{file.file}} target="_blank" class="btn btn-outline-secondary my-btn btn-sm">
                            <span class="bi bi-calendar-plus text-uppercase d-block" data-toggle="info" title="Dodano: {{file.create_date|date:'d.m.Y'}}">&nbsp;{{file.title}}</span></a>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}