{% extends 'base.html' %}
{% load static %}
{% block title %} SEKRETARIAT {% endblock %}
{% block content %}
<div class="container">
    <h5 class="text-center mb-3"><span>Sekretariat</span></h5>
    <div class="d-flex justify-content-center pt-2">
        <div class="col-md-4 text-center">
            <div class="my-3"><a href="{%url 'main:show_teams_list'%}"><button class="btn btn-outline-primary my-btn ">
                    <span class="bi bi-chevron-double-right"> Komórki Wydziału</span></button></a></div>

            <div class="my-3"><a href="{%url 'main:show_employers_list'%}"><button class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-double-right"> Pracownicy</span></button></a></div>

            <div class="my-3"><a href="{%url 'main:show_employers_list'%}"><button class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-double-right"> Polecenia Naczelnika</span></button></a></div>
        </div>
    </div>
</div>

<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.remove("active");
    document.getElementById("button-secretariat").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");
    function openModal(button){
        var url = $(button).data("url");
        $("#orderInformationModal .modal-content").load(url);
        $("#orderInformationModal").modal("show");
    }
    function submitForm(){
        $("#submitButton").closest("form").submit();
    }
    $(function () {
        $('[data-toggle="info"]').tooltip()
    })
</script>
{% endblock %}