{%load static%}
{%load bootstrap%}
{%block content%}
<div class="container">
    <form class=" col m-2 p-4" method="POST" enctype="multipart/form-data" action="{%if new%} {%url 'main:add_secretariat_number'%} {%else%} {%url 'main:edit_secretariat_number' id%} {%endif%}">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-12 mt-3">{{secretariat_form|bootstrap}}</div>
        </div>
        {%if new%}
        <div class="mt-4 moj-button-right">
            <button type="submit" class="btn btn-outline-primary my-btn">
                <span class="bi bi-save2"> Dodaj</span>
            </button>
        </div>
        {%else%}
        <div class="row">
            <div class="mt-4 col-md-6 moj-button_left">
                <a href="{%url 'main:delete_secretariat_number' id%}"><button class="btn btn-outline-danger" type="button">
                    <span class="bi bi-trash"></span>
                </button></a>
            </div>
            <div class="mt-4 col-md-6 moj-button-right">
                <button type="submit" class="btn btn-outline-primary my-btn">
                    {%if new%}
                    <span class="bi bi-save2"> Dodaj</span>
                    {%else%}
                    <span class="bi bi-save2"> Zapisz zmiany</span>
                    {%endif%}
                </button>
            </div>
        </div>
        {%endif%}
    </form>
</div>
{%endblock%}

