{% extends 'base.html' %}
{% load static %}
{% block title %} SEKRETARIAT {% endblock %}
{% block content %}
{%if user.is_authenticated and user.accessmodule.zok_team%}
<div class="container">
    <h5 class="text-center mb-4">
        <span>Sekretariat</span>
    </h5>
    <div class="d-flex justify-content-center pt-2">
        <div class="col-md-4 text-center">
            <ul class="list-group">
                {%if user.accessmodule.teams%}
                <li class="list-group my-2">
                    <a class="d-block btn btn-outline-primary my-btn" href="{%url 'main:show_teams_list'%}">Struktura Wydziału</a>
                </li>
                {%endif%}

                {%if user.accessmodule.employers%}
                <li class="list-group my-2">
                    <a class="d-block btn btn-outline-primary my-btn" href="{%url 'main:show_employers_list'%}">Pracownicy</a>
                </li>
                {%endif%}

                {%if user.accessmodule.commands%}
                <li class="list-group my-2">
                    <a class="d-block btn btn-outline-primary my-btn" href="{%url 'main:show_command_list'%}">Polecenia Naczelnika</a>
                </li>
                <li class="list-group my-2">
                    <a class="d-block btn btn-outline-primary my-btn" href="{%url 'main:download_files'%}">Pliki</a>
                </li>
                {%endif%}
            </ul>
        </div>
    </div>
</div>

<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.remove("active");
    document.getElementById("button-secretariat").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");
    function openModal(button){
        var url = $(button).data("url");
        $("#orderInformationModal .modal-content").load(url);
        $("#orderInformationModal").modal("show");
    }
    function submitForm(){
        $("#submitButton").closest("form").submit();
    }
</script>
{%endif%}
{% endblock %}
