{% extends 'base.html' %}
{% load static %}
{% block title %} SEKRETARIAT {% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center row pt-5">
        <div class="col-md-2">
            <a href="{%url 'main:make_secretariat_site'%}">
                <button class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        <div class="list-group col-md-4">
            <h5 class="text-center mb-5">Komórki Wydziału Inwestycji i Remontów</h5>
            {%for team in teams%}
            <span class="list-group-item list-group-item-action d-flex justify-content-between">
                <span class="pt-2" data-toggle="info" title="Kolejność wyświetlania: {{team.priority}}">{{team}}</span>
                <button data-toggle="info" title="Edytuj" class="btn btn-sm" type="button" data-url="{% url 'main:edit_team_popup' team.id %}" onclick="openModalEdit(this)">
                    <span style="font-size: 20px" class="bi bi-pencil-square"></span>
                </button>
            </span>
            {%endfor%}
        </div>
        <div class="col-md-2 moj-button-right">
            <button class="btn btn-outline-primary my-btn" type="button" data-toggle="info" onclick="openModalAdd()" title="Dodaj nową komórkę Wydziału">
                <span class="bi bi-node-plus h3"></span>
            </button>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade modal_style" id="addTeamModal"  data-url="{%url 'main:add_team_popup'%}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<div class="modal fade modal_style" id="editTeamModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.remove("active");
    document.getElementById("button-secretariat").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");

    function openModalAdd(){
        var url = $("#addTeamModal").data("url");
        $("#addTeamModal .modal-content").load(url);
        $("#addTeamModal").modal("show");
    }

    function openModalEdit(button){
        var url = $(button).data("url");
        $("#editTeamModal .modal-content").load(url);
        $("#editTeamModal").modal("show");
    }

    function submitForm(){
        $("#submitButton").closest("form").submit();
    }

    $(function () {
        $('[data-toggle="info"]').tooltip()
    })
</script>
{% endblock %}