{%load static%}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="{%static 'main/bootstrap/css/bootstrap.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/css/style.css'%}" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="{%static 'main/bootstrap//js/bootstrap.bundle.js'%}"></script>
    <!-- icon -->
    <link rel="shortcut icon" href="{%static 'main/media/logo.ico'%}" type="x-icon">

    <title>Telefony pracowników WIiR</title>
</head>
<body>
<h3 class="text-center mt-5 mb-5"><span>Spis telefontów Wydziału Inwestycji i Remontów KWP w Poznaniu</span></h3>

<div class="container">
    {%if secretariat.information%}
    <p class="text-center">
            <span>{{secretariat.information}}</span>
    </p>
    {%endif%}
    <div class="row">
        <div class="d-flex justify-content-between">
            <div class="moj-button-left">
                {%if secretariat.fax_number%}
                <span><b>Faks WIiR: {{secretariat.fax_number}}</b></span>
                {%endif%}
            </div>
            <div class="moj-button-right">
                {%if secretariat.secretariat_number%}
                <span><b>Selretariat WIiR: {{secretariat.secretariat_number}}</b></span>
                {%endif%}
            </div>
        </div>
        <div class="col-md-9 moj-button-right">
            {% if telephone_book %}
            {%for book in telephone_book%}
            <div>
                <a href="/media/{{book.telephone_book}}" target="_blank">
                    <button type="button" class="btn btn-outline-dark">
                        <span>Spis telefonów KWP w Poznaniu</span><br><span class="info-book-tele">(Dodano: {{book.add_date}})</span>
                    </button>
                </a>

            </div>
            {%endfor%}
            {%endif%}
        </div>
    </div>
    {%for team in teams%}
    <div>
        <table class="table table-bordered tel-table my-table">
            <caption class="tel-table-caption">{{team}}</caption>
            <thead class="thead-dark">
            <tr class="my-table-tr">
                <th class="text-center" valign="middle" width="40px" scope="col"><span>l.p</span></th>
                <th class="text-center" valign="middle" width="130px" scope="col">Stanowisko</th>
                <th class="text-center" valign="middle" width="220px" scope="col">Imię i Nazwisko</th>
                <th class="text-center" valign="middle" width="80px" scope="col">Nr. pokoju</th>
                <th class="text-center" valign="middle" width="80px" scope="col">Nr. telefonu<br>{{secretariat.code}}</th>
                <th class="text-center" valign="middle" width="80px" scope="col">Nr. komórkowy</th>
                <th class="text-center" valign="middle" width="250px" scope="col">Informacje</th>
            </tr>
            </thead>
            <tbody>
            {% for worker in team.employer.all %}
            {%if worker.deleted == False%}
                <tr class="my-table-tr">
                    <td class="text-center" valign="middle" scope="row"></td>
                    {% if worker.position == 'Koordynator' %}
                    <td class="text-center table-primary" valign="middle">
                        <u><b>{{worker.position|default_if_none:''}}</b></u></td>
                    {%else%}
                    <td class="text-center" valign="middle">{{worker.position|default_if_none:''}}</td>
                    {% endif %}
                    <td width="120px" valign="middle">{{worker.name|default_if_none:''}}
                        {{worker.last_name|default_if_none:''}}
                    </td>
                    <td class="text-center" valign="middle">{{worker.no_room|default_if_none:''}}</td>
                    <td class="text-center" valign="middle">{{worker.no_tel_room|default_if_none:''}}</td>
                    <td class="text-center" valign="middle">{{worker.no_tel_private|default_if_none:''}}</td>
                    <td valign="middle">{{worker.information|default_if_none:''}}</td>
                </tr>
            {%endif%}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
</body>
</html>