{%load static%}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="{%static 'main/bootstrap/css/bootstrap.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/css/style.css'%}" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="{%static 'main/bootstrap//js/bootstrap.bundle.js'%}"></script>
    <!-- icon -->
    <link rel="shortcut icon" href="{%static 'main/media/logo.ico'%}" type="x-icon">

    <title>Telefony pracowników WIiR</title>
</head>
<body>

<h3 class="text-center mt-5"><span>Spis telefontów Wydziału Inwestycji i Remontów KWP w Poznaniu</span></h3>

<div class="md-6">
    {%for te in teams%}
    <table class="table table-sm">
        <caption class="table-warning">{{te}}</caption>
        <thead class="thead-dark">
        <tr>
            <th scope="col">l.p</th>
            <th scope="col">Stanowisko</th>
            <th scope="col">Imię i Nazwisko</th>
            <th scope="col">Nr telefonu</th>
            <th scope="col">Nr komórkowy</th>
            <th scope="col">Informacje</th>
        </tr>
        </thead>
        <tbody>
        {% for worker in te.telephone_set.all %}
        <tr>
            <td scope="row">1</td>
            <td class="table-active">{{worker.position|default_if_none:''}}</td>
            <td>{{worker.fname|default_if_none:''}} {{worker.lname|default_if_none:''}}</td>
            <td>{{worker.numbtelbus|default_if_none:''}}</td>
            <td>{{worker.numbtelpri|default_if_none:''}}</td>
        </tr>


        {% endfor %}
        </tbody>
    </table>

    {% endfor %}
</div>


</body>
</html>