{%extends 'base.html'%}
{%load static%}

{%block title%}Strona główna{%endblock%}
{%block content%}

<div class="row">
    <div class="col-md-4">

        <div class="list-group col-md-10">
            {%for head_command in commands%}
            <a href="/media/{{head_command.scan}}" target="_blank"
               class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1"><span>{{head_command.title}}</span></p>
                    <small>{{head_command.create_date}}</small>
                </div>
                <small class="text-muted">{{head_command.content}}</small>
            </a>
            {%endfor%}
        </div>

    </div>
    <div class="text-center col-md-8 ">
        <div class="col-md-6 mb-5">
            <img src="{%static 'main/media/policja.png'%}" height="90px"/>
            <h5 class="text-center mt-5">Dziś jest: {{date|date:"j E Y"}} roku</h5>
            <h5 class="text-center">{{date|date:"l"}}</h5>
            <h5 class="text-center">Dzień w roku: {{date|date:"z"}}</h5>
        </div>
    </div>
</div>

{%endblock%}