{%extends 'base.html'%}
{%load static%}

{%block title%}Strona główna{%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-center">Dziś jest: {{date|date:"d E Y"}}</h4>
            <h4 class="text-center">{{date|date:"l"}}</h4>
            <h4 class="text-center">Dzień w roku: {{date|date:"z"}}</h4>

        </div>
        <div class="col-md-4 text-center mb-5">
            <img src="{%static 'main/media/policja.jpg'%}" height="150px"/>
        </div>
        <div class="col-md-4"></div>
        <h3 class="text-center">WITAJ</h3>
    </div>
</div>
{%endblock%}