{% extends 'base.html' %}
{%load bootstrap%}
{% load humanize %}
{% load static %}
{% block title %}Ewidencja - Mieszkania Służbowe{% endblock %}
{% block content %}
<form method="post">
    {%csrf_token%}
    {{new_float_form|bootstrap}}
    <div class="row mt-3">
            <div class="col-md-12 moj-button-right">
                <button type="submit" class="btn btn-outline-primary my-btn">{%if new%}Dodaj lokal{%else%}Zapisz zmiany{%endif%}</button>
            </div>
        </div>
</form>

<script>
    document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.remove("active");
     document.getElementById("button-cpv").classList.remove("active");
     document.getElementById("button-record").classList.add("active");
     document.getElementById("button-cpvnotaut").classList.remove("active");
</script>
{%endblock%}