{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}Ewidencja - Mieszkania Służbowe{% endblock %}
{% block content %}

<div class="row">
    <div class="w-100 pb-4 d-flex justify-content-center align-items-center flex-column text_center">
        <form method="get">
            <div class="input-group">
                <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj lokalu"
                       aria-label="Search" aria-describedby="search-addon">
                <button type="submit" class="btn btn-outline-primary my-btn">{{query}}{{search}}</button>
            </div>
        </form>
    </div>
</div>
<div class="kontrahenci-title justify-content-center align-items-center text-center">
    <h4 title="Ostatnia aktualizacja: {{last_date.change|date:'d.m.Y - (H:i)'}}">Mieszkania służbowe</h4>
    <div class="row">
        <div class="col-md-2">
            <p><span>Liczba mieszkań: </span><span class="badge text-white info badge-pill">{{count_flats}}</span></p>
        </div>
        <div class="col-md-10 moj-button-right "><a href="{%url 'listregister:add_new_flat'%}">
            <button type="button" class="btn btn-outline-primary my-btn">Dodaj nowy lokal</button>
        </a>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-hover my-table">
        <thead>
        <tr class="my-table-tr text-center">
            <th align="center" valign="middle" width="50" scope="col">L.p.</th>
            <th align="center" valign="middle" width="450" scope="col">Adres</th>
            <th align="center" valign="middle" width="120" scope="col">Powierzchnia</th>
            <th align="center" valign="middle" width="120" scope="col">Liczba pomieszczeń</th>
            <th align="center" valign="middle" width="120" scope="col">Piętro</th>
            <th align="center" valign="middle" width="100" scope="col">Stan</th>
            <th align="center" valign="middle" width="800" scope="col">Informacje</th>

        </tr>
        </thead>
        <tbody>
        {%for flat in flats %}
        <tr class="my-table-tr">
            <td class="text-center" valign="middle" scope="row"></td>
            <td align="left" valign="middle" scope="row" title="Ostatnie zmiany: {{flat.change|date:"d.m.Y"}} r. ({{flat.author.first_name}} {{flat.author.last_name}})">{{flat.address}}</td>
            <td align="center" valign="middle"><span>{{flat.area|intcomma}}</span></td>
            <td align="center" class="text-center" valign="middle"><span>{{flat.room_numbers}}</span></td>
            <td align="center" valign="middle"><span>{{flat.flor}}</span></td>
            {%if flat.state%}
            <td class="text-center" valign="middle" title="Wolne"><i class="bi bi-geo-alt-fill text-success"></i></td>
            {%else%}
            <td class="text-center" valign="middle" title="Zajęte"><i class="bi bi-geo-alt-fill text-danger"></i></td>
            {%endif%}
            <td valign="middle"><span>{{flat.information}}</span></td>
            <td class="text-center" valign="middle">
                <a href="{%url 'listregister:edit_flat' flat.id %}">
                    <button type="submit" class="btn btn-outline-primary icon-color"><i class="bi bi-pencil-square"></i>
                    </button>
                </a>
            </td>
        </tr>
        {%endfor%}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="7">Wydział Inwestycji i Remontów KWP w Poznaniu</th>
        </tr>
        </tfoot>
    </table>
    {%if search%}
    <nav aria-labelledby="Page navigation">
        <ul class="pagination justify-content-center">
            {%if flats.has_previous%}
            <li class="page-item">
                <a class="page-link" href="?page={{flats.previous_page_number}}">Poprzednia</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Poprzednia</a>
            </li>
            {%endif%}
            {%for i in flats.paginator.page_range%}
            {%if flats.number == i%}
            <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{i}}
                <span class="sr-only"></span>
            </span>
            </li>
            {%else%}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {%endif%}
            {%endfor%}
            {%if flats.has.next%}
            <li class="page-item">
                <a class="page-link" href="?page={{flats.next_page_number}}">Następna</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Następna</a>
            </li>
            {%endif%}
        </ul>
    </nav>
    {%endif%}
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.remove("active");
     document.getElementById("button-cpv").classList.remove("active");
     document.getElementById("button-record").classList.add("active");
     document.getElementById("button-cpvnotaut").classList.remove("active");

</script>
{%endblock%}