{%extends 'base.html'%}
{%load static%}


{%block title%} Jednostki Policji w Województwie Wielkopolskim {%endblock%}

{%block content%}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">L.p</th>
        <th scope="col">Powiat</th>
        <th scope="col">Rodzaj jednostki</th>
        <th scope="col">Adres</th>
        <th scope="col">Kod pocztowy</th>
        <th scope="col">Miasto</th>
        <th scope="col">Informacje</th>
        <th scope="col">Aktywna</th>

    </tr>
    </thead>
    <tbody>
    {%for unit in units %}
    <tr>
        <th scope="row">{{unit.id}}</th>
        <th>{{unit.powiat}}</th>
        <th>{{unit.rodzaj}}</th>
        <th>{{unit.adres}}</th>
        <th>{{unit.kod_pocztowy}}</th>
        <th>{{unit.miasto}}</th>
        <th>{{unit.informacje}}</th>
        <th>
            {%if unit.aktywna == True%}
            Tak
            {%else%}
            Nie
            {%endif%}
        </th>

    </tr>
    {%endfor%}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="8">Wydział Inwestycji i Remontów KWP w Poznaniu</th>

    </tr>
    </tfoot>
</table>

{%endblock%}