{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%}{%if new%}Dodanie nowej jednostki{%else%}Edycja jednostki{%endif%}{%endblock%}
{%block content%}
<div class="row">
    <div class="col-md-3">
        <a href="{%url 'units:create_units_list_editable'%}">
                <button class="btn btn-outline-primary"><span class="bi bi-chevron-compact-left">Cofnij</span></button>
            </a>
    </div>
    <div class="col-md-6">
        <h4 class="text-center">{%if new%}Dodawanie nowej jednostki{%else%}Edytowanie jednostki{%endif%}</h4>
    </div>
</div>
<div class="container col-md-6">
    <form method="post">
        {%csrf_token%}
        <div class="row col">
            <div class="col-md-6 my-2">{{unit_form.county|bootstrap}}</div>
            <div class="col-md-6 my-2">{{unit_form.type|bootstrap}}</div>
            <div class="col-md-4 my-2">{{unit_form.address|bootstrap}}</div>
            <div class="col-md-4 my-2">{{unit_form.zip_code|bootstrap}}</div>
            <div class="col-md-4 my-2">{{unit_form.city|bootstrap}}</div>
            <div class="col-md-12 my-2">{{unit_form.information|bootstrap}}</div>
        </div>
        <div>
            <div class="moj-button-right my-4">
                <button type="submit" class="btn btn-outline-primary pr-3">Zapisz</button>
            </div>
        </div>
    </form>
</div>

{%endblock%}

