{%extends 'base.html'%}
{%load static%}
{%load bootstrap%}
{%block title%}{%if new%}Dodanie nowej jednostki{%else%}Edycja jednostki{%endif%}{%endblock%}
{%block content%}
<div class="container col-md-6 mb-4">
    <div class="row">
        <div class="col-md-3">
            <a href="{%url 'units:create_units_list_editable'%}">
                <button class="btn btn-outline-primary"><span class="bi bi-chevron-compact-left">Cofnij</span></button>
            </a>
        </div>
        <div class="col-md-6">
            <h4 class="text-center">{%if new%}Dodawanie nowej jednostki{%else%}Edytowanie jednostki{%endif%}</h4>
        </div>
    </div>
</div>
<div class="container col-md-6">
    <form method="POST">
        {%csrf_token%}
        <div class="row col">
            <div class="col-md-6 my-2">{{unit_form.county|bootstrap}}</div>
            <div class="col-md-6 my-2">{{unit_form.type|bootstrap}}</div>
            <div class="col-md-4 my-2">{{unit_form.address|bootstrap}}</div>
            <div class="col-md-2 my-2">{{unit_form.zip_code|bootstrap}}</div>
            <div class="col-md-3 my-2">{{unit_form.city|bootstrap}}</div>
            <div class="col-md-3 my-2">
                <label for="id_state">Stan jednostki</label>
                <div class=form-control id="id_state">{{unit_form.status|bootstrap}}</div>
            </div>
            <div class="col-md-7 my-2">{{unit_form.information|bootstrap}}</div>
            <div class="col-md-5 my-2">{{unit_form.manager|bootstrap}}</div>
            <div class="d-flex justify-content-between">
                <div class="col-md-8 my-2">{{unit_form.comments|bootstrap}}</div>
                <div class="col align-self-end moj-button-right">
                    <button type="submit" class="btn btn-outline-primary">Zapisz</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-investments").classList.remove("active");
    document.getElementById("button-secretariat").classList.remove("active");
</script>
{%endblock%}

