{% extends 'base.html' %}
{% load static %}
{% block title %} Jednostki Policji w Województwie Wielkopolskim {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <h4 class="units-title">
            {% if actual_units == True %} Ewidencja lokalizacji jednostek Policji {%else%} Ewidencja zarchiwizowanych lokalizacji jednostek Policji {%endif%}
        </h4>
        {%if last_date%}
        <small>Ostatnia aktualizacja: {{last_date.change|date:'d.m.Y (H:i)'}}</small>
        {%endif%}
    </div>
    <div class="col-md-4 text-center">
        <form>
            <div class="d-inline-block mx-1 md-2 text-center">
                <label for="county" class="county">Powiat</label>
                <select id="county" name="p" class="form-control" aria-label="Default select example">
                    <option value="">--wybierz--</option>
                    {%if not query%}
                    {%for district in county%}
                    <option value={{district.id}}>{{district}}</option>
                    {%endfor%}
                    {%else%}
                    {%for district in county%}
                    <option value={{p}}>{{district}}</option>
                    {%endfor%}
                    {%endif%}
                </select>
            </div>
            <div class="d-inline-block mx-1 text-center">
                <label for="type" class="type">Rodzaj jednostki</label>
                <select id="type" name="r" class="form-control" aria-label="Default select example">
                    <option value="">--wybierz--</option>
                    {%for type in type_unit%}
                    <option value={{type.id}}>{{type}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="d-inline-block mx-1">
                <button id="searchButton" style="{%if query%} display:none; {%endif%}" type="submit" class="btn btn-outline-primary my-btn">Szukaj</button>
                <button id="cleanButton" style="{%if not query%} display:none; {%endif%}" type="submit" class="btn btn-outline-primary my-btn" onclick="cleanSearch()">Wyczyść</button>
            </div>
        </form>
    </div>
    <div class="col-md-4 moj-button-right align-self-end">
        {%if actual_units == True%}
        <a href="{% url 'units:archive_units_list'%}">
            <button class="btn btn-outline-danger">Archiwum</button>
        </a>
        {%else%}
        <a href="{% url 'units:units_list'%}">
            <button class="btn btn-outline-primary">Aktualne</button>
        </a>
        {%endif%}
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        {% if search%}
        <p><span>Liczba obiektów: <span class="badge text-white info badge-pill">{{unit_sum}}</span></span></p>
        {%endif%}
        {%if query%}
        <p><span>Znaleziono <span class="badge text-white info badge-pill">{{unit_sum_search}}</span> obiektów</span>
        </p>
        {%endif%}
    </div>
</div>
<table class="table table-hover my-table">
    <thead>
    <tr class="my-table-tr">
        <th align="center" valign="middle" width="60px" scope="col" class="text-center">L.p.</th>
        <th align="center" valign="middle" width="120" scope="col" class="text-center">Powiat</th>
        <th align="center" valign="middle" width="100" scope="col" class="text-center">Rodzaj jednostki</th>
        <th align="center" valign="middle" width="300" scope="col" class="text-center">Adres</th>
        <th align="center" valign="middle" width="150" scope="col" class="text-center">Kod pocztowy</th>
        <th align="center" valign="middle" width="250" scope="col" class="text-center">Miasto</th>
        <th align="center" valign="middle" width="400" scope="col" class="text-center">Obiekt</th>
        <th align="center" valign="middle" width="200" scope="col" class="text-center">Zarządca</th>
        <th align="center" valign="middle" width="50px" scope="col" class="text-center">Stan</th>
        {%if user.is_authenticated%}
        <th align="center" valign="middle" width="50px" scope="col" class="text-center"></th>
        {%endif%}
    </tr>
    </thead>
    <tbody>
    {% if actual_units == True %}
    {%for unit in units %}
    <tr class="my-table-tr">
        <td align="center" valign="middle" class="text-center" scope="row" width="80px"></td>
        <td align="center" valign="middle" width="120">{{unit.county}}</td>
        <td align="center" valign="middle" class="text-center">
            <span data-toggle="info" title="{{unit.type.type_full}}">{{unit.type.type_short}}</span>
        </td>
        <td valign="middle">{{unit.address}}</td>
        <td align="center" valign="middle" class="text-center">{{unit.zip_code}}</td>
        <td valign="middle" width="180">{{unit.city}}</td>
        <td valign="middle">{{unit.information}}</td>
        {%if unit.manager == 'Policja' %}
        <td valign="middle">{{unit.manager}}</td>
        {%else%}
        <td class="table-warning" valign="middle">{{unit.manager}}</td>
        {%endif%}
        {%if unit.status == True%}
        <td data-toggle="info" align="center" valign="middle" title="Działający"><i class="bi bi-circle-fill text-success"></i>
        </td>
        {%else%}
        <td data-toggle="info" align="center" valign="middle" title="Zdany"><i class="bi bi-x-circle-fill text-danger"></i></td>
        {%endif%}
        {%if user.is_authenticated%}
        <td data-toggle="info" align="center" valign="middle" >
            <a class="m-2" href="{%url 'units:show_all_info_unit' unit.id%}">
                <button data-toggle="info" title="Pokaż" type="submit" class="btn btn-outline-primary my-btn">
                    <i class="bi bi-info-lg"></i>
                </button>
            </a>
        </td>
        {%endif%}
    </tr>
    {%endfor%}

    {%else%}

    {%for unit in units_archive %}
    <tr class="my-table-tr">
        <td align="center" valign="middle" class="text-center" scope="row" width="80px"></td>
        <td align="center" valign="middle" width="120">{{unit.county}}</td>
        <td align="center" valign="middle" class="text-center">
            <span data-toggle="info" title="{{unit.type.type_full}}">{{unit.type.type_short}}</span>
        </td>
        <td valign="middle">{{unit.address}}</td>
        <td align="center" valign="middle" class="text-center">{{unit.zip_code}}</td>
        <td valign="middle" width="180">{{unit.city}}</td>
        <td valign="middle">{{unit.information}}</td>
        {%if unit.manager == 'Policja' %}
        <td valign="middle">{{unit.manager}}</td>
        {%else%}
        <td class="table-warning" valign="middle">{{unit.manager}}</td>
        {%endif%}
        {%if unit.status == True%}
        <td data-toggle="info" align="center" valign="middle" title="Działający"><i class="bi bi-circle-fill text-success"></i>
        </td>
        {%else%}
        <td data-toggle="info" align="center" valign="middle" title="Zdany"><i class="bi bi-x-circle-fill text-danger"></i></td>
        {%endif%}

    </tr>
    {%endfor%}

    {% endif %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="4" class="text-center">Wydział Inwestycji i Remontów KWP w Poznaniu</th>
    </tr>
    </tfoot>
</table>
<script>
    document.getElementById("button-units").classList.add("active");
    document.getElementById("button-record").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");
    document.getElementById("button-secretariat").classList.remove("active");

    $(function () {
        $('[data-toggle="info"]').tooltip()
    })

    function cleanSearch(){
        $("#p").val("").change();
        $("#r").val("").change();
        $("form").submit();
    }
</script>
{%endblock%}