{%extends 'base.html'%}
{%load static%}
{%block content%}
{%if user.accessmodule.inspections_module%}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="{%url 'constructioninspections:important_inspections'%}">
                <button type="button" class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        <div class="col-md-6 text-center">
            <h4 class="">Przeglądy instalacji elektrycznej - jednoroczne</h4>
        </div>
        {%if user.accessmodule.inspections_module_edit%}
        <div class="col-md-3 moj-button-right align-self-end">
            <a href="{%url 'constructioninspections:add_protocol' overview.name%}">
                <button type="button" class="btn btn-outline-primary my-btn">
                    <span class="bi bi-plus-circle"> Dodaj protokół</span>
                </button>
            </a>
        </div>
        {%endif%}
    </div>
</div>
<div class="container col-md-12 p-2 mt-2">
    {% regroup units by county as county_list %}
    {% for county in county_list %}
    <div class="my-4">
        <div class="text-center mb-4">
            <h5 class="color-info d-inline-block">{{county.grouper}}</h5>
        </div>
        {% for unit in county.list %}
        <div class="mt-1 list-group-item list-group-item-action list-group-item-light">
            <button type="button" class="button-show btn btn-outline btn-block" onclick="show(this)">
                <span class="">{{unit}}</span> |
                <span class="text-muted">Liczba budynków: </span><span class="badge text-white info badge-pill">{{unit.building.all|length}}</span>
            </button>
            <button style="display: none;" class="hide-on-start button-hide btn btn-outline btn-block" onclick="hide(this)">
                <span class="">{{unit}}</span> |
                <span class="text-muted">Liczba budynków: </span><span class="badge text-white info badge-pill">{{unit.building.all|length}}</span>
            </button>
        </div>
        <ul style="display: none;" class="list-group list-group-radius hide-on-start">
            {% for building in unit.building.all %}
            <li class="list-group-item  list-group-item-action list-group-item-warning">
                {%if building.electrical_inspection_one_year.all%}
                <button class="button-show btn btn-outline expand-collapse" onclick="show(this)">
                    <span class="bi bi-caret-down color-gold"> Rozwiń</span>
                </button>
                <button style="display: none;" class="hide-on-start button-hide btn btn-outline expand-collapse"
                        onclick="hide(this)">
                    <span class="bi bi-caret-up color-gold"> Zwiń</span>
                </button>
                {%endif%}
                <span class="pl-2">{{building.kind.kind}} | Nazwa: {{building.building_name}} | Nr. inwentarzowy: {{building.no_inventory}} | Aktywny: {%if building.state%}
                        <span class="bi bi-circle-fill text-success"></span>
                        {%else%}
                        <span class="bi bi-x-circle-fill text-danger"></span>
                        {%endif%}

                </span>
            </li>
            <ul style="display: none;" class="list-group list-group-flush hide-on-start mb-3">
                {% for protocol in building.electrical_inspection_one_year.all|dictsort:"date_next_inspection" reversed %}
                {% if protocol and protocol.inspection_name.id == 4 %}
                <li class="list-group-item list-group-item-action list-group-item-light style-row-protocol">
                    <a data-url="{%url 'constructioninspections:show_information' protocol.inspection_name.id protocol.id%}" class="btn btn-outline-secondary mx-2 tt" onclick="openModal(this)">
                        <span class="bi bi-arrow-return-right h4"></span><span> Protokół przeglądu z dnia {{protocol.date_protocol|date:"d.m.Y"}}&nbsp;r.</span>
                        | <small>Data następnego przeglądu
                        {{protocol.date_next_inspection|date:"d.m.Y"}}&nbsp;r.</small>
                        {%if forloop.first%}
                        <span class="color-teal">AKTUALNY</span>
                        {%endif%}
                    </a>
                </li>
                {%endif%}
                {%endfor%}
            </ul>
            {%endfor%}
        </ul>
        {%endfor%}
    </div>
    {%endfor%}
</div>
<!--MODAL-->
<div class="modal fade" id="protocolInfoModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-secretariat").classList.remove("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");

    $(function () {
        $('[data-toggle="info"]').tooltip()
    })

    function hide(element){
        $(element).parent().next().hide(300);
        $(element).hide(0);
        $(element).parent().children('.button-show').show(0);
    }

    function show(element){
        $(element).parent().next().show(300);
        $(element).hide(0);
        $(element).parent().children('.button-hide').show(0);
    }

    function openModal(button){
        var url = $(button).data("url");
        $("#protocolInfoModal .modal-content").load(url);
        $("#protocolInfoModal").modal("show");
        }

    function submitForm(){
        $("#submitButton").closest("form").submit();
        }

</script>
{%endif%}
{%endblock%}