{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="{%url 'constructioninspections:important_inspections'%}">
                <button type="button" class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        <div class="col-md-6 text-center">
            <h4 class="">Przeglądy przeciwpożarowe</h4>
        </div>
        <div class="col-md-3 moj-button-right align-self-end">
            <a href="{%url 'constructioninspections:add_protocol' overview%}">
                <button type="button" class="btn btn-outline-primary my-btn">
                    <span class="bi bi-plus-circle"> Dodaj protokół</span>
                </button>
            </a>
        </div>
    </div>
</div>

<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-secretariat").classList.remove("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");


</script>
{%endblock%}

