{% extends 'base.html' %}
{%load bootstrap%}
{% load humanize %}
{% load static %}
{% block title %}Ewidencja - Lokale Służbowe{% endblock %}
{% block content %}
{%if user.is_authenticated and user.accessmodule.official_flat_edit%}
<!--TODO do poprawy autentykacja-->

<div class="container col-md-6">
    <div class="row mb-5">
        <div class="col-md-3">
            <a {% if typeProtocol.id == 1%}
               href="{% url 'constructioninspections:create_buildings_one_year_inspections_list'%}"
               {%elif typeProtocol.id == 2%}
               href="{% url 'constructioninspections:create_buildings_five_year_inspections_list'%}"
               {%elif typeProtocol.id == 3%}
               href="{% url 'constructioninspections:create_chimney_inspection_list'%}"
               {%elif typeProtocol.id == 4%}
               href="{% url 'constructioninspections:create_electrical_inspection_one_year_list'%}"
               {%elif typeProtocol.id == 5%}
               href="{% url 'constructioninspections:create_electrical_inspection_five_year_list'%}"
               {%elif typeProtocol.id == 6%}
               href="{% url 'constructioninspections:create_heating_boilers_inspection_list'%}"
               {%elif typeProtocol.id == 7%}
               href="{% url 'constructioninspections:create_air_conditioners_inspection_list'%}"
               {%elif typeProtocol.id == 8%}
               href="{% url 'constructioninspections:create_fire_inspection_list'%}"
               {%endif%}
            >
                <button class="btn btn-outline-primary my-btn">
                    <span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        <div class="col-md-6">
            <h4 class="text-center">{%if new%}Nowy protokół {%else%}Edycja protokołu{%endif%}</h4>
            <h5 class="text-center">{{typeProtocol}}</h5>
        </div>
    </div>
    <div>
        <form class="row" method="post">
            {%csrf_token%}
            <div class="col-md-12 my-2">{{form.no_inventory|bootstrap}}</div>
            <div class="col-md-6 my-2" hidden>
                <div class="form-group">
                    <label class="control-label" for="id_inspection_name">Rodzaj przeglądu</label>
                    <div>
                        <select name="inspection_name" class=" form-control" required="" id="id_inspection_name"
                                aria-readonly="true">
                            <option value="{{typeProtocol.id}}">{{typeProtocol}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12 my-2">{{form.conclusions|bootstrap}}</div>
            <div class="col-md-6 my-2">{{form.date_protocol|bootstrap}}</div>
            <div class="col-md-6 my-2 moj-button-right">
                <button type="submit" class="btn btn-outline-primary my-btn mt-4">
                    <span class="bi bi-save2"> Dodaj protokół</span>
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");
    document.getElementById("button-investments").classList.remove("active");

    $(document).ready(function(){
        $("#id_no_inventory").select2({placeholder:'Szukaj budynku'});
    })


</script>
{%endif%}
{%endblock%}