{%load static%}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="{%static 'main/bootstrap/css/bootstrap.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/css/style.css'%}" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="{%static 'main/bootstrap//js/bootstrap.bundle.js'%}"></script>
    <!-- icon -->
    <link rel="shortcut icon" href="{%static 'main/media/logo.ico'%}" type="x-icon">

    <title>{%block title%} {%endblock%}</title>
</head>
<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom body fixed-top bg-col">
    <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none margin-left-0"><span class="fs-5">Zalogowany użytkownik: {{user.first_name}} {{user.last_name}} (ID: {{user.username}}) </span></a>
        <ul class="nav nav-pills">
<!--            nav-link-->
<!--            <li class="nav-item"><a href="#" class="btn btn-sm btn-outline-secondary mx-3" aria-current="page"><span>Aplikacje</span></a></li>-->
            <li class="nav-item"><a id="button-units" href="{%url 'units:units_list'%}" class="btn btn-sm btn-outline-secondary mx-3" ><span>Jednostki Policji</span></a></li>
            <li class="nav-item"><a id="button-invoices" href="{%url 'invoices:menu_invoices'%}" class="btn btn-sm btn-outline-secondary mx-3" ><span>Faktury</span></a></li>
            <li class="nav-item"><a id="button-contracts" href="{%url 'contracts:menu_contractsimmovables'%}" class="btn btn-sm btn-outline-secondary mx-3"><span>Umowy najmu</span></a></li>
            <li class="nav-item"><a id="button-contractors" href="{%url 'contractors:contractorssell_list'%}" class="btn btn-sm btn-outline-secondary mx-3"><span>Kontrahenci</span></a></li>
            <li class="nav-item"><a id="button-cpv" href="{%url 'cpvdict:cpvlist'%}" class="btn btn-sm btn-outline-secondary mx-3"><span>Słownik CPV</span></a></li>
            <li class="nav-item"><a href="" class="btn btn-sm btn-outline-secondary mx-5"><span>Wyloguj</span></a></li>
<!--            <li class="nav-item"><a class="nav-link" href="#"><span>Podatek od nieruchomości</span></a></li>-->
<!--            <li class="nav-item"><a class="nav-link" href="#"><span>Trwały zarząd</span></a></li>-->
<!--            <li class="nav-item"><a class="nav-link" href="#"><span>Przeglądy</span></a></li>-->
<!--            <li class="nav-item"><a class="nav-link" href="#"><span>Rodzajowość</span></a></li>-->

      </ul>
    </header>
    <div class="containter footer body header-top">
    {%block content%}

    {%endblock%}
</div>
<section class="fixed-bottom">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
       <p class="d-flex justify-content-center align-items-center"><a class="text-decoration-none link-light" href="{%url 'main:telephone_list'%}" target="_blank"><span>Spis telefonów</span></a></p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
        <span>© 2021 Wydział inwestycji i Remontów KWP w Poznaniu</span>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
</body>
</html>