{% load bootstrap %}
{% load static %}
{% block content %}
<div class="container ">
    <form class="m-2 p-5" method="post" action="{% url 'investments:add_contract_to_project' project_id %}"
          enctype="multipart/form-data">
        {%csrf_token%}
        <label for="contract">Umowy</label>
        <select id="contract" name="q" class="form-select" aria-label="Default select example">
            <option selected>--wybierz umowę--</option>
            {%for contract in add_contract%}
            <option value="{{contract.id}}">{{contract}}</option>
            {%endfor%}
        </select>
        <div class="row">
            <div class="col-md-12 moj-button-right mt-3">
                <button id="submitButton" type="submit" class="btn btn-outline-primary my-btn"><span
                        class="bi bi-save2"> Przypisz</span></button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

