{% extends 'base_investments.html' %}
{% load bootstrap %}
{% load static%}
{% load humanize %}
{% block investmentsmenu %}
{%if user.is_authenticated and user.accessmodule.investments_module%}
<div class="text-center">
    <h4>Ewidencja zadań inwestycyjnych</h4>
    {% if last_date %}
    <small>Ostatnia aktualizacja: {{last_date.change|date:"d.m.Y"}}&nbsp;r. ({{last_date.change|date:"H:i"}})</small>
    {%endif%}
</div>
<div class="row my-3">
    <div class="col-md-3 align-self-end">
        <span>Zadań: </span>
        <span class="badge text-white info badge-pill">{{projects_sum}}</span>
    </div>
    <div class="col-md-6">
        <div class="w-100 d-flex justify-content-center align-items-center flex-column text_center">
            <form method="get">
                <div class="input-group">
                    <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj darowizny" aria-label="Search" aria-describedby="search-addon" value="{%if query%}{{q}}{%endif%}">
                        <button id="searchButton" style="{%if query%}display:none;{%endif%}" type="submit" class="btn btn-outline-primary my-btn">Szukaj</button>
                        <button id="cleanButton"  style="{%if not query%}display:none;{%endif%}" type="button" class="btn btn-outline-primary my-btn" onclick="cleanSearch()">Wyczyść</button>
                </div>
            </form>
        </div>
    </div>
    {%if user.accessmodule.investments_module_edit%}
        <div class="col-md-3 moj-button-right align-self-end">
            <a href="{% url 'investments:add_new_project'%}">
                <button type="button" class="btn btn-outline-primary my-btn ">
                    <span class="bi bi-plus-circle"> Dodaj zadanie</span>
                </button></a>
        </div>
    {%endif%}
</div>
<div class="row">
    <table class="table table-hover my-table mt-2">
        <thead>
        <tr class="my-table-tr text-center">
            <th align="center" valign="middle" width="15" scope="col">L.p.</th>
            <th align="center" valign="middle" width="auto" scope="col">Okres realizacji</th>
            <th align="center" valign="middle" width="35%" scope="col">Nazwa zadania</th>
            <th align="center" valign="middle" width="auto" scope="col" data-toggle="info" title="Wartość Kosztorysowa Inwestycji">WKI</th>
            <th align="center" valign="middle" width="auto" scope="col">Jednostka</th>
        </tr>
        </thead>
        <tbody>
        {%for project in projects %}
        <tr class="my-table-tr">
            <td class="text-center" valign="middle" scope="row"></td>
            {%if project.realized%}
            <td align="center" valign="middle" scope="row" data-toggle="info" title="Zrealizowane">
                <span>{{project.date_of_acceptance|date:'m.Y'}}&nbsp;r. {%if project.date_of_settlement%} - {{project.date_of_settlement|date:'m.Y'}}&nbsp;r.{%endif%}</span>
            </td>
            {%else%}
            {%if project.date_of_acceptance%}
            <td align="center" valign="middle" scope="row" data-toggle="info" title="W trakcie realizacji">
                <span>{{project.date_of_acceptance|date:'m.Y'}}&nbsp;r.</span>
            </td>
            {%else%}
            <td align="center" valign="middle" scope="row" data-toggle="info" title="Brak akceptacji">
                <span>BRAK</span>
            </td>
            {%endif%}
            {%endif%}
            <td valign="middle">
                <span>{{project.project_title}}</span>
            </td>
            <td align="right" valign="middle">
                {%if project.investment_cost_estimate_value%}
                <span class="pe-3">{{project.investment_cost_estimate_value|intcomma}}&nbspzł.</span>
                {%endif%}
            </td>
            <td class="left" valign="middle" data-toggle="info" title="Powiat: {{project.unit.county.name}}">
                <span>{{project.unit.type.type_full}} - {{project.unit.city}}<br>
                    <small>{{project.unit.address}}, {{project.unit.zip_code}} {{project.unit.city}}</small>
                </span>
            </td>
            <td align="right"  valign="middle">
                <a href="{%url 'investments:show_project' project.id%}">
                    <button data-toggle="info" title="Pokaż" type="button" class="btn btn-outline-primary icon-color my-1 m-2">
                        <i class="bi bi-eye"></i>
                    </button></a>
                {%if user.accessmodule.investments_module_edit%}
                <a href="{%url 'investments:edit_project' project.id%}">
                    <button data-toggle="info" title="Edytuj" type="submit" class="btn btn-outline-primary icon-color my-1 m-2">
                        <i class="bi bi-pencil-square"></i>
                    </button></a>
                {%endif%}
            </td>
        </tr>
        {%endfor%}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="7">Wydział Inwestycji i Remontów KWP w Poznaniu</th>
        </tr>
        </tfoot>
    </table>

<!--Paginator-->
   {%if search%}
    <nav aria-labelledby="Page navigation">
        <ul class="pagination justify-content-center">
            {%if projects.has_previous%}
            <li class="page-item">
                <a class="page-link" href="?page={{projects.previous_page_number}}">Poprzednia</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Poprzednia</a>
            </li>
            {%endif%}
            {%for i in projects.paginator.page_range%}
            {%if projects.number == i%}
            <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{i}}
                <span class="sr-only"></span>
            </span>
            </li>
            {%else%}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {%endif%}
            {%endfor%}
            {%if projects.has_next%}
            <li class="page-item">
                <a class="page-link" href="?page={{projects.next_page_number}}">Następna</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Następna</a>
            </li>
            {%endif%}
        </ul>
    </nav>
    {%endif%}
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.remove("active");
    document.getElementById("button-investments").classList.add("active");
    document.getElementById("button-projects").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");

    $(function () {
        $('[data-toggle="info"]').tooltip()
        })

    function cleanSearch(){
        $("#q").val("");
        $("form").submit();
        }
</script>
{%endif%}
{% endblock %}