{% extends 'base_investments.html' %}
{% load bootstrap %}
{% load static%}
{% block investmentsmenu %}
<p>treść</p>

<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.remove("active");
     document.getElementById("button-cpv").classList.remove("active");
     document.getElementById("button-cpvnotaut").classList.remove("active");
     document.getElementById("button-investments").classList.add("active");
</script>
{% endblock %}