{%extends 'base_investments.html'%}
{%load static%}
{%load bootstrap%}
{%block title%}{%if new%}Nowe zadanie{%else%}Edycja zadania{%endif%}{%endblock%}
{%block investmentsmenu%}
<div class="container">
    <h3 class="text-center m-4">{%if new%}Nowe zadanie inwestycyjne{%else%}Edycja zadania inwestycyjnego{%endif%}</h3>
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-2 mb-3">{{project_form.date_of_acceptance|bootstrap}}</div>
            <div class="col-md-2 mb-3">{{project_form.no_acceptance_document|bootstrap}}</div>
            <div class="col-md-2 mb-3">{{project_form.investment_cost_estimate_value|bootstrap}}</div>
            <div class="col-md-6 mb-3">{{project_form.investment_program|bootstrap}}</div>
            <div class="col-md-6 mb-3">{{project_form.project_title|bootstrap}}</div>
            <div class="col-md-6 mb-3">
                <label class="control-label" for="id_unit">Jednostka</label>
                <div class="">
                    <select name="unit" class="form-control" required id="id_unit">
                        {% regroup units by county as county_list %}
                        <option>---------</option>
                        {% for county in county_list %}
                        <optgroup label="{{county.grouper}}">
                            {% for unit in county.list %}
                            {% if project_form.unit.value == unit.id %}
                            <option value="{{unit.id}}" selected>{{unit}}</option>
                            {% else %}
                            <option value="{{unit.id}}">{{unit}}</option>
                            {% endif %}
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-2 mb-3">{{project_form.section|bootstrap}}</div>
            <div class="col-md-2 mb-3">{{project_form.group|bootstrap}}</div>
            <div class="col-md-2 mb-3">{{project_form.paragraph|bootstrap}}</div>
            <div class="col-md-6 mb-3">{{project_form.worker|bootstrap}}</div>
            <div class="col-md-10 mb-3">
                <div class="row mb-3">
                    <div class="col-md-6">{{project_form.source_financing|bootstrap}}</div>
                    <div class="col-md-6">{{project_form.information|bootstrap}}</div>
                </div>
            </div>
            <div class="col-md-2">
                {%if new == False%}
                <div class="list-group">
                    <small>Stan zadania</small>
                    <div class="list-group-item">{{project_form.realized|bootstrap}}</div>
                </div>

                <div class="list-group mt-2">
                    <button type="button" class="btn btn-outline-primary my-btn" onclick="openModal()">
                        <span class="bi bi-folder-plus"> Podepni umowę</span>
                    </button>
                </div>

            </div>
            <div class="col-md-2">{{project_form.date_of_settlement|bootstrap}}</div>
            <div class="col-md-8">{{project_form.settlement_scan|bootstrap}}</div>
            {%endif%}
            <div class="col-md-2 moj-button-right my-4">
                <button type="submit" class="btn btn-outline-primary my-btn">
                    {%if new%}
                    <span class="bi bi-save2"> Dodaj zadanie</span>
                    {%else%}
                    <span class="bi bi-save2"> Zapisz zmiany</span>
                    {%endif%}
                </button>
            </div>
        </div>
    </form>
</div>
{%if new == False%}
<!-- Modal -->
<div class="modal fade" id="projectModal" data-url="{% url 'investments:add_contract_to_project' project.id %}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
{%endif%}
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.remove("active");
    document.getElementById("button-investments").classList.add("active");
    document.getElementById("button-contractzzp").classList.remove("active");
    document.getElementById("button-projects").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");

    function openModal(){
        var url = $("#projectModal").data("url");
        $("#projectModal .modal-content").load(url);
        $("#projectModal").modal("show");
    }

    function submitForm(){
        $("#submitButton").closest("form").submit();
    }

    $(document).ready(function(){
        $("#id_worker").select2({placeholder:'Dodaj pracownika'});
    })
</script>
{%endblock%}