{% load static %}
{% load thumbnail %}
{% load bootstrap %}
{% block content %}
<div class="container">
<form class="m-2 p-4" method="GET" action="{% url 'investments:show_galleries_popup' id %}">
    {%csrf_token%}
    <div class="row">
    {%for gallery in galleries%}
        <div class="col-4 mb-2 my-2">
            <div class="card h-100">
                {%thumbnail gallery.photo.first.src '300x250' crop='center' as im%}
                <img class="card-img-top" src={{im.url}} alt="">
                {%endthumbnail%}
                <div class=" text-center">
                    <small class="card-title text-center"><b>{{gallery.name}} r.</b></small>
                </div>
                <div class="card-footer text-center">
                    <a href="{%url 'gallery:gallery_details' gallery.id%}" class="btn btn-outline-primary my-btn"
                       target="_blank">Pokaż</a>
                </div>
            </div>
        </div>
    {%endfor%}
    </div>
</form>
</div>
{%endblock%}

