{% extends 'base.html'%}
{% load bootstrap %}
{% load humanize %}
{% load static %}
{% load thumbnail%}
{% block title %} {{project_form.project_title}} {% endblock %}
{% block content %}
{%if user.is_authenticated and user.accessmodule.investments_module%}
{%block additional_scripts%}
{{project_form.media}}
<div class="row d-flex justify-content-center">
    <div class="row col-md-9">
        <div class="col-md-2 moj-button-left">
            <a href="{%url 'investments:investment_projects_list'%}">
                <button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span>
                </button>
            </a>
        </div>
        <div class="col-md-10 text-center">
            <h3>Zadanie inwestycyjne</h3>
            <h4>{{project_form.project_title}} ({{project_form.date_of_acceptance|date:"Y"}}
                {%if project_form.date_of_settlement%} - {{project_form.date_of_settlement|date:"Y"}}{%endif%})</h4>
            <small class="text-muted">Dta utworzenia: {{project_form.creation_date|date:'d.m.Y'}}&nbsp;r.
                ({{project_form.creation_date|date:'H:i'}})</small>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <h6 class="bi bi-building pb-2">
                    {%if project_form.unit.type.type_full == 'Inne'%}
                    {%else%} {{project_form.unit.type.type_full}} {%endif%}
                    {{project_form.unit.city}}</h6>
                <h6 class="mb-2 text-muted bi bi-geo-alt"> {{project_form.unit.address}},
                    {{project_form.unit.zip_code}}, {{project_form.unit.city}}</h6>
                <h6 class="mb-2 text-muted">Powiat: {{project_form.unit.county}}
                    ({{project_form.unit.county.swop_id}})</h6>

            </div>
            <div class="col-md-3">
                <h6 class="bi bi-journal-check pb-2"> Program inwestycji</h6>
                <h6 class="mb-2 text-muted">Data akceptacji:
                    {{project_form.date_of_acceptance}} r.
                    {% if project_form.no_acceptance_document %}
                    {{project_form.no_acceptance_document}}
                    {% endif %}
                </h6>
                <h6 class="mb-1 text-muted" title="Wartość kosztorysowa Inwestycji">
                    WKI: {{project_form.investment_cost_estimate_value|intcomma}}&nbsp;zł.</h6>
                {%if project_form.investment_program%}
                <div class="float-right">
                    <a class="btn btn-secondary btn-sm bi bi-file-text"
                       href="/media/{{project_form.investment_program}}" role="button" target="_blank">
                        Skan
                    </a>
                </div>
                {%endif%}
            </div>
            <div class="col-md-3">
                <h6 class="bi bi-person-lines-fill pb-2"> Branżysta</h6>
                {%for worker in project_form.worker.all%}
                <h6 class="mb-2 text-muted">
                    <span data-toggle="info" title="{{worker.industry}}">{{worker.name}} {{worker.last_name}}</span>
                </h6>
                {%endfor%}
            </div>
            <div class="col-md-3">
                <h6 class="bi bi-journal-bookmark pb-2"> Rozliczenie</h6>
                {%if project_form.date_of_settlement%}
                <h6 class="text-muted">Data rozliczenia:
                    {{project_form.date_of_settlement}}&nbsp;r.</h6>
                {%endif%}
                {%if project_form.settlement_scan%}
                <div>
                    <a class="btn btn-secondary btn-sm bi bi-file-text"
                       href="/media/{{project_form.settlement_scan}}" role="button" target="_blank">
                        Skan
                    </a>
                </div>
                {%endif%}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="bi bi-bank pb-2">Źródło finansowania</h6>
                        <small class="card-subtitle text-muted">Rozdział: <b>{{project_form.section}}</b></small>
                        <small class="card-subtitle text-muted">Paragraf: <b>{{project_form.group}}
                            {{project_form.paragraph}}</b></small><br>
                        <p class="card-subtitle text-muted">{{project_form.source_financing|safe}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class=" bi bi-info-square">Informacje</h6>
                        <p class=" text-muted">{{project_form.information|safe}}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-3">
        <div class="">
            <small class="text-muted">Autor: {{project_form.author.first_name}}
                {{project_form.author.last_name}}</small><br>
            <small class="text-muted">Zmiany: {{project_form.change|date:'d.m.Y'}}&nbsp;r.
                ({{project_form.change|date:'H:i'}})</small>
        </div>
    </div>
    <div class="col-md-3 text-center d-flex align-content-between flex-wrap">
        <div class="col-md-12">
            <h6 class="bi bi-folder text-center"> Umowy realizujące zadanie</h6>
            <div class="my-4">
                <ul class="list-group">

                    {%for contract in contracts%}
                    {%if contract.scan%}
                    <li class="list-group m-1">
                        <a class="list-group-item list-group-item-action w-100" href="/media/{{contract.scan}}"
                           target="_blank">
                            <i class="bi bi-arrow-return-right">
                                <span> {{contract.no_contract}} z dnia {{contract.date|date:"d.m.Y"}}</span>
                            </i>
                        </a>
                    </li>
                    {%else%}
                    <li class="list-group m-1">
                        <a class="list-group-item list-group-item-action btn " data-toggle="info" title="BRAK SKANU">
                            <i class="bi bi-arrow-return-right">
                                <span> {{contract.no_contract}} z dnia {{contract.date|date:"d.m.Y"}}</span>
                            </i>
                        </a>
                    </li>
                    {%endif%}
                    {%endfor%}
                </ul>
            </div>
        </div>
        {%if user.accessmodule.gallery_module_edit%}
        {%if galleries%}
        <div class="col-md-12 mb-5">
            <a class="btn btn-outline-primary my-btn" onclick="openModal()">
                <span class="bi bi-images"> Galeria</span></a>
        </div>
        {%endif%}
        {%endif%}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="galleryModal" data-url="{%url 'investments:show_galleries_popup' project_form.id%}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<script>
    document.getElementById("button-units").classList.remove("active");
    document.getElementById("button-record").classList.remove("active");
    document.getElementById("button-investments").classList.add("active");
    document.getElementById("button-cpv").classList.remove("active");

    function openModal(){
        var url = $(galleryModal).data("url");
        $("#galleryModal .modal-content").load(url);
        $("#galleryModal").modal("show");
        }

    function submitForm(){
        $("#submitButton").closest("form").submit();
        }
</script>
{%endblock%}
{%endif%}
{%endblock%}