{% extends 'base.html'%}
{% load bootstrap %}
{% load humanize %}
{% load static %}
{% load thumbnail%}
{% block title %} {{project_form.project_title}} {% endblock %}
{% block content %}
<div class="row">
    <div class="row col-md-10">
        <div class="col-md-2 moj-button-left"><a href="{%url 'investments:investment_projects_list'%}">
            <button class="btn btn-outline-primary my-btn"><span class="bi bi-chevron-compact-left">Cofnij</span>
            </button>
        </a>
        </div>
        <div class="col-md-10 text-center">
            <h3>Zadanie inwestycyjne</h3>
            <h4>{{project_form.project_title}} ({{project_form.date_of_acceptance|date:"Y"}}{%if project_form.date_of_settlement%} - {{project_form.date_of_settlement|date:"Y"}}{%endif%})</h4>
        </div>
        <div class="container">
            <div class="row my-3">
                <div class="d-flex justify-content-between">
                    <div class="container col-md-auto mx-1">
                        <div class="card col-md-12">
                            <div class="card-body">
                                <h6 class="card-title bi bi-building pb-2 ">{%if project_form.unit.type.type_full == 'Inne'%} {%else%} {{project_form.unit.type.type_full}} {%endif%}
                                    {{project_form.unit.city}}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Powiat: {{project_form.unit.county}}
                                    ({{project_form.unit.county.swop_id}})</h6>
                                <h6 class="card-subtitle mb-2 text-muted bi bi-geo-alt"> {{project_form.unit.address}},
                                    {{project_form.unit.zip_code}}, {{project_form.unit.city}}</h6>
                                <small class="card-text">Trwały zarząd: {{project_form.unit.manager}} </small>
                            </div>
                        </div>
                    </div>
                    <div class="container col-md-auto mx-1">
                        <div class="card col-md-12">
                            <div class="card-body">
                                <h6 class="card-title bi bi-journal-check pb-2">Program inwestycji</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Data akceptacji programu:
                                    {{project_form.date_of_acceptance}} r.</h6>
                                <h6 class="card-subtitle mb-2 text-muted">L.dz.:
                                    {{project_form.no_acceptance_document}}</h6>
                                <h6 class="card-subtitle mb-1 text-muted" title="Wartość kosztorysowa Inwestycji">WKI:
                                    {{project_form.investment_cost_estimate_value|intcomma}} zł.</h6>
                                {%if project_form.investment_program%}
                                <div class="float-right">
                                    <a href="/media/{{project_form.investment_program}}" role="button"
                                       target="_blank">
                                        <button class="card-text btn btn-secondary btn-sm bi bi-file-text"
                                                type="button">Skan
                                        </button>
                                    </a>
                                </div>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    {%if project_form.realized%}
                    <div class="container col-md-auto mx-1">
                        <div class="card col-md-12 ">
                            <div class="card-body">
                                <h6 class="card-title bi bi-journal-bookmark pb-2">Rozliczenie</h6>
                                {%if project_form.date_of_settlement%}
                                <h6 class="card-subtitle mb-2 mt-1 text-muted">Data rozliczenia:
                                    {{project_form.date_of_settlement}} r.</h6>
                                {%endif%}
                                {%if project_form.settlement_scan%}
                                <div class="float-right">
                                    <a href="/media/{{project_form.settlement_scan}}" role="button"
                                       target="_blank">
                                        <button class="card-text btn btn-secondary btn-sm bi bi-check-square-fill"
                                                type="button">Rozliczenie
                                        </button>
                                    </a>
                                </div>
                                {%endif%}
                            </div>
                        </div>

                    </div>
                    {%endif%}
                    <div class="container col-md-auto mx-1">
                        <div class="card col-md-12">
                            <div class="card-body">
                                <h6 class="card-title bi bi-person-lines-fill pb-2">Majster</h6>
                                {%for worker in project_form.worker.all%}
                                <h6 class="card-subtitle mb-2 text-muted">{{worker.name}} {{worker.last_name}} - <small>{{worker.industry}}</small>
                                </h6>{%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row my-2">
                <div class="d-flex justify-content-between">
                    <div class="container col-md-6 mx-1">
                        <div class="card col-md-auto">
                            <div class="card-body">
                                <h6 class="card-title bi bi-safe">Źródło finansowania</h6>
                                <small class="card-subtitle text-muted">Rozdział: <b>{{project_form.section}}</b></small>
                                <small class="card-subtitle text-muted">Paragraf: <b>{{project_form.group}}
                                    {{project_form.paragraph}}</b></small><br>
                                <small class="card-subtitle text-muted">{{project_form.source_financing}}</small>
                            </div>
                        </div>
                    </div>
                    {%if project_form.information%}
                    <div class="container col-md-5 mx-1">
                        <div class="card col-md-auto">
                            <div class="card-body mx-1">
                                <h6 class="card-title bi bi-info-square">Informacje</h6>
                                <small class="card-subtitle text-muted">{{project_form.information}}</small>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center d-flex align-content-between flex-wrap">
        <div class="col-md-12">
            <h6 class="bi bi-folder text-center"> Umowy realizujące zadanie</h6>
            {%for contract in contracts%}
                <div class="my-4">
                    <a href="/media/{{contract.scan}}" target="_blank">
                        <button class="btn btn-outline-primary button-chose-invoices my-btn">
                            <i class="bi bi-arrow-return-right">
                                <span> {{contract.no_contract}} z dnia {{contract.date|date:"d.m.Y"}}</span>
                            </i>
                        </button>
                    </a>
                </div>
            {%endfor%}
        </div>
        {%if user.accessmodule.gallery_module_edit%}
        {%if galleries%}
        <div class="col-md-12 mb-5">
            <a class="btn btn-outline-primary my-btn" onclick="openModal()"><span class="bi bi-images"> Galeria</span></a>
        </div>
        {%endif%}
        {%endif%}
    </div>
</div>
<hr class="my-4">
<!-- Modal -->
<div class="modal fade" id="galleryModal" data-url="{%url 'investments:show_galleries_popup' project_form.id%}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
     document.getElementById("button-units").classList.remove("active");
     document.getElementById("button-invoices").classList.remove("active");
     document.getElementById("button-contracts").classList.remove("active");
     document.getElementById("button-contractors").classList.remove("active");
     document.getElementById("button-investments").classList.add("active");
     document.getElementById("button-projects").classList.add("active");
     document.getElementById("button-contractors").classList.remove("active");
      function openModal(){
            var url = $(galleryModal).data("url");
            $("#galleryModal .modal-content").load(url);
            $("#galleryModal").modal("show");
        }
        function submitForm(){
            $("#submitButton").closest("form").submit();
        }
</script>
{%endblock%}