/* MAIN */
.body{
    /*color: #2F4F4F;*/
    /*rgb(33, 36, 53);*/
    /*background-color: hsl(85,67%,96%);*/
    font-family: arial;
    margin: auto 0;
    padding: 0 30px;
    color: #2F4F4F;
    }
.bg-col{
    background-color: #F5F5F5;
}

.header-top {
    margin-top: 100px;
}

.footer {
        margin-bottom: 120px;
		}

.margin-left-0{
    margin-left: 0!important;
}
/*telephone*/
.tel-h{
    margin-bottom:20px;
}

.tel-table{
    caption-side:top;
    margin-bottom:50px;
}
.tel-table-caption{
    text-align:center;
    color: #0a4275;
    font-size:20px;
}

/* CONTRACTORS */
.moj-button-left{
    text-align:left;
}

.moj-button-right{
    text-align: right;
}

.kontrahenci-title h4{
    margin: 5px 0 0;
    text-align: center;
}
/* CONTRACTS */
.moj-button-left{
    text-align:left;
}

.moj-button-right{
    text-align:right;
}


.chose-contracts {
    text-align: center;
}

.button-choise-contracts{
    margin: 0 15px;
}

.umowy-title h4{
    margin: 5px 0 ;
    text-align: center;
}

/* INVOICES */
.chose-invoices {
    text-align: center;
}

.button-chose-invoices {
    margin: 0 15px;
}

/* SOURCEFINANCING */

/* UNITS */
.units-title{
    margin: 25px 0 10px;

    text-align: center;
}

.my-table {
  counter-reset: rowNumber -1;
}

.my-table-tr {
  counter-increment: rowNumber;
}

.my-table-tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}


