.body{
    /*color: #2F4F4F;*/
    /*rgb(33, 36, 53);*/
    /*background-color: hsl(85,67%,96%);*/
    font-family: arial;
    margin: auto 1rem;
    color: #2F4F4F;
    }

.footer {
        margin-bottom: 50px;

		}

.kontrahenci-title h4{
    margin: 20px 0 ;
    text-align: center;
}

.nowy-kontrahent-button{
    float:right;
}

.margin-left-0{
    margin-left: 0!important;
}

.my-footer {
    position: fixed;
    padding-bottom: 10px!important;
    width: 90%;
    height: 10px;
    color: aliceblue;
    bottom: 1px;
    left: 5%;
    right: 5%;

    border-radius: 80px 80px 15px 15px;
}

